{% extends "admin/base.html" %}

{% load i18n bootstrap django_tables2 %}

{% block layout %}{{ block.super }} users{% endblock %}

{% block meta.title %}
	{% trans 'Create User' %} | {{ block.super }}
{% endblock %}

{% block article %}
	<h1>{% trans 'Create Admin' %}</h1>
	{% if created_user %}
		<div class="alert alert-success">
			User {{ created_user.get_full_name }} has been created successfully! Activation url has been sent by email.
		</div>
	{% endif %}
	<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
		{% csrf_token %}
		{% if form.non_field_errors %}
			<div class="field alert alert-warning">
				{{ form.non_field_errors }}
			</div>
		{% endif %}
		<div class="form-group{% if form.firstname.errors %} has-error{% endif %}">
			<div class="control-label col-sm-4">
				{{ form.firstname.label_tag }}
			</div>
			<div class="col-sm-8">
				{{ form.firstname|addclass:'form-control' }}
				{% include 'includes/help-block.html' with field=form.firstname %}
			</div>
		</div>
		<div class="form-group{% if form.lastname.errors %} has-error{% endif %}">
			<div class="control-label col-sm-4">
				{{ form.lastname.label_tag }}
			</div>
			<div class="col-sm-8">
				{{ form.lastname|addclass:'form-control' }}
				{% include 'includes/help-block.html' with field=form.lastname %}
			</div>
		</div>
		<div class="form-group{% if form.email.errors %} has-error{% endif %}">
			<div class="control-label col-sm-4">
				{{ form.email.label_tag }}
			</div>
			<div class="col-sm-8">
				{{ form.email|addclass:'form-control' }}
				{% include 'includes/help-block.html' with field=form.email %}
			</div>
		</div>
		<div class="form-group{% if form.cemail.errors %} has-error{% endif %}">
			<div class="control-label col-sm-4">
				{{ form.cemail.label_tag }}
			</div>
			<div class="col-sm-8">
				{{ form.cemail|addclass:'form-control' }}
				{% include 'includes/help-block.html' with field=form.cemail %}
			</div>
		</div>
		<div class="form-group{% if form.c_admin.errors %} has-error{% endif %}">
			<div class="control-label col-sm-4">
				{{ form.c_admin.label_tag }}
			</div>
			<div class="col-sm-8">
				{{ form.c_admin|addclass:'form-control' }}
				{% include 'includes/help-block.html' with field=form.c_admin %}
			</div>
		</div>
		<div class="form-group form-actions">
			<div class="col-sm-offset-4 col-sm-8">
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
		</div>
	</form>
{% endblock article %}