{% extends "admin/base.html" %}

{% load i18n django_tables2 %}

{% block layout %}{{ block.super }} users{% endblock %}

{% block meta.title %}
	{% trans 'Anonymous Users' %} | {{ block.super }}
{% endblock %}

{% block article %}
	<div class="header">
		<h1>{% trans 'Anonymous Users' %}</h1>
	</div>
	{% include 'admin/user/user_menu.html' with active='anonymous' %}
	{% render_table table_ausers %}
{% endblock %}