{% extends "admin/base.html" %}

{% load i18n navigation django_tables2 %}

{% block layout %}{{ block.super }} users{% endblock %}

{% block meta.title %}
	{% trans 'User Profile' %} | {{ block.super }}
{% endblock %}

{% block article %}
	<h1>{% trans 'User Profile' %}</h1>
	<div class="row">
		<div class="col-md-6">
			<table cellspacing="0" class="profile">
				<tbody>
					<tr>
						<th>First Name:</th>
						<td>{{ customer.first_name }}</td>
					</tr>
					<tr>
						<th>Last Name:</th>
						<td>{{ customer.last_name }}</td>
					</tr>
					<tr>
						<th>E-mail address:</th>
						<td>{{ customer.email }}</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12">
				<a href="{% url 'quote_list'%}?customer={{customer.email}}">Show user's insurances</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<table cellspacing="0" class="profile">
				<tbody>
					{% for name, value in profile.customer_data %}
						<tr>
							<th>{{ name }}:</th>
							<td>{{ value|default:'-' }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}