<ul class="nav nav-tabs">
	<li{% if active == 'registered' %} class="active"{% endif %}><a href="{% url 'users_registered' %}">Registered Users</a></li>
	<li{% if active == 'anonymous' %} class="active"{% endif %}><a href="{% url 'users_anonymous' %}">Anonymous Users</a></li>
	<li{% if active == 'admins' %} class="active"{% endif %}><a href="{% url 'users_admins' %}">Admin Users</a></li>
</ul>