{% extends "admin/base.html" %}

{% load i18n django_tables2 %}

{% block layout %}{{ block.super }} users{% endblock %}

{% block meta.title %}
	{% trans 'Admin Users' %} | {{ block.super }}
{% endblock %}

{% block article %}
	<div class="header">
		<h1>{% trans 'Admin Users' %}</h1>
		<nav class="page-nav">
			<ul>
				{% if perms.admin.can_create_admins %}
					<li><a href="{% url 'add_admin' %}" class="btn btn-primary btn-sm"><span class="fa fa-plus-square left"></span> Create Admin</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
	{% include 'admin/user/user_menu.html' with active='admins' %}
	{% render_table table_admins %}
{% endblock %}