{% extends "base.html" %}

{% load i18n %}

{% block layout %} signin two-column{% endblock %}

{% block content %}
	<div class="row">
		<aside class="col-md-3">
			<nav class="aside-nav text-center">
				<div style="padding:25px;">
					<span class="fa fa-user fa-4x"></span>
					<h3 style="margin:15px 0 5px;font-size:16px;">{{ user.get_full_name }}</h3>
					<div class="email">{{ user.email }}</div>
				</div>
				<ul>
					<li class="an-1"><a href="{% url 'insurances' %}">Insurances</a></li>
					<li class="an-2"><a href="{% url 'proposals' %}">Proposals</a></li>
					<li class="an-3"><a href="{% url 'profile' %}">Personal data</a></li>
				</ul>
			</nav>
		</aside>
		<div class="col-md-9">
			<article>
				{% block article %}{% endblock %}
			</article>
		</div>
	</div>
{% endblock %}