{% extends "base.html" %}

{% load i18n navigation %}

{% block meta.title %}
	{% trans 'Logout' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs.content %}
	{% breadcrumbs _('Logout') %}
{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'You have successfully logged out' %}</h1>
		{% url 'index' as index_url %}
		{% url 'signin' as signin_url %}
		<h2 class="subheading">{% blocktrans with index=index_url signin=signin_url %}You can go to the <a href="{{ index }}">homepage</a> or <a href="{{ signin }}">sign in</a> again.{% endblocktrans %}</h2>
	</article>
{% endblock %}