{% extends "base.html" %}

{% load i18n bootstrap %}

{% block meta.title %}
	{% trans 'Create new password' %} | {{ block.super }}
{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'Create new password' %}</h1>
		{% include 'includes/messages.html' %}
		{% if validlink %}
			<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-9">
						<fieldset class="section described">
							<div class="form-group{% if form.new_password1.errors %} alert alert-warning{% endif %}">
								<div class="control-label col-sm-4">
									<label for="id_new_password1">New password:</label>
								</div>
								<div class="col-sm-8">
									{{ form.new_password1|addclass:'form-control' }}
									{% include 'includes/help-block.html' with field=form.new_password1 %}
								</div>
							</div>
							<div class="form-group{% if form.new_password2.errors %} alert alert-warning{% endif %}">
								<div class="control-label col-sm-4">
									<label for="id_new_password2">Confirm password:</label>
								</div>
								<div class="col-sm-8">
									{{ form.new_password2|addclass:'form-control' }}
									{% include 'includes/help-block.html' with field=form.new_password2 %}
								</div>
							</div>
							<div class="form-group form-actions">
								<div class="col-sm-8 col-sm-offset-4">
									<button class="btn btn-primary" type="submit">Save <span class="fa fa-chevron-right"></span></button>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-md-3 description">
						<h3>New password</h3>
						<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
					</div>
				</div>
			</form>
		{% else %}
			<h2 class="subheading">The link is invalid, possibly because it has already been used. Please request for new one or contact <a href="{% url 'contact_page' %}">Customer Service</a> for further assistance.</h2>
		{% endif %}
	</article>
{% endblock %}