{% extends "base.html" %}

{% load i18n %}

{% block meta.title %}
	{% trans 'Check your e-mail' %} | {{ block.super }}
{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'Check your e-mail' %}</h1>
		<p>If the e-mail address you entered is associated with a customer account in our records, you will receive an e-mail with instructions for creating new password. If you don't receive this e-mail, please check your junk mail folder or contact <a href="{% url 'contact_page' %}">Customer Service</a> for further assistance.</p>
	</article>
{% endblock %}