{% extends "base.html" %}

{% load i18n navigation %}

{% block meta.title %}
	{% trans 'New password has been set' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs.content %}
	{% breadcrumbs _('New password has been set') %}
{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'New password has been set' %}</h1>
		<h2 class="subheading">Your password has been changed. You may go ahead and <a href="{% url 'signin' %}">sign in</a> now.</h2>
	</article>
{% endblock %}