{% extends "base.html" %}

{% load i18n bootstrap %}

{% block meta.title %}
	{% trans 'Registration' %} | {{ block.super }}
{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'Registration' %}</h1>
		<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described">
						{% if form.non_field_errors %}
							<div class="form-group alert alert-danger">
								{% for error in form.non_field_errors %}
									<p>{{ error }}</p>
								{% endfor %}
							</div>
						{% endif %}
						<div class="form-group{% if form.firstname.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label for="id_firstname">First name</label>
							</div>
							<div class="col-sm-8">
								{{ form.firstname|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=form.firstname %}
							</div>
						</div>
						<div class="form-group{% if form.lastname.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label for="id_lastname">Last name</label>
							</div>
							<div class="col-sm-8">
								{{ form.lastname|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=form.lastname %}
							</div>
						</div>
						<div class="form-group{% if form.email1.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label for="id_email1">E-mail address</label>
							</div>
							<div class="col-sm-8">
								{{ form.email1|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=form.email1 %}
							</div>
						</div>
						<div class="form-group{% if form.email2.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label for="id_email2">Confirm E-mail</label>
							</div>
							<div class="col-sm-8">
								{{ form.email2|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=form.email2 %}
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label style="margin-bottom:0;"><strong>Protect your information with a password</strong>. This will be your only BestQuote password.</label>
							</div>
						</div>
						<div class="form-group{% if form.password1.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label for="id_password1">Enter a new password</label>
							</div>
							<div class="col-sm-8">
								{{ form.password1|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=form.password1 %}
							</div>
						</div>
						<div class="form-group{% if form.password2.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label for="id_password2">Confirm password</label>
							</div>
							<div class="col-sm-8">
								{{ form.password2|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=form.password2 %}
							</div>
						</div>
						<div class="form-group form-actions">
							<div class="col-sm-8 col-sm-offset-4">
								<button class="btn btn-primary" type="submit">Create account</button>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Create user account</h3>
					<p>Enter your name, e-mail address and choose password.</p>
				</div>
			</div>
		</form>
	</article>
{% endblock %}