{% extends "base.html" %}

{% load i18n bootstrap %}

{% block layout %}signin{% endblock %}

{% block meta.title %}
	{% trans 'Sign In' %} | {{ block.super }}
{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'Sign In' %}</h1>
		{% include 'includes/messages.html' %}
		<form action="{% url 'signin' %}" method="post" class="form-horizontal signin">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described">
						<div class="form-group">
							<div class="col-sm-12">
								<h4><strong>What is your e-mail address?</strong></h4>
							</div>
						</div>
						<div class="form-group">
							<div class="control-label col-sm-4">
								<label for="id_username">My e-mail address is:</label>
							</div>
							<div class="col-sm-8">
								<input type="text" id="id_username" name="username" value="{{ username }}" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12" style="margin-top:15px;">
								<h4><strong>Do you have a BestQuote password?</strong></h4>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-4 radio" style="padding-top:0;">
								<ul>
									<li>
										<label for="registration">
											<input type="radio" name="signin_type" id="registration" value="registration" />
											No, I am a new customer
										</label>
									</li>
									<li>
										<label for="login">
											<input type="radio" name="signin_type" id="login" value="login" checked />
											Yes, I have a password:
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="form-group" style="margin-top:-10px;margin-bottom:30px;">
							<div class="col-sm-8 col-sm-offset-4">
								<div style="margin-left:25px;">
									<input type="password" id="id_password" name="password" class="form-control" />
								</div>
							</div>
						</div>
						<div class="form-group form-actions">
							<div class="col-sm-8 col-sm-offset-4">
								<input type="hidden" name="next" value="{{ next }}" />
								<button class="btn btn-primary" type="submit">Sign In <span class="fa fa-chevron-right right"></span></button>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Sign In</h3>
					<p>Please enter your e-mail address, then provide your password or choose "No, I am a new customer" if you don't have an BestQuote account.</p>
					<p><a href="{% url 'forgotpassword' %}">Forgot your password?</a></p>
					<p><a href="{% url 'activation_mail' %}">Activate account</a></p>
				</div>
			</div>
		</form>
	</article>
{% endblock %}