
.red-color{
    color:#EB151E!important;
}
.red-bg{
    background:#EB151E!important;
}
.white-color{
    color:#fff!important;
}

.padding-top-plus-20{
    padding-top: 20px!important;
}
.padding-bottom-plus-20{
    padding-bottom: 20px!important;
}
.main-body-message{
    height: 450px;
    background: url('../images/page-portfolio-banner.jpg');
    background-size: cover;
}
