{% extends "base.html" %}

{% load i18n bootstrap %}

{% block meta.title %}
	{% trans 'Account Activation' %} | {{ block.super }}
{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'Account Activation' %}</h1>
		{% include 'includes/messages.html' %}
		<form action="{% url 'activation_mail' %}" method="post" class="form-horizontal forgotpassword">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described">
						<div class="form-group{% if form.email.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label for="id_email">E-mail address</label>
							</div>
							<div class="col-sm-8">
								{{ form.email|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=form.email %}
															</div>
						</div>
						<div class="form-group form-actions">
							<div class="col-sm-8 col-sm-offset-4">
								<button class="btn btn-primary" type="submit">Continue <i class="icon-chevron-right"></i></button>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Your e-mail</h3>
					<p>Enter the e-mail address associated with your BestQuote account.</p>
					<p>We'll email you a link to a page where you can easily activate your account.</p>
				</div>
			</div>
		</form>
	</article>
{% endblock %}