{% extends "account/base.html" %}

{% load i18n bootstrap %}

{% block layout %}{{ block.super }} profile{% endblock %}

{% block meta.title %}
	{% trans 'Edit personal data' %} | {{ block.super }}
{% endblock %}

{% block article %}
	<h1>{% trans 'Edit personal data' %}</h1>
	<form action="{{ request.path }}" method="post" id="personal_data" class="form-horizontal">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12">
				<fieldset class="section">
					{% if customer.non_field_errors %}
						<div class="alert alert-danger">
							{% for error in customer.non_field_errors %}
								<p>{{ error }}</p>
							{% endfor %}
						</div>
					{% endif %}
					{% for field in form %}
						<div class="form-group{% if field.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								{{ field.label_tag }}
							</div>
							<div class="col-sm-8">
								{{ field|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=field %}
							</div>
						</div>
					{% endfor %}
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<fieldset class="section" style="margin-bottom:0;">
					<div class="form-group form-actions">
						<div class="col-sm-6">
							<a href="{% url 'profile' %}" class="btn btn-default"><span class="fa fa-chevron-left left"></span> {% trans "Back" %}</a>
						</div>
						<div class="col-sm-6">
							<button type="submit" class="btn btn-primary pull-right">{% trans "Save" %} <span class="fa fa-chevron-right right"></span></button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</form>
{% endblock %}