{% extends "account/base.html" %}

{% load i18n bootstrap %}

{% block layout %}{{ block.super }} profile{% endblock %}

{% block meta.title %}
	{% trans 'Change password' %} | {{ block.super }}
{% endblock %}

{% block article %}
	<h1>{% trans 'Change password' %}</h1>
	<form action="{{ request.get_absolute_uri }}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label style="margin:0;"><strong>Please enter your old password for verification&hellip;</strong></label>
		</div>
		<div class="form-group{% if form.old_password.errors %} has-error{% endif %}">
			<label for="id_old_password">Old password</label>
			{{ form.old_password|addclass:'form-control' }}
			{% include 'includes/help-block.html' with field=form.old_password %}
		</div>
		<div class="form-group">
			<label style="margin:0;"><strong>&hellip;and new password that you would like to set</strong></label>
		</div>
		<div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
			<label for="id_new_password1">New password</label>
			{{ form.new_password1|addclass:'form-control' }}
			{% include 'includes/help-block.html' with field=form.new_password1 %}
		</div>
		<div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
			<label for="id_new_password2">Confirm password</label>
			{{ form.new_password2|addclass:'form-control' }}
			{% include 'includes/help-block.html' with field=form.new_password2 %}
		</div>
		<div class="form-group form-actions">
			<button class="btn btn-primary" type="submit">Save</button>
		</div>
	</form>
{% endblock %}