{% extends "account/base.html" %}

{% load i18n %}

{% block layout %}{{ block.super }} profile{% endblock %}

{% block meta.title %}
	{% trans 'Personal data' %} | {{ block.super }}
{% endblock %}

{% block article %}
	{% if data_change %}
		<div class="alert alert-success">
			{{ data_change }}
		</div>
	{% endif %}
	<div class="header">
		<h1>{% trans 'Personal data' %}</h1>
		<nav class="page-nav">
			<ul>
				<li><a href="{% url 'edit_profile' %}" class="btn btn-primary btn-sm"><span class="fa fa-pencil-square left"></span> Edit personal data</a></li>
				<li><a href="{% url 'change_password' %}" class="btn btn-primary btn-sm"><span class="fa fa-lock left"></span> Change password</a></li>
			</ul>
		</nav>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table cellspacing="0" class="profile">
				<tbody>
					<tr>
						<th>First Name:</th>
						<td>{{ user.first_name }}</td>
					</tr>
					<tr>
						<th>Last Name:</th>
						<td>{{ user.last_name }}</td>
					</tr>
					<tr>
						<th>E-mail address:</th>
						<td>{{ user.email }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<table cellspacing="0" class="profile">
				<tbody>
					{% for name, value in user.profile.data_with_empty_val %}
						<tr>
							<th>{{ name }}:</th>
							<td>{{ value }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}