{% if perms.admin.dip_admin %}
	<ul class="nav nav-tabs">
		<li><a href="{% url 'company_list' %}"><span class="fa fa-long-arrow-left"></span> Companies</a></li>
		<li{% if active == 'insurances' %} class="active"{% endif %}><a href="{% url 'company_insurances' company=company.short_name %}">Insurances</a></li>
		<li{% if active == 'proposals' %} class="active"{% endif %}><a href="{% url 'company_proposals' company=company.short_name %}">Proposals</a></li>
		<li{% if active == 'discounts' %} class="active"{% endif %}><a href="{% url 'company_discounts' company=company.short_name %}">Discounts</a></li>
	</ul>
{% endif %}