{% extends "admin/base.html" %}

{% load i18n django_tables2 %}

{% block layout %}{{ block.super }} discounts{% endblock %}

{% block meta.title %}
	Users | {{ block.super }}
{% endblock %}

{% block article %}
	<h1>{% trans 'Discounts' %} <small style="font-size:20px;">| {{ company }}</small></h1>
	{% include 'admin/company/company_menu.html' with active='discounts' %}
	{% csrf_token %}
	{% for section in sections %}
		<div style="margin:0 0 25px;" rel="{{ section.model }}" data-url="{% url 'company_discounts_set' company.short_name section.model %}">
			<a href="#edit" class="edit-table pull-right" style="display:none;"><span class="fa fa-pencil-square fa-2x"></span></a>
			<a href="#edit" class="save-table pull-right" style="display:none;"><span class="fa fa-check-square fa-2x"></span></a>
			<h4>{{ section.table.name }}</h4>
			{% render_table section.table %}
		</div>
	{% endfor %}
{% endblock %}

{% block scripts %}
	<script>
		$(function(){
			$('.edit-table')
				.each(function(){
					var $editLink = $(this);
					var $saveLink = $(this).siblings('.save-table');
					var $table = $editLink.parent().find('table');
					var $cols = $table.find('td:not(".years"):not("[colspan]")');
					if ($cols.length) {
						$editLink
							.show()
							.click(function(){if ($cols.length) {
									$editLink
										.fadeOut(250, function(){
											$saveLink
												.fadeIn(250)
												.unbind('click')
												.click(function(){
													$('.alert').remove();
													$table.css({opacity: .25});
													$.ajax({
														type: 'POST',
														url: $table.closest('[data-url]').attr('data-url'),
														data: $table.find('input').add('[name="csrfmiddlewaretoken"]').serialize(),
														success: function(data) {
															$saveLink.fadeOut(250, function(){
																$editLink.fadeIn(250);
																$cols
																	.each(function(){
																		var value = $('input', this).val();
																		$(this).html(value);
																	});
																$table.css({opacity: 1});
															});
														},
														error: function(data, textStatus) {
															$saveLink.blur();
															$editLink.before('<div class="alert alert-danger"><span class="fa fa-warning fa-lg"></span> ' + data.responseText + '</div>');
															$table.css({opacity: 1});
														}
													});
													return false;
												})
										})
									$cols
										.each(function(){
											var $col = $(this);
											var name = $col.attr('class') + $col.parent().index();
											var value = $col.text();
											$col.html('<input type="text" name="' + name + '" value="' + value + '" class="form-control table-value" />');
										});
								}
								return false;
							});
					}
				});
		});
	</script>
{% endblock %}