{% extends "admin/base.html" %}

{% load i18n django_tables2 %}

{% block layout %}{{ block.super }} insurances{% endblock %}

{% block meta.title %}
	Users | {{ block.super }}
{% endblock %}

{% block tn-1 %} class="active"{% endblock %}

{% block article %}
	<h1>{% trans 'Insurances' %} <small style="font-size:20px;">| {{ company }}</small></h1>
	{% include 'includes/messages.html' %}
	{% include 'admin/company/company_menu.html' with active='insurances' %}
	<h4>All active insurances</h4>
	{% render_table insuraces_table %}
{% endblock %}