{% extends "admin/base.html" %}

{% load i18n django_tables2 %}

{% block layout %}{{ block.super }} companies{% endblock %}

{% block meta.title %}
	Users | {{ block.super }}
{% endblock %}

{% block tn-2 %} class="active"{% endblock %}

{% block article %}
	<h1>{% trans 'Proposals' %} <small style="font-size:20px;">| {{ company }}</small></h1>
	{% include 'admin/company/company_menu.html' with active='proposals' %}
	<div>
		<h4>Proposals waiting for realization</h4>
		{% render_table proposals_table %}
	</div>
{% endblock %}