{% extends "admin/base.html" %}

{% load i18n django_tables2 %}

{% block layout %}{{ block.super }} reflink{% endblock %}

{% block meta.title %}
	Users | {{ block.super }}
{% endblock %}

{% block tn-1 %} class="active"{% endblock %}

{% block article %}
	<h1>{% trans 'Reflink' %} <small style="font-size:20px;">| {{ company }}</small></h1>
	{% include 'includes/messages.html' %}
	{% include 'admin/company/company_menu.html' with active='insurances' %}

	<div class="bs-callout bs-callout-info">
  		<p>You can use this link on your website to redirect customers to BestQuote. Using this link will ensure you that your company will be promoted in customer's choices.</p>
	</div>
	<div class="well well-lg">
		<h5>Your link:</h5>
		{{ reflink }}
	</div>
{% endblock %}