{% extends "mails/base.html" %}
{% block text %}
	<p>Hello {{ full_user_name }}</p>
	<p>Thank you for using BestQuote.<br>
	In order to activate your account, please visit provided link:</p>
	<p><a href="{{ activation_url }}">{{ activation_url }}</a></p>
	If you were not excepting this message, please contact: <a href="mailto:info@{{ domain }}">info@{{ domain }}</a></p>
	<p>Best regards,<br>
	your BestQuote team</p>
{% endblock %}