{% extends "mails/base.html" %}
{% block text %}
	<p>Hello {{ full_user_name }}</p>
	<p>Your special administrator account has been created, but is inactive!<br>
	If you want check or manage your data, please activate your account using link provided below:</p>
	<p><a href="{{ activation_url }}">{{ activation_url }}</a></p>
	If you were not excepting this message, please contact: <a href="mailto:info@{{ domain }}">info@{{ domain }}</a></p>
	<p>Best regards,<br>
	your BestQuote team</p>
{% endblock %}