<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
			<div>
				<img src="cid:bq_mail.png" style="vertical-align:middle;">
			</div>
			<div style="color:#e60000;font-size:small;">Don't pay more than you have to for your insurance</div>
			<hr style="background-color:#e60000;color:#e60000;height:3px;border:0;">
		</div>
		<div>
			{% block text %}{% endblock %}
		</div>
		<div>
			<hr style="background-color:#e60000;color:#e60000;height:3px;border:0;">
			{% include 'mails/footer.html' with country=country %}
		</div>
	</body>
</html>