{% extends "mails/base.html" %}
{% block text %}
	<p>Hello {{ full_user_name }}</p>
	<p>Your payment for your proposal {{ order_id }} has been received, thank you.<br>
	Please find your cover note attached.</p>
	<p>This cover note is valid for 14 days starting {{ start_time }}.<br>
	Your policy documents will be forwarded to you at {{ address }}, {{ town }}.<br>
	Thank you for using BestQuote.</p>
	<p>Best regards,<br>
	your BestQuote team</p>
{% endblock %}