{% if country == 'ghana' %}
	<div style="font-size:x-small;">
		<p>BestQuote Ghana Limited</p>
		<p>The Victoria<br>Plot No. 131,<br>North Labone<br>Accra - Ghana</p>
		<p>Customer Service: +233 (0) 302- 765 086<br>Fax: +233 (0) 302- 765 086</p>
		<p>
			<a href="mailto:support@bestquotehome.com">support@bestquotehome.com</a><br>
			<a href="http://www.bestquotehome.com">http://www.bestquotehome.com</a>
		</p>
	</div>
{% endif %}