{% extends "mails/base.html" %}
{% block text %}
	<p>Hello {{ full_user_name }}</p>
	<p>Thank you for using BestQuote.<br>
	Your proposal number {{ order_id }} has been registered in our system.<br>
	If you want check or manage your data, please visit <a href="{{ url }}">{{ url }}</a> and log in using your email address and password.</p>
	<p>Please make payment in order to receive a cover note as soon as possible.<br>
	If this proposal was not registered by you, please contact: <a href="mailto:info@{{ domain }}">info@{{ domain }}</a></p>
	<p>Best regards,<br>
	your BestQuote team</p>
{% endblock %}