body {font-size:13px;background:#F2F2F2;}
body, h1, h2, h3, h4, h5, h6 {font-family:"Open Sans", Arial, sans-serif;}
a {color:#00315E;}
a:hover, a:focus {outline:none;color:#487CC0;text-decoration:none;}
button.blue, .button.blue {display:block;padding:6px 18px;border:1px solid #00315E;border-radius:5px;background:#00315E;font-size:16px;font-weight:600;color:#FFF;text-transform:uppercase;}
	button.blue i, .button.blue i {margin:0 0 0 5px;}
button.blue:hover, .button.blue:hover, button.blue:focus, .button.blue:focus {text-decoration:none;background:#20517E;border-color:#20517E;color:#FFF;}
button.gray, .button.gray {display:block;padding:6px 18px;border:1px solid #D4D4D4;border-radius:5px;background:#CCC;font-size:16px;font-weight:600;color:#FFF;text-transform:uppercase;}
	button.gray i, .button.gray i {margin:0 0 0 5px;}
button.gray:hover, .button.gray:hover, button.gray:focus, .button.gray:focus {text-decoration:none;border-color:#E4E4E4;background:#DDD;color:#FFF;}
button.large, .button.large {padding:10px 30px;}
button.small, .button.small {padding:5px 15px;font-size:14px;}
input:focus {outline:none;}
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus:-moz-placeholder {color:transparent;}
input:focus::-moz-placeholder {color:transparent;}
header {background:#00315E;color:#FFF;}
	header .container {}
		header .title {float:left;margin:15px 0;}
			header .title a {display:block;padding:0 0 0 40px;height:100%;background:url(../img/bestquote.png) 0 50% no-repeat;font-size:26px;color:#FFF;}
				header .title a em {margin-left:5px;padding-left:10px;border-left:2px solid #AAA;font-style:normal;font-weight:600;font-size:14px;color:#DDD;text-transform:uppercase;}
		header .main-nav {float:right;}
			header .main-nav ul {list-style:none;margin:21px 0 20px;padding:0;font-size:18px;overflow:hidden;}
				header .main-nav li {color:#5B6F82;}
					header .main-nav li a, header .main-nav li a:hover, header .main-nav li a:focus {color:#FFF;}
				header .main-nav .login {padding:3px 0 3px 20px;font-size:14px;}
					header .main-nav .login a:hover {opacity:.75;}
					header .main-nav .login i {margin:0 3px 0 0;}
.breadcrumbs {padding:15px 0;background:#FFF;border-top:1px solid #C9C9C9;border-bottom:1px solid #E9E9E9;font-size:11px;}
	.breadcrumbs i {margin:0 5px;}
.main {padding:30px 0;background:#FFF;}
.main:before, .main:after {content:"";display:table;}
.main:after {clear:both;}
	.main aside {float:left;margin:0 0 20px;width:250px;}
		.aside-nav {border:1px solid #D6D6D6;border-radius:5px;background:#F4F4F4;overflow:hidden;}
			.aside-nav ul {list-style:none;margin:0;padding:0;}
				.aside-nav ul li {border-top:1px solid #D6D6D6;}
				.aside-nav ul li:first-child {border-top:none;}
					.aside-nav ul a {display:block;padding:15px 25px;color:#333;}
					.aside-nav ul a:hover, .main aside ul .active a {background:#DDD;}
						.aside-nav ul a i {float:right;margin:2px 0 0;color:#00315E;}
	.main article {margin-left:280px;color:#555;}
		.main article h1 {margin:0 0 30px;font-weight:300;font-size:36px;color:#00315E;}
		.main article h2 {margin:0 0 20px;font-weight:400;font-size:22px;}
		.main article h3 {margin:0 0 20px;font-weight:400;font-size:18px;}
		.main article p {margin:0 0 20px;}
		.main article .add-button {margin:3px 0 20px;overflow:hidden;float:right;}
		.main form {}
			.main form fieldset {padding:0 0 10px;}
				.main form fieldset legend {margin:0 0 45px;height:20px;padding-left:450px;}
					.main form fieldset legend div {float:left;padding:0 10px;background:#FFF;font-weight:300;font-size:26px;color:#999;}
			.main form .field {margin:0 0 20px;display:inline-block;width:100%;}
			.main form .field:before, .main form .field:after {content:"";display:table;}
			.main form .field:after {clear:both;}
			.main form .field.alert {padding-left:0;padding-right:0;}
				.main form .field > label {float:left;margin:7px 0 0;width:300px;font-weight:300;font-size:16px;text-align:right;}
				.main form .field label.clickable {cursor:pointer;}
					.main form .field label strong {font-weight:600;}
					.main form .field label.clickable i {width:20px;display:inline-block;}
				.main form .field input[type="text"], .main form .field input[type="password"] {float:left;margin:0 0 0 10px;padding:6px;width:320px;border:1px solid #AAA;border-radius:5px;font-weight:600;font-size:16px;}
				.main form .field .selectboxit-container {float:left;margin:0 0 0 10px;}
					.main form .selectboxit-option-icon-container {display:none;}
					.main form .selectboxit-container .selectboxit-text {text-indent:10px;}
					.main form .selectboxit-container span, .main form .selectboxit-container .selectboxit-options a {height:36px;line-height:36px;font-weight:600;}
				.main form .selectboxit-options .selectboxit-option:before {content:'';margin:0;}
				.main form .field > textarea {float:left;margin:0 0 0 10px;padding:6px;width:480px;border:1px solid #AAA;border-radius:5px;font-weight:600;font-size:16px;}
				.main form .field .value {float:left;margin:7px 10px 0 10px;width:60px;font-weight:700;font-size:16px;}
				.main form .field .unit {float:left;margin:8px 10px 0 10px;width:60px;font-size:14px;}
				.main form .help-text {float:left;clear:left;margin:10px 0 0 310px;padding:10px 15px 10px 35px;font-weight:400;color:#888;background:#F4F4F4;border-radius:5px;}
				.main form .alert .help-text {background:none;padding:0 0 0 20px;}
					.main form .help-text i {margin-left:-20px;margin-right:5px;font-size:14px;}
				.main form .errorlist {float:left;clear:left;list-style:none;margin:3px 0 0 310px;padding:0;font-weight:700;}
					.main form .errorlist li:before {margin:0 3px 0 0;font-family:FontAwesome;content:"\f0aa"!important;}
					.main form .errorlist:first-child li:before {content:none!important;}
				.slider {float:left;clear:left;margin:8px 0 0 460px;width:400px;}
				.main .radio-list {float:left;margin:5px 0 -5px 10px;font-size:14px;}
					.main .radio-list li {}
					.main .radio-list.inline li {float:left;margin-right:25px;}
					.main .radio-list li:before {content:none!important;margin:0!important;}
					.main .radio-list li ul {margin:5px 0 5px 25px;}
						.main .radio-list li i {position:relative;top:1px;font-size:18px;}
				.main .form-actions {}
					.main .form-actions .gray {float:left;position:relative;left:190px;}
					.main .form-actions .blue {margin-left:310px;}
		.main .table {margin:0 0 20px;width:100%;border-collapse:collapse;border:1px solid #FFF;}
			.main .table td, .main .table th {padding:8px;border:1px solid #FFF;text-align:left;}
			.main .table thead th, .main .table thead td {padding:10px 8px;background:#00315E;border:1px solid #FFF;vertical-align:middle;color:#FFF;}
			.main .table .orderable > a {padding-right:20px;color:#FFF;}
			.main .table .orderable.asc > a {background:url(../img/table/arrow-active-up.png) 100% 50% no-repeat;}
			.main .table .orderable.desc > a {background:url(../img/table/arrow-active-down.png) 100% 50% no-repeat;}
			.main .table .odd {background-color:#F0F0F0;}
			.main .table .even {background-color:#E4E4E4;}
				.main .table > tbody > tr > td > .true, .main .table > tbody > tr > td > .false {display:inline-block;width:10px;height:10px;background-position:top left;background-repeat:no-repeat;overflow:hidden;text-indent:-999em;}
				.main .table > tbody > tr > td > .true {background-image:url(../img/table/true.gif);}
				.main .table > tbody > tr > td > .false {background-image:url(../img/table/false.gif);}

				.main .table > tbody > tr > td > .missing {padding-right:20px;background:transparent url(../img/table/missing.png) 100% 50% no-repeat;color:#717171;}
				.main .table > tbody > tr > td > .missing:hover {color:#333;}
		.pagination {}
			.pagination .cardinality {display:none;}
			.pagination .current, .pagination .cardinality {background-color:#FFF;border:1px solid #DDD;float:left;line-height:1.42857;margin-left:-1px;padding:6px 12px;position:relative;}
footer {padding:30px 0 50px;font-size:12px;border-top:1px solid #D9D9D9;color:#AAA;}
	footer .copyrights {text-align:right;}