body {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 14px;
}
.header {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
}
.company {
    height: 75px;
}
.company .logo {
    float: left;
    padding-right: 10px;
    margin-bottom: 20px;
}
.company .address h3 {
    margin-bottom: 0px;
}
.company .address .cinfo {
    font-size: 12px;
}
.cover_date {
    margin-top: 40px;
    text-align: right;
}
.schedule .info {
    border: 2px solid;
    margin-bottom: 40px;
    width: 100%;
    font-size: 12px;
}
.schedule h2 {
    text-align: center;
    font-style: oblique;
    font-weight: normal;
    letter-spacing: 5px;
}
.footer p {
    text-align: center;
}
.footer .top {
    font-weight: bold;
    margin-bottom: 0px;
}
.footer .middle {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}
.footer .bottom {
    margin-top: 30px;
    font-weight: bold;
    font-size: small;
    font-style: italic;
}
#promise {
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
    line-height: 150%;
}
