body {font-size:13px;background:url(../img/irongrip.png);}
body, h1, h2, h3, h4, h5, h6 {font-family:"Montserrat", Arial, sans-serif;}
a {color:#E60000;}
	a:hover, a:focus {outline:none;color:#000;text-decoration:none;}
header {height:70px;padding:20px 20px 20px;border-top:7px solid #E60000;background:#FFF;color:#FFF;border-bottom:1px solid #D9D9D9;}
	header .title {position:relative;float:left;width:240px;height:70px;background:url(../img/bq.png) 0 50% no-repeat;text-indent:-999em;}
footer {bottom:0;padding:20px 20px 20px;font-size:12px;border-top:1px solid #D9D9D9;background:#FFF;color:#AAA;}
	footer .copyrights {float:center;text-align:center;margin:0 0 0 0px;}
.main {margin-top:0px;padding:20px 20px 20px;background:#FFF;}
	.main h1 {margin-top:0px;}
	.main .error-code {text-align:center;font-weight:600;font-size:30px;height:210px;background:url(../img/error.png);background-repeat:no-repeat;background-position:center;}
		.main .error-code h1 {padding-top:75px;margin:0 0 40px;font-weight:800;font-size:60px;color:#FFF;}
	.main .well {text-align:center;min-height:20px;padding:19px;margin:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);}
	.main .well-sm {padding:9px;border-radius:3px;}