html, body {height:100%;}
body {font-size:13px;background:url(../img/irongrip.png);}
body, h1, h2, h3, h4, h5, h6 {font-family:"Montserrat", Arial, sans-serif;}
a {color:#E60000;}
a:hover, a:focus {outline:none;color:#000;text-decoration:none;}
.btn {padding:12px 24px;background:#BBB;border:1px solid transparent!important;line-height:1;box-shadow:0 1px 1px rgba(255, 255, 255, 0.5) inset, 0px 0px 0px rgb(255, 255, 255), 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgb(255, 255, 255);color:#FFF;text-shadow:0 1px 0 rgba(0, 0, 0, 0.15);font-weight:600;}
.btn:hover, .btn:focus, .btn:active {background:#AAA;color:#FFF;}
	.btn .fa.left {margin:0 3px 0 0;}
	.btn .fa.right {margin:0 0 0 3px;}
.btn-lg {padding:16px 24px 15px;font-size:18px;}
.btn-sm {padding:8px 12px 7px;font-size:13px;}
.btn-xs {padding:5px 8px 4px;}
.btn-primary {background:#E60000;color:#FFF;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {background:#111;color:#FFF;}
input:focus {outline:none;}
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus:-moz-placeholder {color:transparent;}
input:focus::-moz-placeholder {color:transparent;}
.form-control:focus {border-color:#777;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.25);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.25);}
.alert {}
	.alert p:last-child {margin-bottom:0;}
.wrapper {min-height:100%;position:relative;background:url(../img/main-blured.jpg) 50% 0 no-repeat;background-size:cover;}
/*.home .wrapper {background:url(../img/main.jpg) 50% -125px no-repeat;}*/
.home .wrapper {background:url(../img/main.jpg) 50% -125px no-repeat;}
header {border-top:7px solid #E60000;background:#FFF;color:#FFF;border-bottom:1px solid #D9D9D9;}
	header .container {position:relative;}
		header .top-line {position:absolute;top:-7px;left:-985px;width:1000px;height:7px;background:#000;border-right:10px solid #FFF;}
		header .title {position:relative;float:left;margin:24px 0 20px;width:10%;min-width:380px;height:70px;background:url(../img/bq.png) 0 50% no-repeat;text-indent:-999em;}
			header .title a {display:block;height:100%;}
			header .title em {position:absolute;left:260px;top:26px;padding-left:15px;border-left:2px solid #777;font-style:italic;font-weight:200;font-size:10px;color:#666;text-transform:uppercase;text-indent:0;}
		header .main-nav {float:right;margin:0 -5px 0 0;}
			header .main-nav ul {list-style:none;margin:44px 0 0;padding:0;font-size:18px;text-transform:uppercase;overflow:hidden;}
				header .main-nav li {position:relative;float:left;margin:0 0 0 50px;color:#111;}
				header .main-nav li:first-child {margin-left:0;}
				header .main-nav .login {padding:0 0 0 50px;border-left:1px solid #CCC;}
					header .main-nav .login a {color:#666;}
					header .main-nav li a {color:#111;overflow:hidden;padding:0 4px;height:1em;}
					header .main-nav li a:hover, header .main-nav li a:focus {color:#E30000;}
					.motor header .main-nav .mn-1 a, .travel header .main-nav .mn-2 a, .property header .main-nav .mn-3 a, .signin header .main-nav .mn-4 a {color:#E30000;}
						header .main-nav li a span {position:relative;display:inline-block;-webkit-transition:-webkit-transform 0.3s;-moz-transition:-moz-transform 0.3s;transition:transform 0.3s;}
						header .main-nav li a span::before {position:absolute;top:100%;content:attr(data-hover);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);color:#E30000;}
						header .main-nav li a:hover span, header .main-nav li a:focus span {-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);transform:translateY(-100%);}
						.motor header .main-nav .mn-1 a:hover span, .motor header .main-nav .mn-1 a:focus span,
						.travel header .main-nav .mn-2 a:hover span, .travel header .main-nav .mn-2 a:focus span,
						.property header .main-nav .mn-3 a:hover span, .property header .main-nav .mn-3 a:focus span,
						.signin header .main-nav .mn-4 a:hover span, .signin header .main-nav .mn-4 a:focus span {-webkit-transform:translateY(0)!important;-moz-transform:translateY(0)!important;transform:translateY(0)!important;}
.main {padding:25px 0 145px;}
/*.home .main {padding:75px 0 0;min-height:540px;background:none;}*/
.home .main {padding:0px 0 0;min-height:540px;background:none;}
.main:before, .main:after {content:"";display:table;}
.main:after {clear:both;}
	.main h1 {margin:0 0 30px;font-weight:300;font-size:36px;color:#E30000;}
	.main h3 {font-weight:200;font-size:26px;color:#E30000;}
	.home .main h2 {font-size:34px;color:#E60000;text-align:right;}
	.main .steps {list-style:none;margin:0 0 0;padding:0;overflow:hidden;background:#F6F6F6;font-size:13px;line-height:1.25;}
		.main .steps li {display:table;position:relative;float:left;margin:0;padding:0 0 0 60px;min-width:150px;width:20%;height:72px;background:#E1E1E1;box-shadow:0 0 50px rgba(0, 0, 0, .15);color:#444;}
		.main .steps li:before {margin:0;content:'';}
		.main .steps li.past, .main .steps li.current {color:#FFF;background:#333;}
		.main .steps .step-1 {margin-left:-20px;background:#333;z-index:99;}
		.main .steps .step-1.future {background:#AEAEAE;}
		.main .steps .step-2 {background:#2C2C2C;z-index:98;}
		.main .steps .step-2.future {background:#C0C0C0;}
		.main .steps .step-3 {background:#5A5A5A;z-index:97;}
		.main .steps .step-3.future {background:#D2D2D2;}
		.main .steps .step-4 {background:#858585;z-index:96;}
		.main .steps .step-4.future {background:#E4E4E4;}
		.main .steps .step-5 {background:#A5A5A5;z-index:95;box-shadow:none;}
		.main .steps .step-5.future {background:#F6F6F6;}
			.main .steps li .count {display:none;}
			.main .steps li .content {margin-right:-40px;display:table-cell;vertical-align:middle;}
				.main .steps li .number {font-weight:700;font-size:11px;text-transform:uppercase;}
				.main .steps li .arrow {position:absolute;top:0;right:-36px;width:0;height:0;border-style:dotted dotted dotted solid;border-width:36px 0 36px 36px;border-color:rgba(0,49,49,0) rgba(0,49,49,0) rgba(0,49,49,0) #E1E1E1;}
				.main .steps li.past .arrow, .main .steps li.current .arrow {border-left-color:#333;}
				.main .steps .future .arrow {border-color:rgba(198,198,198,0) rgba(198,198,198,0) rgba(198,198,198,0) #E1E1E1;}
				.main .steps .step-1 .arrow {border-left-color:#333;}
				.main .steps .step-1.future .arrow {border-left-color:#AEAEAE;}
				.main .steps .step-2 .arrow {border-left-color:#2C2C2C;}
				.main .steps .step-2.future .arrow {border-left-color:#C0C0C0;}
				.main .steps .step-3 .arrow {border-left-color:#5A5A5A;}
				.main .steps .step-3.future .arrow {border-left-color:#D2D2D2;}
				.main .steps .step-4 .arrow {border-left-color:#858585;}
				.main .steps .step-4.future .arrow {border-left-color:#E4E4E4;}
				.main .steps .step-5 .arrow {display:none;}
				.main .steps .step-5.current .arrow {display:block;border-color:#333;border-style:solid;}
	.main aside {margin:0 0 20px;}
		.aside-nav {background:#FFF;border-top:4px solid #000;overflow:hidden;}
			.aside-nav .profile-box {padding:25px;}
				.aside-nav .profile-box h3 {margin:15px 0 5px;font-size:16px;}
				.aside-nav .profile-box .role {margin:15px 0 0;font-style:italic;color:#999;}
			.aside-nav ul {list-style:none;margin:0;padding:0;}
				.aside-nav ul li {border-top:1px solid #D6D6D6;}
					.aside-nav ul a {display:block;padding:15px 25px;color:#333;}
					.aside-nav ul a:hover,
					.insurances .aside-nav ul .an-1 a,
					.proposals .aside-nav ul .an-2 a,
					.profile .aside-nav ul .an-3 a,
					.companies .aside-nav ul .an-4 a,
					.users .aside-nav ul .an-5 a,
					.quotes .aside-nav ul .an-6 a,
					.quote .aside-nav ul .an-6 a,
					.reflink .aside-nav ul .an-7 a,
					.discounts .aside-nav ul .an-3 a,
					.settings .aside-nav ul .an-6 a {color:#FFF;background:#E30000;}
	.main article {min-height:625px;padding:35px;color:#555;background:#FFF;border-top:4px solid #000;}
		.main article h2 {margin:0 0 20px;font-weight:400;font-size:22px;}
		.main article .subheading {margin:-10px 0 30px;font-weight:400;font-size:16px;color:#999;}
			.main article .subheading a {text-decoration:underline;}
		.main article h3 {margin:0 0 20px;font-weight:400;font-size:18px;}
		.main article .header {overflow:hidden;}
			.main article .header h1 {float:left;}
			.main article .header .page-nav {float:right;margin:6px 0 0;}
				.main article .header .page-nav ul {list-style:none;margin-left:0;}
					.main article .header .page-nav li {float:left;margin-left:15px;}
					.main article .header .page-nav li:before {margin-right:0;content:"";}
		.main article p {margin:0 0 20px;}
		.main article ul {list-style:none;margin:0 0 20px 30px;padding:0;}
		.main article ul.nav {margin:0 0 20px;}
		.main article dl {}
			.main article dl dt {}
			.main article dl dd {margin:10px 0 20px 30px;}
		.main article .well.center {text-align:center;}
			.main article .well .subheading {color:#555;}
		.main form {}
			.main form .optional {display:none;}
			.main form fieldset {}
			.main form fieldset.section {margin-bottom:20px;padding:30px 30px 15px;background-color:#EEE;}
			.main form fieldset.section.described:after {position:absolute;content:' ';right:0;top:30px;width:0;height:0;border-style:solid;border-width:15px 0 15px 15px;border-color:rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #EEE;}
				.main form fieldset.section .description {}
					.main form .description h3 {margin:35px 0 10px;}
					.main form .description p {margin:0 0 10px;}
			.main form fieldset.filters {margin-bottom:15px;padding:20px 20px 10px;background-color:#EEE;}
				.main form fieldset.filters label {font-size:12px;}
				.main form fieldset.filters .filters-submit {padding:25px 15px 0;}
			.main form label {font-weight:400;font-size:15px;}
			.main form input {width:100%;}
			.main form .form-control {font-size:15px;}
			.main form .form-control.table-value {padding:4px;width:60px;height:28px;text-align:center;}
			.main form .radio {}
				.main form .radio ul {margin:0;}
					.main form .radio li {margin:0 0 5px;}
					.main form .has-error .radio li .fa {color:#B94A48;}
			.main form .checkbox {}
				.main form .checkbox .fa {width:20px;}
				.main form .has-error .checkbox .fa {color:#B94A48;}
			.main form .value {float:left;margin:8px 0 2px;width:100px;font-size:15px;}
			.main form #id_telephone_0SelectBoxItContainer {position:absolute;left:16px;top:1px;}
				.main form #id_telephone_0SelectBoxItContainer .selectboxit {border:none;height:32px;border-radius:4px 0 0 4px;}
			.main form #id_telephone_1 {padding-left:75px;}
			.main form .help-block {margin-bottom:0;}
				.main form .help-block p {position:relative;margin-bottom:5px;padding-left:18px;}
				.main form .help-block p:last-child {margin-bottom:0;}
					.main form .help-block p .fa {position:absolute;left:0;top:3px;}
				.main form .selectboxit-container .selectboxit {border-radius:4px;}
					.main form .selectboxit-container .selectboxit-text {text-indent:6px;}
					.main form .selectboxit-container span, .main form .selectboxit-container .selectboxit-options a {height:34px;line-height:34px;}
					.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {background:#E60000;}
				.js .main form .payment-option {display:none;}
		.main table {margin:0 0 20px;width:100%;}
			.main table thead {}
				.main table thead th {padding:12px 10px;text-align:left;background:#000;color:#FFF;}
					.main table thead th a {color:#FFF;}
			.main table tbody {}
				.main table tbody td {padding:10px;border-bottom:1px solid #CCC;vertical-align:middle;}
					.main table tbody td h3 {margin:0;}
		.main .confirm-block {font-size:15px;}
			.main .confirm-block table {margin-bottom:15px;}
				.main .confirm-block th {width:50%;border-top:0;text-align:right;}
				.main .confirm-block td {padding:8px;border:0;}

				.main .tconfirm-block {font-size:15px;}
			.main .tconfirm-block table {margin-bottom:15px;}
				.main .tconfirm-block th {width:50%;border-top:0;text-align:left;}
				.main .tconfirm-block td {padding:8px;border:0;}


		.main .profile {width:100%;border-top:1px solid #CCC;}
			.main .profile th {width:50%;padding:10px 5px;text-align:left;border-bottom:1px solid #CCC;}
			.main .profile td {padding:10px 5px;border-bottom:1px solid #CCC;}
		.main .rank {margin:-15px 0 0;border-bottom:1px solid #DDD;}
			.main .rank th {padding:15px;vertical-align:middle;text-align:center;font-size:16px;border-bottom:0;background:none;color:#444;}
			.main .rank td {padding:15px;vertical-align:middle;}
			.main .rank .clickable {cursor:pointer;}
				.main .rank .clickable input[type="radio"] {display:none;}
			.main .rank .checked td {background-color:#CBEFCB!important;}
			.main .rank td.logo {width:180px;}
			.main .rank td.quote {text-align:center;font-size:16px;font-weight:600;}
			.main .rank .selected td {background:#EEE;}
			.main .rank .selected td.selected {background:#E60000;color:#FFF;font-weight:700;}
				.main .rank .selected td.selected button {display:none;}
				.main .rank .selected td.selected .annual, .main .rank .selected td.selected .savings {color:#DDD;}
				.main .rank td h3 {margin:0;font-size:16px;}
				.main .rank td .annual {font-weight:400;font-size:13px;color:#666;}
				.main .rank td .savings {font-weight:600;font-size:13px;color:#D87D35;}
				.main .rank td button {display:block;margin:5px auto 0;padding:5px 10px;float:none;font-weight:600;font-size:12px;}
				.no-js .main .rank td button {display:none;}
		.main .page-nav {font-weight:700;text-align:center;}
			.main .page-nav .pagination a {padding:0 20px;font-size:15px;line-height:42px;}
			.main .page-nav .pagination a:hover {color:#295401;}
			.main .page-nav .pagination .disabled a {cursor:default;color:#AAA!important;}
			.main .page-nav .pagination .active a {background:#3E8101;border-color:#3E8101;color:#FFF!important;}
			.main .page-nav .pagination .current a {}
				.main .page-nav .pagination a .fa {line-height:12px;}
				.main .page-nav .pagination a form {}
					.main .page-nav .pagination a .form-control {display:inline-block;position:relative;top:-1px;margin:0 2px;padding:0 2px;width:40px;height:25px;text-align:center;}
		.main .bs-callout {-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:#eee;border-image:none;border-radius:3px;border-style:solid;border-width:1px 1px 1px 5px;margin:20px 0;padding:20px;}
			.main .bs-callout-info {border-left-color:#1b809e;}
		@media screen and (max-width:991px) {
			.main .rank th {padding:10px 5px;font-size:13px;}
			.main .rank td {padding:10px 5px;}
			.main .rank td h3 {font-size:12px;}
			.main .rank td.logo {width:auto;}
				.main .rank td.logo img {height:20px;}
			.main .rank td.quote {font-size:14px;}
			.main .rank td button {padding:4px 8px;font-size:10px;}
		}
footer {position:absolute;bottom:0;width:100%;padding:30px 0 0;height:120px;font-size:12px;border-top:1px solid #D9D9D9;background:#FFF;color:#AAA;}
	footer ul {list-style:none;float:left;overflow:hidden;}
		footer ul li {float:left;margin:0 80px 0 -60px;padding-left:20px;border-left:1px solid #CCC;}
			footer ul li a {color:#888;}
	footer .copyrights {float:right;text-align:right;}