{% extends "root.html" %}

{% load i18n %}

{% block layout %} two-column{% endblock %}

{% block head %}
	{% block meta %}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{% block meta.title %}BestQuote Admin{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% endblock %}
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/slider.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/selectboxit.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
	<script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
{% endblock %}

{% block body %}
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="top-line"></div>
				{% block logo %}
					<div class="title">
						<a href="{% url 'admin_page' %}">BestQuote Admin</a>
						<em>{{ country }}</em>
					</div>
				{% endblock %}
				<nav class="main-nav">
					<ul>
						<li class="mn-4">
							<a href="{% url 'logout' %}">Logout</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="main">
			<div class="container">
				{% block content %}
					<div class="row">
						<aside class="col-md-3">
							<nav class="aside-nav text-center">
								<div class="profile-box">
									<span class="fa fa-user fa-4x"></span>
									<h3>{{ user.get_full_name|default:'No Name User' }}</h3>
									<div class="email">{{ user.email|default:'no@email.user' }}</div>
									<div class="role">
										{% if user.is_superuser %}
											~ BQ Super Admin ~
										{% elif perms.admin.company_admin %}
											~ {{ user.company_admin.get.company.short_name }} Admin ~
										{% elif perms.admin.dip_admin %}
											~ BestQuote Admin ~
										{% endif %}
									</div>
								</div>
								<ul>
									{% if user.company_admin.get %}
										{% if company_name %}
											<li class="an-1"><a href="{% url 'company_insurances' company=company_name %}">Insurances</a></li>
											<li class="an-3"><a href="{% url 'company_discounts' company=company_name %}">Discounts</a></li>
											<li class="an-7"><a href="{% url 'company_reflink' company=company_name %}">Reflink</a></li>
										{% else %}
											<li class="an-1"><a href="{% url 'company_insurances' company=request.resolver_match.kwargs.company %}">Insurances</a></li>
											<li class="an-3"><a href="{% url 'company_discounts' company=request.resolver_match.kwargs.company %}">Discounts</a></li>
											<li class="an-7"><a href="{% url 'company_reflink' company=request.resolver_match.kwargs.company %}">Reflink</a></li>
										{% endif %}
										{% if '/quote/details/' in request.path %}
											<li class="an-6"><a href="#">Quote details</a></li>
										{% endif %}
									{% endif %}
									{% if perms.admin.dip_admin %}
										<li class="an-4"><a href="{% url 'company_list' %}">Companies</a></li>
										<li class="an-5"><a href="{% url 'users_list' %}">Users</a></li>
										<li class="an-6"><a href="{% url 'quote_list' %}">Quotes</a></li>
									{% endif %}
								</ul>
							</nav>
						</aside>
						<div class="col-md-9">
							<article>
								{% block article %}{% endblock %}
							</article>
						</div>
					</div>
				{% endblock %}
			</div>
		</div>
		<footer>
			<div class="container">
				<p class="copyrights">
					&copy; Copyright Aya Technologies AG 2013<br />
					All rights reserved
				</p>
			</div>
		</footer>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/bootstrap-slider.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/jquery.selectboxit.js"></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>
	{% block scripts %}{% endblock %}
{% endblock %}