{% extends "admin/base.html" %}

{% load i18n django_tables2 bootstrap %}

{% block layout %}{{ block.super }} quotes{% endblock %}

{% block meta.title %}
	{% trans 'Quotes' %} | {{ block.super }}
{% endblock %}

{% block article %}
	<h1>{% trans 'Quotes' %}</h1>
	{% include 'includes/messages.html' %}	
	<form action="{{request.path}}" method="get" class="form-inline">
		<div class="row">
			<div class="col-md-12">
				<h5>Filters:</h5>
				<fieldset class="filters">
					{% if form.non_field_errors %}
						<div class="form-group alert alert-danger">
							{% for error in form.non_field_errors %}
								<p>{{ error }}</p>
							{% endfor %}
						</div>
					{% endif %}
					<div class="col-sm-4">
						<div class="form-group{% if form.customer.errors %} has-error{% endif %}">
								{{ form.customer.label_tag }}<br>
								{{ form.customer|addclass:'form-control	 ' }}
								{% include 'includes/help-block.html' with field=form.customer %}
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group{% if form.order_id.errors %} has-error{% endif %}">
								{{ form.order_id.label_tag }}<br>
								{{ form.order_id|addclass:'form-control	 ' }}
								{% include 'includes/help-block.html' with field=form.order_id %}
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group{% if form.status.errors %} has-error{% endif %}">
								{{ form.status.label_tag }}<br>
								{{ form.status|addclass:'form-control	 ' }}
								{% include 'includes/help-block.html' with field=form.status %}
						</div>
					</div>
					<div class="col-sm-3">
						<div class="filters-submit">
							<button type="submit" class="btn btn-primary btn-sm">{% trans 'Filter' %}</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-md-12">
			{% render_table table %}
		</div>
	</div>
{% endblock %}