{% if field.help_text or field.errors %}
	<div class="help-block">
		{% for error in field.errors %}
			<p><span class="fa fa-arrow-up"></span> {{ error }}</p>
		{% endfor %}
		{% if field.help_text %}
			<p><span class="fa fa-info-circle"></span> {{ field.help_text }}</p>
		{% endif %}
	</div>
{% endif %}