{% for message in messages %}
	<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{% if message.tags == 'success' %}<span class="fa fa-check-circle fa-lg"></span> {% endif %}{% if message.tags == 'danger' %}<span class="fa fa-warning fa-lg"></span> {% endif %}{{ message }}</div>
{% endfor %}
