<ul class="steps steps-5">
	<li class="step-1 {% if active > 0 %}{% if active == 1 %}current{% else %}past{% endif %}{% else %}future{% endif %}">
		<div class="content">
			<div class="number">Step 1<span class="count">/3</span></div>
			<div class="text">Information about you &amp; your trip.</div>
			<div class="arrow"></div>
		</div>
	</li>
	<li class="step-2 {% if active > 1 %}{% if active == 2 %}current{% else %}past{% endif %}{% else %}future{% endif %}">
		<div class="content">
			<div class="number">Step 2<span class="count">/3</span></div>
			<div class="text">Your Quotes</div>
			<div class="arrow"></div>
		</div>
	</li>
	<li class="step-3 {% if active > 2 %}{% if active == 3 %}current{% else %}past{% endif %}{% else %}future{% endif %}">
		<div class="content">
			<div class="number">Step 3<span class="count">/3</span></div>
			<div class="text">Confirmation</div>
			<div class="arrow"></div>
		</div>
	</li>
	<li class="step-4 {% if active > 3 %}{% if active == 4 %}current{% else %}past{% endif %}{% else %}future{% endif %}">
		<div class="content">
			<div class="number">Step 4<span class="count">/4</span></div>
			<div class="text">Payment Method</div>
			<div class="arrow"></div>
		</div>
	</li>

</ul>