{% load thumbnail %}
{% load humanize %}

<html>
<head>
    <title>Cover Note</title>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cover_note.css" />
</head>
<body>
    <div class="header">MOTOR INSURANCE COVER NOTE (GHANA)</div>
    <div class="company">
		<div class="logo">
			{% thumbnail company.logo "150x100" as im %}
    			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
			{% endthumbnail %}
		</div>
		<div class="address">
			<h3>{{ company.name }}</h3>
			<div class="cinfo">
				{% if caddress.po_box %} P.O. Box: {{ caddress.po_box }}<br>{% endif %}
				{% if caddress.address %}Address: {{ caddress.address }}<br>{% endif %}
				{% if caddress.email %}Email: {{ caddress.email }}<br>{% endif %}
				{% if caddress.telephone %}Tel: {{ caddress.telephone }},{% endif %}{% if caddress.fax %} Fax: {{ caddress.fax }}<br>{% endif %}
				{% if caddress.website %}WWW: {{ caddress.website }}<br>{% endif %}
				{% if caddress.contact_person %} Contact person: {{ caddress.contact_person }}<br>{% endif %}
			</div>
		</div>
	</div>
	<div class="cover_date">
		Date: {% now "d/m/Y" %}
	</div>
	<br>
    <div id="promise">
        The under-mentioned having proposed for insurance in respect of the Motor
		Vehicle described in the schedule below and having the sum indicated the risk is
		hereby held covered in terms of the Company’s usual form of policy as described
		hereunder for a period of thirty days, that is to say from the time and date
		indicated hereunder to the same time on the thirtieth day after such date unless
		the cover be terminated by the company by notice in writing in which case the
		insurance will thereupon cease and a proportionate part of the annual premium
		otherwise payable for such insurance will be charged for the time the Company
		has been on risk.
    </div>
	<div class="schedule">
		<h2>SCHEDULE</h2>
		<table class="info" cellpadding="7">
			<tr>
				<td colspan="2">Proposer: <strong>{{ invoice.customer.get_full_name }}</strong></td>
			</tr>
			<tr>
				<td>Premium or Deposit paid: <strong>{{ invoice.amount|intcomma }}</strong></td>
				<td>Scope of cover granted: <strong>{{ vehicle.value|intcomma }}</strong></td>
			</tr>
			<tr>
				<td colspan="2">Own Damage Excess: <strong>not granted</strong></td>
			</tr>
			<tr>
				<td>Motor Vehicle Make: <strong>{{ ownership.make_of_vehicle }}</strong></td>
				<td>Horse Power/C.C.: <strong>{{ vehicle.engine_vol|intcomma }} cm<sup>3</sup></strong></td>
			</tr>
			<tr>
				<td>Registration Number: <strong>{{ ownership.vrp }}</strong></td>
				<td>Chassis Number: <strong>{{ ownership.vin }}</strong></td>
			</tr>
			<tr>
				<td colspan="2">Vehicle used only for the fallowing purpose: <strong>{{ vehicle.usage_human }}</strong></td>
			</tr>
			<tr>
				<td>Third Party Limit: <strong>{% if vehicle.tpl == 0 %}{{vehicle.tpl_amount|floatformat:2|intcomma}}{% else %}Standard{% endif %}</strong></td>
				<td>Cover effective from <strong>{{ invoice.time|date:"g:i a" }}</strong> on <strong>{{ invoice.time|date:"d-m-Y" }}</strong></td>
			</tr>
		</table>
	</div>
	<div class="footer">
		<p class="top">MOTOR VEHICLES (THIRD PARTY INSURANCE) ACT, 1958 (GHANA)</p>
		<p class="middle">Certification of Insurance</p>
        <p class="bottom">
			I/We hereby certify that this Covering Note is issued in accordance
			with the provisions of the Motor Vehicles (Third Party Insurance) Act,
			1958 (Ghana)
		</p>
    </div>
</body>
</html>