{% load thumbnail %}
{% load humanize %}

<html>
<head>
    <title>Cover Note</title>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cover_note.css" />
</head>
<body>
    <div class="header"><span class="logo">{% thumbnail company.logo "150x100" as im %} <img src="{{ im.url }}" alt="NSIA" width="{{ im.width }}" height="{{ im.height }}"> {% endthumbnail %}</span></div>
    
    <div class="policy info">
    <div class="logo">
      <div title="Page 1">
        <div>
          <div>
		          <div>
		            <p align="center"><strong>THE SCHEDULE</strong></p>
                    <strong>POLICY HOLDER DETAILS</strong>
                    <table border="0">
                    <tr><td>TRAVEL INSURANCE POLICY</td><td>POLICY No. {{policy_num}}</td></tr>
                    </table>
                    I. POLICY HOLDER DETAILS
                    <table width="950" border="0">
                    <tr><td>First Name</td><td>{{first_name}}</td><td>Family Name</td><td>{{family_name}}</td></tr>
                    
                    <tr><td>Date of Birth</td><td>{{dob}}</td><td>City/Village</td><td>{{city}}</td></tr>
                    <tr><td>Address</td><td>{{address}}</td><td>Passport No.</td><td>{{passport_num}}</td></tr>
                    </table>
                    
                    II. TRIP DETAILS
                    <table width="950" border="0">
                    <tr><td>Departure Date</td><td>{{trip_start}}</td><td>Return Date</td><td>{{trip_end}}</td></tr>
                    
                    <tr><td>Destination</td><td>{{destination}}</td><td>Transit</td><td>{{transit}}</td></tr>
                    <tr><td>Destination Address</td><td>{{dest_address}}</td><td>Destination Phone</td><td>{{dest_phone}}</td></tr>
                    <tr><td>Other Destinations</td><td>{{dest_address}}</td><td>Trip Type</td><td>{{dest_phone}}</td></tr>
                    </table>
            </div>
            List of All Persons Covered by this travel Insurance 
          </div></div></div></div>
    <div class="cover details">
        <table width="951" height="81" border="1" cellpadding="7" class="info">
        <tr><td width="208" height="32">Full Name</td><td width="189">Date of Birth</td><td width="236">Occupation</td><td width="242">Passport No</td></tr>
        
        <tr><td height="41">{{full_name}}</td><td>{{dob}}</td><td>{{Occupation}}</td><td>{{Passport_no}}</td></tr>
        
        </table>
    <br/>
    <table width="952" height="51" border="0">
    <tr><td width="203">Destination</td><td width="291">{{Destination}}</td><td width="24">&nbsp;</td><td width="174">Currency</td><td width="265">{{currency}}</td><td width="174">Premium</td><td width="265">{{premium}}</td></tr>
        
    <tr><td>Start Date</td><td>{{trip_start}}</td><td>&nbsp;</td><td>End Date</td><td>{{trip_end}}</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  </table>   
         
</div>
  
  <div>
  <p><strong><u>SCHEDULE OF COVER</u></strong></p>
  <p>&nbsp; </p>
  <table width="951">
  	<tr><td><strong>BENEFIT</strong></td><td><strong>TRAVEL GUARD</strong></td></tr>
    <tr><td><strong>MEDICAL EXPENSES TO INCLUDE:</strong></td><td><strong>MAXIMUM LIMIT OF COVER(USD 50,000.00)</strong></td></tr>
    
    <tr><td>HOSPITALIZATION</td><td>100%</td></tr>
    <tr><td>ATTENDANCE BY A DOCTOR</td><td>100%</td></tr>
    <tr><td>EMERGENCY DENTAL</td><td>100%</td></tr>
    <tr><td>EMERGENCY OPTICAL</td><td>100%</td></tr>
    <tr><td>EMERGENCY EVACUATION/REPATRIATION</td><td>100%</td></tr>
    <tr><td>RETURN AFTER MEDICAL TREATMENT</td><td>100%</td></tr>
    <tr><td>VISIT BY RELATIVE OR TRAVEL BY COMPANION</td><td>100%</td></tr>
    <tr><td>RETURN OF RELATIVE OR TRAVEL COMPANION</td><td>100%</td></tr>
    <tr><td>RETURN OF ACCOMPANYING CHILDREN</td><td>100%</td></tr>
    <tr><td>HOME TRANSPORTATION OF THE DECEASED</td><td>100%</td></tr>
    <tr>
      <td colspan="2"><div align="center"><strong>EXCESS ON EACH ITEM ABOVE IS $ 50.00</strong></div></td></tr>
</table>
  </div>
  
  <div class="footer">
		<p class="top">Signed for and on behalf of VANGUARD ASSURANCE COMPANY LIMITED</p>
		<p class="middle date">{{% now "d/m/Y" %}}</p>
        <p class="bottom">
			<div md='6'>
            Examined By: {{signature}}
            </div>
            
            <div md='6'>
            Duly Constituted Authority: {{signature}}
            </div>
		</p>
    </div>
        
        
    
    </div>
    
    
</body>
</html>