{% extends "ghana/motor/base.html" %}

{% load i18n bootstrap %}

{% block content %}
	{% with active=5 %}
		{% include 'includes/step-by-step.html' %}
	{% endwith %}
	<article>
		<h1>Congratulations!</h1>
		<div class="subheading">You have successfully registered your proposal. You will receive a confirmation e-mail with your details.<br />Please keep it safe for later reconciliation.</div>
		<div class="subheading">The last step is to make payment for your selected policy. You can chose between card payment (VISA, MasterCard), Mobile Money or cash/cheque payment using the Payall merchant network.</div>
		<div class="alert alert-warning">
			<i class="icon-warning-sign"></i> The button below will direct you to the payment site where you can select your preferred type of payment!
		</div>
		<div class="col-md-4">
		<form action="{{ payall_payment }}" method="post">
			{% csrf_token %}
			<input type="hidden" name="store-id" value="{{ store_id }}" />
			<input type="hidden" name="order-id" value="{{ order_id }}" />
			<input type="hidden" name="amount" value="{{ amount }}" />
			<input type="hidden" name="currency" value="{{ currency }}" />
			<input type="hidden" name="checksum" value="{{ checksum }}" />
			<input type="hidden" name="salt" value="{{ salt }}" />
			<input type="hidden" name="title" value="{{ title }}" />
			<input type="hidden" name="user-firstname" value="{{ user_firstname }}" />
			<input type="hidden" name="user-lastname" value="{{ user_lastname }}" />
			<input type="hidden" name="user-phone" value="{{ user_phone }}" />
			<input type="hidden" name="user-city" value="{{ user_city }}" />
			<input type="hidden" name="user-street" value="{{ user_street }}" />
			<input type="hidden" name="user-email" value="{{ user_mail }}" />
			<!-- <button type="submit" class="btn btn-primary">Proceed to Payment</button> -->
			<center><button type="submit" class="btn btn-primary">Debit/Credit Card Payment</button>
			<br/><img u="image" src="{{ STATIC_URL }}img/cards.png" /></center>
		</form>
		</div>

		<div class="col-md-4">
		<form>
			<button type="submit" class="btn btn-primary">Cash Payment</button>

		</form>
		</div>

		<div class="col-md-4">
		<form>
			<button type="submit" class="btn btn-primary">Mobile - Money Payment</button>

		</form>
	</article>
{% endblock %}