{% extends "ghana/motor/base.html" %}

{% load i18n bootstrap %}

{% block content %}
	{% with active=1 %}
		{% include 'includes/step-by-step.html' %}
	{% endwith %}
	<article>
		<h1>{% trans 'Motor Insurance' %} <small>| Step 1. Customer &amp; Vehicle Information</small></h1>
		<div class="subheading">Provide your details, choose the best quote, pay and instantly receive a cover note! It's that simple.</div>
		<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described">
						{% if customer.non_field_errors %}
							<div class="form-group alert alert-danger col-md-6">
								{% for error in customer.non_field_errors %}
									<p>{{ error }}</p>
								{% endfor %}
							</div>
						{% endif %}
						{% for field in customer %}
							<div class="form-group{% if field.errors %} has-error{% endif %}">
								<div class="control-label col-sm-4">
									{{ field.label_tag }}
								</div>
								<div class="col-sm-8">
									{{ field|addclass:'form-control' }}
									{% include 'includes/help-block.html' with field=field %}
								</div>
							</div>
						{% endfor %}
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Customer Info</h3>
					<p>Please provide us with your personal details and insurance history.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described">
						<div class="form-group{% if vehicle.insurance_type.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label>{{ vehicle.insurance_type.label }}</label>
							</div>
							<div class="col-sm-8 radio">
								{{ vehicle.insurance_type }}
								<!-- {% include 'includes/help-block.html' with field=vehicle.tpl %} -->
							</div>
						</div>
						<div class="form-group{% if vehicle.value.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								{{ vehicle.value.label_tag }}
							</div>
							<div class="col-sm-8">
								{{ vehicle.value|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=vehicle.value %}
							</div>
						</div>
						<div class="form-group{% if vehicle.prod_year.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								{{ vehicle.prod_year.label_tag }}
							</div>
							<div class="col-sm-8">
								<div class="value"><span>1990</span></div>
								{{ vehicle.prod_year }}
								{% include 'includes/help-block.html' with field=vehicle.prod_year %}
							</div>
						</div>
						<div class="form-group{% if vehicle.engine_vol.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								{{ vehicle.engine_vol.label_tag }}
							</div>
							<div class="col-sm-8">
								<div class="value"><span>1500</span> cc</div>
								{{ vehicle.engine_vol }}
								{% include 'includes/help-block.html' with field=vehicle.engine_vol %}
							</div>
						</div>
						<div class="form-group{% if vehicle.seats.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								{{ vehicle.seats.label_tag }}
							</div>
							<div class="col-sm-8">
								<div class="value"><span>5</span></div>
								{{ vehicle.seats }}
								{% include 'includes/help-block.html' with field=vehicle.seats %}
							</div>
						</div>
						<div class="form-group{% if vehicle.usage.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label>{{ vehicle.usage.label }}</label>
							</div>
							<div class="col-sm-8">
								{{ vehicle.usage }}
								{% include 'includes/help-block.html' with field=vehicle.usage %}
							</div>
						</div>
						<div class="form-group{% if vehicle.tpl.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label>{{ vehicle.tpl.label }}</label>
							</div>
							<div class="col-sm-8 radio">
								{{ vehicle.tpl }}
								{% include 'includes/help-block.html' with field=vehicle.tpl %}
							</div>
						</div>
						<div class="form-group{% if vehicle.tpl_amount.errors %} has-error{% endif %}">
							<div class="control-label col-sm-4">
								<label>{{ vehicle.tpl_amount.label }}</label>
							</div>
							<div class="col-sm-8">
								{{ vehicle.tpl_amount|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=vehicle.tpl_amount %}
							</div>
						</div>
						{% comment %}
							<div class="form-group{% if vehicle.ode.errors %} has-error{% endif %}">
								<div class="control-label col-sm-4">
									<label>{{ vehicle.ode.label }}</label>
								</div>
								<div class="col-sm-8 radio">
									{{ vehicle.ode }}
									{% include 'includes/help-block.html' with field=vehicle.ode %}
								</div>
							</div>
						{% endcomment %}
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Vehicle Info</h3>
					<p>Please enter your vehicle details and type of usage.</p>
					<p>Move each slider handle (red bullet) left or right in order to set vehicle parameters.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section" style="margin-bottom:0;">
						<div class="form-group form-actions">
							<div class="col-sm-offset-4 col-sm-8">
								<button type="submit" class="btn btn-primary next_step">{% trans 'Get Your Best Quote!' %}</button>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</form>
	</article>
{% endblock %}