{% extends "ghana/motor/base.html" %}

{% load i18n thumbnail %}

{% block content %}
    {% with active=2 %}
        {% include 'includes/step-by-step.html' %}
    {% endwith %}

<div class="container" >
                <h3 class="red-color">Motor Insurance <span class="text-muted"><strong> | Step 2. Your Top Insurance Plans</strong></span></h3>
                <p><span class="fa fa-info-circle"></span><small><i> Choose Your Quote From The Top Insurance Companies</i></small></p>

                <div class="table-responsive"> 
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th></th>
                                <th><strong>Insurance Company</strong></th>
                                <th><strong>Standard quote</strong></th>
                                <th><strong>Quote with excess bought</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for radio, items in quotes %}
                            <tr>
                                <td class="logo">
                                    {% thumbnail items.logo "x60" as im %}
                                        <img src="{{ im.url }}" height="60" alt="" />
                                    {% empty %}
                                        &nbsp;
                                    {% endthumbnail %}
                                </td>
                                <td>
                                    <h4 class="padding-top-plus-20 padding-bottom-plus-20 red-color">{{ radio.tag }} {{ radio.choice_label }}</h4>
                                </td>
                                <td><h5 class="text-center-xs">
                                    {% comment %}
                                    This "if" exist here, because SIC company need to have only one (Quote with excess bought) available
                                    value... Putting the small logic here is simpler, than in view. SIC have pk 22!
                                    Also the Phoenix company share the same situation as SIC.
                                    {% endcomment %}
                                    {% if items.nr == 22 or items.nr == 16 %}
                                        -
                                    {% else %}
                                        {{ items.quote }}
                                        <button type="button" class="btn btn-primary">{% trans "Select this plan" %}</button>
                                    {% endif %}</h5>
                                </td>
                                {% if insurance_type == 2 %}
                                    <td class="quote"><h5 class="text-center-xs">
                                    N/A
                                    </h5></td>
                                {% else %}
                                    <td class="quote"><h5 class="text-center-xs">
                                        {{ items.quote_excess }}
                                        </h5>
                                        <button type="button" class="btn btn-primary">{% trans "Select this plan" %}</button>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                    </table>
                    {{ company.company.errors }}
                </div>
                <div class="form-group payment-option{% if company.q_type.errors %} alert alert-danger has-error{% endif %}">
                {{ company.q_type.label_tag }}
                <ul class="radio-list">
                    {% for radio in company.q_type %}
                        <li>{{ radio.tag }} <label>{{ radio.choice_label }}</label></li>
                    {% endfor %}
                </ul>
                {% include 'includes/help-block.html' with field=company.q_type %}
            </div>

                <div class="row light-gray-bg">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        <a href="{% url 'motor_step1' %}" class="btn btn-danger btn-lg red-bg"><i class="fa fa-arrow-left"></i> {% trans "Back" %} </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-lg-offset-8 col-md-offset-8  col-sm-6 col-xs-6">

                        <button type="submit" class="btn btn-primary pull-right next_step">{% trans "Next" %} <span class="fa fa-arrow-right"></span></button>
                    </div>
                </div>
                </form>



            </div>

{% endblock %}