{% extends "ghana/motor/base.html" %}

{% load i18n thumbnail %}

{% block content %}
	{% with active=2 %}
		{% include 'includes/step-by-step.html' %}
	{% endwith %}
	<article>
		<h1>{% trans 'Motor Insurance' %} <small>| {% trans 'Step 2. Your Top Insurance Plans' %}</small></h1>
		<div class="subheading">Provide your details, choose the best quote, pay and instantly receive a cover note! It's that simple.</div>
		<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
			{% csrf_token %}
			<div class="field{% if company.company.errors %} alert alert-danger{% endif %}">
				<table class="table rank">
					<thead>
						<tr>
							<th colspan="2">&nbsp;</th>
							<th>Standard quote</th>
							<th>Quote with excess bought</th>
						</tr>
					</thead>
					<tbody>
						{% for radio, items in quotes %}
							<tr>
								<td class="logo">
									{% thumbnail items.logo "x60" as im %}
										<img src="{{ im.url }}" height="60" alt="" />
									{% empty %}
										&nbsp;
									{% endthumbnail %}
								</td>
								<td>
									<h3>{{ radio.tag }} {{ radio.choice_label }}</h3>
								</td>
								<td class="quote">
									{% comment %}
									This "if" exist here, because SIC company need to have only one (Quote with excess bought) available
									value... Putting the small logic here is simpler, than in view. SIC have pk 22!
									Also the Phoenix company share the same situation as SIC.
									{% endcomment %}
									{% if items.nr == 22 or items.nr == 16 %}
										-
									{% else %}
										{{ items.quote }}
										<button type="button" class="btn btn-primary">{% trans "Select this plan" %}</button>
									{% endif %}
								</td>
								{% if insurance_type == 2 %}
									<td class="quote">
									N/A
									</td>
								{% else %}
									<td class="quote">
										{{ items.quote_excess }}
										<button type="button" class="btn btn-primary">{% trans "Select this plan" %}</button>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{{ company.company.errors }}
			</div>
			<div class="form-group payment-option{% if company.q_type.errors %} alert alert-danger has-error{% endif %}">
				{{ company.q_type.label_tag }}
				<ul class="radio-list">
					{% for radio in company.q_type %}
						<li>{{ radio.tag }} <label>{{ radio.choice_label }}</label></li>
					{% endfor %}
				</ul>
				{% include 'includes/help-block.html' with field=company.q_type %}
			</div>
			<fieldset class="section" style="margin-bottom:0;">
				<div class="form-group form-actions">
					<div class="col-sm-6">
						<a href="{% url 'motor_step1' %}" class="btn btn-default"><span class="fa fa-chevron-left left"></span> {% trans "Back" %}</a>
					</div>
					<div class="col-sm-6">
						<button type="submit" class="btn btn-primary pull-right next_step">{% trans "Next" %} <span class="fa fa-chevron-right right"></span></button>
					</div>
				</div>
			</fieldset>
		</form>
	</article>
{% endblock %}