{% extends "ghana/motor/base.html" %}

{% load i18n bootstrap humanize %}

{% block content %}
	{% with active=4 %}
		{% include 'includes/step-by-step.html' %}
	{% endwith %}
	<article>
		<h1>{% trans 'Motor Insurance' %} <small>| Step 4. {% trans 'Confirmation' %}</small></h1>
		<div class="subheading">Please check if provided data is correct!</div>
		<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described confirm-block">
						<table class="table">
							<tbody>
								<tr>
									<th>First name:</th>
									<td>{{ Step1.first_name }}</td>
								</tr>
								<tr>
									<th>Last name:</th>
									<td>{{ Step1.last_name }}</td>
								</tr>
								<tr>
									<th>Mobile number:</th>
									<td>{{ Step1.telephone }}</td>
								</tr>
								<tr>
									<th>E-mail address:</th>
									<td>{{ Step1.email }}</td>
								</tr>
								<tr>
									<th>Years of no claims:</th>
									<td>{{ Step1.convictions }}</td>
								</tr>
								{% if Step1.previous_insure %}
									<tr>
										<th>Name of your previous insurance company:</th>
										<td>{{ Step1.previous_insure }}</td>
									</tr>
									<tr>
										<th>Number of your previous insurance policy:</th>
										<td>{{ Step1.previous_insure_nr }}</td>
									</tr>
								{% endif %}
								<tr>
									<th>Estimated present value of vehicle:</th>
									<td>{{ Step1.value }}</td>
								</tr>
								<tr>
									<th>Year of manufacture:</th>
									<td>{{ Step1.prod_year }}</td>
								</tr>
								<tr>
									<th>Engine cubic capacity:</th>
									<td>{{ Step1.engine_vol }}cc</td>
								</tr>
								<tr>
									<th>Type of usage:</th>
									<td>{{ Step1.usage }}</td>
								</tr>
								<tr>
									<th>Vehicle seat capacity:</th>
									<td>{{ Step1.seats }}</td>
								</tr>
								<tr>
									<th>Include Third Party Limit:</th>
									<td>{{ Step1.tpl }}</td>
								</tr>
								{% if Step1.tpl == 'Yes' %}
									<tr>
										<th>Third Party Limit Amount:</th>
										<td>{{ Step1.tpl_amount }}</td>
									</tr>
								{% endif %}
								{% comment %}
									<tr>
										<th>Own Damage Excess:</th>
										<td>{% if Step1.ode == 'Yes' %}granted{% else %}not granted{% endif %}</td>
									</tr>
								{% endcomment %}
							</tbody>
						</table>
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Personal Details</h3>
					<a href="{% url 'motor_step1' %}" class="btn btn-default btn-sm"><span class="fa fa-pencil-square left"></span> {% trans "Edit" %}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described confirm-block">
						<table class="table">
							<tbody>
								<tr>
									<th>Insurance Package:</th>
									<td>
										{{ Step2.company }} <br />
										<strong style="color:#E30000;">{{ Step2.value }}</strong>
									</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Quote selected</h3>
					<a href="{% url 'motor_step2' %}" class="btn btn-default btn-sm"><span class="fa fa-pencil-square left"></span> {% trans "Edit" %}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described confirm-block">
						<table class="table">
							<tbody>
								<tr>
									<th>Street address and number:</th>
									<td>{{ Step3.address }}</td>
								</tr>
								<tr>
									<th>City/town:</th>
									<td>{{ Step3.town }}</td>
								</tr>
								<tr>
									<th>Business or occupation:</td>
									<td>{{ Step3.occupation }}</td>
								</tr>
								<tr>
									<th>Date of birth:</th>
									<td>{{ Step3.birth }}</td>
								</tr>
								<tr>
									<th>Landline telephon number:</th>
									<td>{{ Step3.landline }}</td>
								</tr>
								<tr>
									<th>Years full driving license held:</th>
									<td>{{ Step3.driver_license }}</td>
								</tr>
								<tr>
									<th>Make of car:</th>
									<td>{{ Step3.make_of_vehicle }}</td>
								</tr>
								<tr>
									<th>Car body type:</th>
									<td>{{ Step3.body_type }}</td>
								</tr>
								<tr>
									<th>Is the vehicle at present in a state of repair?</th>
									<td>{{ Step3.repair }}</td>
								</tr>
								<tr>
									<th>Has the vehicle been altered or adapted from the original manufacturer's design in any way?</th>
									<td>{{ Step3.changed }}</td>
								</tr>
								<tr>
									<th>Are you the owner of the vehicle and is it registered in your name?</th>
									<td>{{ Step3.owner }}</td>
								</tr>
								{% if Step3.owner == 'No' %}
									<tr>
										<th>Name and address of owner:</th>
										<td>{{ Step3.owner_address }}</td>
									</tr>
								{% endif %}
								<tr>
									<th>Did you or the owner of the vehicle obtain a loan to purchase the vehicle?</th>
									<td>{{ Step3.loan }}</td>
								</tr>
								{% if Step3.loan == 'Yes' %}
									<tr>
										<th>Name and address of person/company from whom the loan was obtained:</th>
										<td>{{ Step3.loan_info }}</td>
									</tr>
								{% endif %}
								<tr>
									<th>Accidents or losses in past years:</th>
									<td>{{ Step3.accident }}</td>
								</tr>
								<tr>
									<th>Defective vision or hearing or other physical infirmity:</th>
									<td>{{ Step3.defect }}</td>
								</tr>
								<tr>
									<th>Previous motor insurance:</th>
									<td>{{ Step3.previous_insure }}</td>
								</tr>
								{% if Step3.previous_insure == 'Yes' %}
									<tr>
										<th>Declined your proposal?</th>
										<td>{{ Step3.declined_proposal }}</td>
									</tr>
									<tr>
										<th>Required you to carry the first portion of any loss?</th>
										<td>{{ Step3.carry_loss }}</td>
									</tr>
									<tr>
										<th>Required an increased premium or imposed special conditions?</th>
										<td>{{ Step3.special_conditions }}</td>
									</tr>
									<tr>
										<th>Refused to renew your license?</th>
										<td>{{ Step3.refuse_renew }}</td>
									</tr>
									<tr>
										<th>Cancelled your policy?</th>
										<td>{{ Step3.cancelled_policy }}</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Additional Info</h3>
					<a href="{% url 'motor_step3' %}" class="btn btn-default btn-sm"><span class="fa fa-pencil-square left"></span> {% trans "Edit" %}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section confirm-block">
						{% csrf_token %}
						<div class="form-group{% if form.correct.errors %} has-error{% endif %}">
							<div class="col-sm-12 checkbox">
								<p>By submitting this proposal I hereby warrant that the statements and particulars made on this page are true and I hereby agree that this Declaration shall be held to be promissory and of continuing effect and shall form the basis of and be deemed to be incorporated in the Contract between me and BestQuote (Ghana) Ltd., and I are willing to accept a policy subject to the Terms prescribed by the Company therein and to pay the premium thereon.</p>
								{{ form.correct }}
								<label for="id_{{ form.correct.name }}">Yes, data is correct.</label>
								{% include 'includes/help-block.html' with field=form.correct %}
							</div>
						</div>
						<div class="form-group form-actions">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary next_step">{% trans "Submit proposal" %} <span class="fa fa-chevron-right right"></span></button>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</form>
	</article>
{% endblock %}