{% extends "ghana/motor/base.html" %}

{% load i18n bootstrap %}

{% block content %}
    {% with active=1 %}
	{% include 'includes/step-by-step.html' %}
    {% endwith %}
<div class="container">
		<h3 class="red-color">Motor Insurance  <span class="text-muted"><strong> | Step 1. Customer & Vehicle Information</strong></span></h3>
		<p><span class="fa fa-info-circle"></span><small><i> Provide Your Personal Information , Insurance History And Vehicle Information</i></small></p>

		<div class="section light-gray-bg">
		    <!-- <form role="form" title="good"> -->
		    <form action="{{ request.build_absolute_uri }}" method="post" role="form">
		    {% csrf_token %}
			<div class="container">
			    <div class="row">
				<div class="col-md-6">
				    <h4>Customer Information</h4>
				    <div class="row">
					<div class="col-md-10">
						{% if customer.non_field_errors %}
							<div class="form-group alert alert-danger col-md-6">
								{% for error in customer.non_field_errors %}
									<p>{{ error }}</p>
								{% endfor %}
							</div>
						{% endif %}

						{% for field in customer %}
							<div class="form-group{% if field.errors %} has-error{% endif %}">
								<div class="control-label">
									<strong>{{ field.label_tag }}</strong>
									
								<!-- </div>
								<div class="col-sm-8"> -->
									{{ field|addclass:'form-control' }}
									{% include 'includes/help-block.html' with field=field %}
								</div>
							</div>
						{% endfor %}

					</div>
				    </div>
				</div>
				<div class="col-md-6">
				    <h4>Vehicle Information</h4>
				    <div class="row">
					<div class="col-md-10">
					    <div class="form-group {% if vehicle.insurance_type.errors %} has-error{% endif %}">
						<label class="control-label"><strong> {{ vehicle.insurance_type.label }}</strong></label>
						{{ vehicle.insurance_type|addclass:'form-control' }}
						<!-- <p><span class="fa fa-info-circle"></span><small><i> For example ₵40,000.00. Please do not use commas and dots.</i></small></p> -->
					    </div>

					    <div class="form-group{% if vehicle.value.errors %} has-error{% endif %}">
						<label class="control-label"><strong> {{ vehicle.value.label_tag }}</strong></label>
						{{ vehicle.value|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=vehicle.value %}
					    </div>

					    <div class="form-group{% if vehicle.prod_year.errors %} has-error{% endif %}">
						{{ vehicle.prod_year.label_tag }}
						<div class="value"><span>1990</span></div>
								{{ vehicle.prod_year }}
								{% include 'includes/help-block.html' with field=vehicle.prod_year %}
					    </div>
					    
					    <div class="form-group{% if vehicle.engine_vol.errors %} has-error{% endif %}">
						{{ vehicle.engine_vol.label_tag }}
						<div class="value"><span>1500</span> cc</div>
								{{ vehicle.engine_vol }}
								{% include 'includes/help-block.html' with field=vehicle.engine_vol %}
					    </div>
					    <div class="form-group{% if vehicle.seats.errors %} has-error{% endif %}">
						{{ vehicle.seats.label_tag }}
						<div class="value"><span>5</span></div>
								{{ vehicle.seats }}
								{% include 'includes/help-block.html' with field=vehicle.seats %}
					    </div>
					    <div class="form-group{% if vehicle.usage.errors %} has-error{% endif %}">
						<label>{{ vehicle.usage.label }}</label>
						{{ vehicle.usage|addclass:'form-control' }} 
								{% include 'includes/help-block.html' with field=vehicle.usage %}

					    </div>
					    
					    <div class="form-group{% if vehicle.tpl.errors %} has-error{% endif %}">
					    	<label>{{ vehicle.tpl.label }}</label>
					    	<div class="radio">
								{{ vehicle.tpl }}
								{% include 'includes/help-block.html' with field=vehicle.tpl %}
							</div>

					    </div>


					    
					    <div class="form-group{% if vehicle.tpl_amount.errors %} has-error{% endif %}">
						<label>{{ vehicle.tpl_amount.label }}</label>
						{{ vehicle.tpl_amount|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=vehicle.tpl_amount %}
					    </div>
					</div>
				    </div>
				</div>
			    </div>

			    <div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-2">
				    
				    <button type="submit" class="btn red-bg center-block white-color">{% trans 'Get Your Best Quote!' %}</button>
				</div>
				<div class="col-md-5"></div>
			    </div>
			</div>
		    </form>
		</div>
	    </div>

	    {% endblock %}