{% extends "ghana/motor/base.html" %}

{% load i18n bootstrap humanize %}

{% block content %}
    {% with active=4 %}
        {% include 'includes/step-by-step.html' %}
    {% endwith %}
<div class="container">
                    <form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
                        <div class="row light-gray-bg">
                            <div class="col-md-4 col-lg-offset-4">
                                <h4 class="red-color">Personal Information</h4>
                            </div>

                            <div class="col-md-4 col-lg-offset-4 ">
                                <h6>First Name : <span class="text-muted"> {{ Step1.first_name }} </span></h6>
                                <h6>Last Name : <span class="text-muted"> {{ Step1.last_name }} </span></h6>
                                <h6>Mobile Number : <span class="text-muted"> {{ Step1.telephone }} </span></h6>
                                <h6>E-mail Address : <span class="text-muted"> {{ Step1.email }} </span></h6>
                                <h6>Years of no claims : <span class="text-muted"> {{ Step1.convictions }} </span> </h6>
                                {% if Step1.previous_insure %}
                                <h6>Name of your previous insurance company : <span class="text-muted"> {{ Step1.convictions }} </span> </h6>

                                <h6>Number of your previous insurance policy : <span class="text-muted"> {{ Step1.previous_insure_nr }} </span> </h6>

                                {% endif %}
                            
                                <h6>Estimated present value of vehicle : <span class="text-muted"> {{ Step1.value }} </span> </h6>
                                <h6>Year of manufacture : <span class="text-muted"> {{ Step1.prod_year }} </span></h6>
                                <h6>Engine cubic capacity : <span class="text-muted"> {{ Step1.engine_vol }} cc </span></h6>
                                <h6>Type of usage : <span class="text-muted"> {{ Step1.usage }} </span></h6>
                                <h6>Vehicle seat capacity : <span class="text-muted"> {{ Step1.seats }} </span></h6>
                                <h6>Include Third Party Limit : <span class="text-muted"> {{ Step1.tpl }} </span></h6>

                                {% if Step1.tpl == 'Yes' %}
                                    <h6>Include Third Party Limit : <span class="text-muted"> {{ Step1.tpl }} </span></h6>
                                {% endif %}

                                {% comment %}
                                    <tr>
                                        <th>Own Damage Excess:</th>
                                        <td>{% if Step1.ode == 'Yes' %}granted{% else %}not granted{% endif %}</td>
                                    </tr>
                                {% endcomment %}


                                <a href="{% url 'motor_step1' %}" class="btn btn-danger btn-sm red-bg text-center"> <i class="fa fa-pencil"> </i> {% trans "Edit" %}</a>
                                <br/>
                                <br/>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="row light-gray-bg">
                            <div class="col-md-4 col-lg-offset-4">
                                <h4 class="red-color">Quote selected</h4>
                            </div>

                            <div class="col-md-5 col-lg-offset-4 ">
                                <h6>Insurance Package : <span class="text-muted"> {{ Step2.company }}  </span></h6>
                                <h6><span class="text-muted"> {{ Step2.value }} </span></h6>
                                <a href="{% url 'motor_step2' %}" class="btn btn-danger btn-sm red-bg text-center"> <i class="fa fa-pencil"> </i> {% trans "Edit" %}</a>
                                <br/>
                                <br/>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="row light-gray-bg">
                            <div class="col-md-4 col-lg-offset-4">
                                <h4 class="red-color">Additional Information</h4>
                            </div>

                            <div class="col-md-4 col-lg-offset-4 ">
                                <h6>Street address and number : <span class="text-muted"> {{ Step3.address }}  </span></h6>
                                <h6>City/town : <span class="text-muted"> {{ Step3.town }} </span></h6>
                                <h6>Business or occupation : <span class="text-muted"> {{ Step3.occupation }} </span></h6>
                                <h6>Date of birth : <span class="text-muted"> {{ Step3.birth }} </span></h6>
                                <h6>Landline telephone number : <span class="text-muted"> {{ Step3.landline }} </span></h6>
                                <h6>Years full driving license held : <span class="text-muted"> {{ Step3.driver_license }}  </span></h6>
                                <h6>Make of car : <span class="text-muted"> {{ Step3.make_of_vehicle }} </span></h6>
                                <h6>Car body type : <span class="text-muted"> {{ Step3.body_type }} </span></h6>
                                <h6>Is the vehicle at present in a state of repair?: <span class="text-muted"> {{ Step3.repair }} </span></h6>
                                <h6>Has the vehicle been altered or adapted from the original manufacturer's design in any way?: <span class="text-muted"> {{ Step3.changed }} </span></h6>

                                <h6>Are you the owner of the vehicle and is it registered in your name?: <span class="text-muted"> {{ Step3.owner }} </span></h6>

                                {% if Step3.owner == 'No' %}
                                    <h6>Name and address of owner: <span class="text-muted"> {{ Step3.owner_address }} </span></h6>

                                {% endif %}

                                <h6>Did you or the owner of the vehicle obtain a loan to purchase the vehicle?: <span class="text-muted"> {{ Step3.loan }} </span></h6>

                                {% if Step3.loan == 'Yes' %}
                                    <tr>
                                        <th>Name and address of person/company from whom the loan was obtained:</th>
                                        <td>{{ Step3.loan_info }}</td>
                                    </tr>
                                {% endif %}

                                <h6>Accidents or losses in past years: <span class="text-muted"> {{ Step3.accident }} </span></h6>
                                <h6>Defective vision or hearing or other physical infirmity: <span class="text-muted"> {{ Step3.defect }} </span></h6>
                                <h6>Previous motor insurance: <span class="text-muted"> {{ Step3.previous_insure }} </span></h6>


                                {% if Step3.previous_insure == 'Yes' %}
                                    <h6>Declined your proposal?: <span class="text-muted"> {{ Step3.declined_proposal }} </span></h6>

                                    <h6>Required you to carry the first portion of any loss?: <span class="text-muted"> {{ Step3.carry_loss }} </span></h6>

                                    <h6>Required an increased premium or imposed special conditions?: <span class="text-muted"> {{ Step3.special_conditions }} </span></h6>

                                    <h6>Cancelled your policy?: <span class="text-muted"> {{ Step3.refuse_renew }} </span></h6>

                                    <h6>Declined your proposal?: <span class="text-muted"> {{ Step3.cancelled_policy }} </span></h6>
                                    
                                {% endif %}


                                <a href="{% url 'motor_step3' %}" class="btn btn-danger btn-sm red-bg text-center"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a>
                                <br/>
                                <br/>
                            </div>

                        </div>

                        <br/>
                        <br/>
                        <div class="row light-gray-bg">
                            <div class="col-md-8 col-lg-offset-4">
                                <br/>
                                {% csrf_token %}
                                By submitting this proposal I hereby warrant that the statements and particulars made on this page are true and 
                                I hereby agree that this Declaration shall be held to be promissory and of continuing effect and shall form the 
                                basis of and be deemed to be incorporated in the Contract between me and BestQuote (Ghana) Ltd.,
                                and I are willing to accept a policy subject to the Terms prescribed by the Company therein and to pay the premium thereon.
                                <br/>
                                <br/>
                                <div class="col-sm-10">
                                    {{ form.correct }}
                                    <label for="id_{{ form.correct.name }}">Yes, data is correct.</label>
                                    {% include 'includes/help-block.html' with field=form.correct %}
                                </div>

                                <!-- <a href="motor-step-5.html" class="btn btn-danger red-bg"> Submit Proposal <i class="fa fa-send"></i> </a> -->
                                <button type="submit" class="btn btn-danger red-bg">{% trans "Submit proposal" %} <i class="fa fa-send"></i></button>
                                <br/>
                                <br/>
                            </div>
                            <br/>
                        </div>

                        <br/><br/>

                    </form>
                </div>
                {% endblock %}