{% extends "ghana/motor/base.html" %}

{% load i18n bootstrap %}

{% block content %}
    {% with active=5 %}
        {% include 'includes/step-by-step.html' %}
    {% endwith %}

<div class="container">
                <br/>
                    <p>
                        You have successfully registered your proposal. You will receive a confirmation e-mail with your details.
                        Please keep it safe for later reconciliation.
                    </p>

                    <p>
                        The last step is to make payment for your selected policy. You can chose between card payment (VISA, MasterCard),
                        Mobile Money or cash/cheque payment using the Payall merchant network.
                    </p>
                    <center>
                    <p class="red-color">
                       <strong>Total Premium Due: {{ vpc_Currency }} {{ vpc_Amount }} </strong><br/>
                       <em> Please choose your preferred payment means below, to complete your transaction. <br/><strong>(You will be redirected to a payment page.)</strong></em>
                    </p>
                    </center>
                       


                

        <!-- <form action="{{ payall_payment }}" method="post"> -->
        <!-- <form action="https://migs.mastercard.com.au/vpcpay" method="get"> -->
			<!-- test url -->
		<form action="https://migs-mtf.mastercard.com.au/vpcpay" method="get">
			
			
			

            <!-- {% csrf_token %} -->
            <input type="hidden" name="vpc_AccessCode" value={{vpc_AccessCode }} />
            <input type="hidden" name="vpc_Amount" value={{ vpc_Amount }} />
            <input type="hidden" name="vpc_Command" value={{ vpc_Command }} />
            <input type="hidden" name="vpc_Currency" value={{ vpc_Currency }} />
            <input type="hidden" name="vpc_Locale" value={{ vpc_Locale }} />
            <input type="hidden" name="vpc_MerchTxnRef" value={{ vpc_MerchTxnRef }} />
            <input type="hidden" name="vpc_Merchant" value={{ vpc_Merchant }} />
            <input type="hidden" name="vpc_OrderInfo" value={{ vpc_OrderInfo }} />
            <input type="hidden" name="vpc_ReturnURL" value={{ vpc_ReturnURL }} />
            <input type="hidden" name="vpc_Version" value={{ vpc_Version }} />
            <input type="hidden" name="vpc_SecureHash" value={{ vpc_SecureHash }} />

            <!-- <input type="hidden" name="store-id" value="{{ store_id }}" />
            <input type="hidden" name="order-id" value="{{ order_id }}" />
            <input type="hidden" name="amount" value="{{ amount }}" />
            <input type="hidden" name="currency" value="{{ currency }}" />
            <input type="hidden" name="checksum" value="{{ checksum }}" />
            <input type="hidden" name="salt" value="{{ salt }}" />
            <input type="hidden" name="title" value="{{ title }}" />
            <input type="hidden" name="user-firstname" value="{{ user_firstname }}" />
            <input type="hidden" name="user-lastname" value="{{ user_lastname }}" />
            <input type="hidden" name="user-phone" value="{{ user_phone }}" />
            <input type="hidden" name="user-city" value="{{ user_city }}" />
            <input type="hidden" name="user-street" value="{{ user_street }}" />
            <input type="hidden" name="user-email" value="{{ user_mail }}" /> -->
            <!-- <button type="submit" class="btn btn-primary">Proceed to Payment</button> -->
            <center>
            <button type="submit" class="btn btn-danger red-bg">Debit/Credit Card <i class="fa fa-credit-card"></i></button> 
            <br/><img u="image" src="{{ STATIC_URL }}img/cards.png" />
            </center>
        </form>

                
            
            </div>

            {% endblock %}