{% extends "ghana/motor/base.html" %}

{% load i18n bootstrap %}

{% block content %}
	{% with active=3 %}
		{% include 'includes/step-by-step.html' %}
	{% endwith %}
	<article>
		<h1>{% trans 'Motor Insurance' %} <small>| {% trans 'Step 3. Additional Information' %}</small></h1>
		<div class="subheading">We have some of your personal data, but we need more information about you.<br />Please provide all information items requested below.</div>
		<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described">
						{% if customer.non_field_errors %}
							<div class="alert alert-danger">
								{% for error in customer.non_field_errors %}
									<p>{{ error }}</p>
								{% endfor %}
							</div>
						{% endif %}
						{% for field in customer %}
							<div class="form-group{% if field.errors %} has-error{% endif %}">
								<div class="control-label col-sm-4">
									{{ field.label_tag }}
								</div>
								<div class="col-sm-8">
									{{ field|addclass:'form-control' }}
									{% include 'includes/help-block.html' with field=field %}
								</div>
							</div>
						{% endfor %}
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Personal Details</h3>
					<p>Please provide us with some more information about you.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described">
						{% if ownership.non_field_errors %}
							<div class="alert alert-danger">
								{% for error in ownership.non_field_errors %}
									<p>{{ error }}</p>
								{% endfor %}
							</div>
						{% endif %}
						<div class="form-group{% if ownership.vrp.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								{{ ownership.vrp.label_tag }}
							</div>
							<div class="col-sm-6">
								{{ ownership.vrp|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=ownership.vrp %}
							</div>
						</div>
						<div class="form-group{% if ownership.vin.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								{{ ownership.vin.label_tag }}
							</div>
							<div class="col-sm-6">
								{{ ownership.vin|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=ownership.vin %}
							</div>
						</div>
						<div class="form-group{% if ownership.make_of_vehicle.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								{{ ownership.make_of_vehicle.label_tag }}
							</div>
							<div class="col-sm-6">
								{{ ownership.make_of_vehicle|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=ownership.make_of_vehicle %}
							</div>
						</div>
						<div class="form-group{% if ownership.body_type.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								{{ ownership.body_type.label_tag }}
							</div>
							<div class="col-sm-6">
								{{ ownership.body_type|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=ownership.body_type %}
							</div>
						</div>
						<div class="form-group{% if ownership.repair.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								{{ ownership.repair.label_tag }}
							</div>
							<div class="col-sm-6 radio">
								{{ ownership.repair }}
								{% include 'includes/help-block.html' with field=ownership.repair %}
							</div>
						</div>
						<div class="form-group{% if ownership.changed.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								{{ ownership.changed.label_tag }}
							</div>
							<div class="col-sm-6 radio">
								{{ ownership.changed }}
								{% include 'includes/help-block.html' with field=ownership.changed %}
							</div>
						</div>
						<div class="form-group{% if ownership.owner.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								{{ ownership.owner.label_tag }}
							</div>
							<div class="col-sm-6 radio">
								{{ ownership.owner }}
								{% include 'includes/help-block.html' with field=ownership.owner %}
							</div>
						</div>
						<div class="form-group{% if ownership.owner_address.errors %} has-error{% endif %} optional ifunchecked" rel="{{ ownership.owner.name }}">
							<div class="control-label col-sm-6">
								{{ ownership.owner_address.label_tag }}
							</div>
							<div class="col-sm-6">
								{{ ownership.owner_address|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=ownership.owner_address %}
							</div>
						</div>
						<div class="form-group{% if ownership.loan.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								{{ ownership.loan.label_tag }}
							</div>
							<div class="col-sm-6 radio">
								{{ ownership.loan }}
								{% include 'includes/help-block.html' with field=ownership.loan %}
							</div>
						</div>
						<div class="form-group{% if ownership.loan_info.errors %} has-error{% endif %} optional ifchecked" rel="{{ ownership.loan.name }}">
							<div class="control-label col-sm-6">
								{{ ownership.loan_info.label_tag }}
							</div>
							<div class="col-sm-6 radio">
								{{ ownership.loan_info|addclass:'form-control' }}
								{% include 'includes/help-block.html' with field=ownership.loan_info %}
							</div>
						</div>
						<div class="form-group{% if misc.accident.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								<label>Have there been any accidents or losses in connection with any motor vehicle owned or driven by you or by a person detailed as driver during the past years?</label>
							</div>
							<div class="col-sm-6 radio">
								{{ misc.accident }}
								{% include 'includes/help-block.html' with field=misc.accident %}
							</div>
						</div>
						<div class="form-group{% if misc.defect.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								<label>To the best of your knowlege and belief do you or does any person who to your knowlege will drive, suffer from defective vision or hearing or from any physical infirmity?</label>
							</div>
							<div class="col-sm-6 radio">
								{{ misc.defect }}
								{% include 'includes/help-block.html' with field=misc.defect %}
							</div>
						</div>
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Vehicle and Drivers Details</h3>
					<p>Please answer questions about vehicle being insured and its drivers.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section described">
						<div class="form-group{% if misc.previous_insure.errors %} has-error{% endif %}">
							<div class="control-label col-sm-6">
								<label>Have you ever held a motor insurance policy or ever proposed to an insurance company for motor insurance?</label>
							</div>
							<div class="col-sm-6 radio">
								{{ misc.previous_insure }}
								{% include 'includes/help-block.html' with field=misc.previous_insure %}
							</div>
						</div>
						<div class="form-group optional ifchecked" rel="{{ misc.previous_insure.name }}">
							<div class="col-sm-12">
								<label><strong>Has any insurance company or underwriter ever, in connection with any motor vehicle&hellip;</strong></label>
							</div>
						</div>
						<div class="form-group{% if misc.declined_proposal.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
							<div class="control-label col-sm-6">
								<label>&hellip;{{ misc.declined_proposal.label|lower }}</label>
							</div>
							<div class="col-sm-6 radio">
								{{ misc.declined_proposal }}
								{% include 'includes/help-block.html' with field=misc.declined_proposal %}
							</div>
						</div>
						<div class="form-group{% if misc.carry_loss.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
							<div class="control-label col-sm-6">
								<label>&hellip;{{ misc.carry_loss.label|lower }}</label>
							</div>
							<div class="col-sm-6 radio">
								{{ misc.carry_loss }}
								{% include 'includes/help-block.html' with field=misc.carry_loss %}
							</div>
						</div>
						<div class="form-group{% if misc.special_conditions.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
							<div class="control-label col-sm-6">
								<label>&hellip;{{ misc.special_conditions.label|lower }}</label>
							</div>
							<div class="col-sm-6 radio">
								{{ misc.special_conditions }}
								{% include 'includes/help-block.html' with field=misc.special_conditions %}
							</div>
						</div>
						<div class="form-group{% if misc.refuse_renew.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
							<div class="control-label col-sm-6">
								<label>&hellip;{{ misc.refuse_renew.label|lower }}</label>
							</div>
							<div class="col-sm-6 radio">
								{{ misc.refuse_renew }}
								{% include 'includes/help-block.html' with field=misc.refuse_renew %}
							</div>
						</div>
						<div class="form-group{% if misc.cancelled_policy.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
							<div class="control-label col-sm-6">
								<label>&hellip;{{ misc.cancelled_policy.label|lower }}</label>
							</div>
							<div class="col-sm-6 radio">
								{{ misc.cancelled_policy }}
								{% include 'includes/help-block.html' with field=misc.cancelled_policy %}
							</div>
						</div>
					</fieldset>
				</div>
				<div class="col-md-3 description">
					<h3>Insurance History</h3>
					<p>Select the appropriate answer for each question about your previous insurances.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<fieldset class="section" style="margin-bottom:0;">
						<div class="form-group form-actions">
							<div class="col-sm-6">
								<a href="{% url 'motor_step2' %}" class="btn btn-default"><span class="fa fa-chevron-left left"></span> {% trans "Back" %}</a>
							</div>
							<div class="col-sm-6">
								<button type="submit" class="btn btn-primary pull-right next_step">{% trans "Next" %} <span class="fa fa-chevron-right right"></span></button>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</form>
	</article>
{% endblock %}