{% extends "ghana/motor/base.html" %}

{% load i18n bootstrap %}

{% block content %}
    {% with active=3 %}
        {% include 'includes/step-by-step.html' %}
    {% endwith %}

            <div class="container">
                <h3 class="red-color">Motor Insurance  <span class="text-muted"><strong> | Step 3. Additional Information</strong></span></h3>
                <p><span class="fa fa-info-circle"></span><small><i> We have some of your personal data, but we need more information about you.
                            Please provide all information items requested below.</i></small></p>

                <div class="container">
                    <form action="{{ request.build_absolute_uri }}" method="post">
                    {% csrf_token %}
                        <div class="row light-gray-bg">
                            <div class="col-lg-12">
                                <h4 class="red-color">Personal Information</h4>
                                <p><span class="fa fa-info-circle"></span><small><i> Please provide us with some more information about you.</i></small></p>
                            </div>
                            {% if customer.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in customer.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% for field in customer %}
                        <div class="col-md-6 ">
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <div class="control-label">
                                    {{ field.label_tag }}
                                <!-- </div>
                                <div class="col-sm-8"> -->
                                    {{ field|addclass:'form-control' }}
                                    {% include 'includes/help-block.html' with field=field %}
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                        </div>

                        <br/><br/>

                        <div class="row light-gray-bg">
                            <div class="col-lg-12">
                                <h4 class="red-color">Vehicle and Drivers Details</h4>
                                <p><span class="fa fa-info-circle"></span><small><i> Please answer questions about vehicle being insured and its drivers.</i></small></p>
                            </div>

                            <div class="col-md-6">
                            {% if ownership.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in ownership.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="form-group{% if ownership.vrp.errors %} has-error{% endif %}">
                            <div class="control-label">
                                <strong>{{ ownership.vrp.label_tag }}</strong>
                            <!-- </div>
                            <div class="col-sm-6"> -->
                                {{ ownership.vrp|addclass:'form-control' }}
                                {% include 'includes/help-block.html' with field=ownership.vrp %}
                            </div>
                        </div>

                        <div class="form-group{% if ownership.vin.errors %} has-error{% endif %}">
                            <div class="control-label">
                               <strong>{{ ownership.vin.label_tag }}</strong>
                            <!-- </div>
                            <div class="col-sm-6"> -->
                                {{ ownership.vin|addclass:'form-control' }}
                                {% include 'includes/help-block.html' with field=ownership.vin %}
                            </div>
                        </div>

                        <div class="form-group{% if ownership.make_of_vehicle.errors %} has-error{% endif %}">
                            <div class="control-label">
                                {{ ownership.make_of_vehicle.label_tag }}
                            <!-- </div>
                            <div class="col-sm-6"> -->
                                {{ ownership.make_of_vehicle|addclass:'form-control' }}
                                {% include 'includes/help-block.html' with field=ownership.make_of_vehicle %}
                            </div>
                        </div>

                        <div class="form-group{% if ownership.body_type.errors %} has-error{% endif %}">
                            <div class="control-label ">
                                <strong>{{ ownership.body_type.label_tag }}</strong>
                            <!-- </div>
                            <div class="col-sm-6"> -->
                                {{ ownership.body_type|addclass:'form-control' }}
                                {% include 'includes/help-block.html' with field=ownership.body_type %}
                            </div>
                        </div>

                        <div class="form-group{% if ownership.repair.errors %} has-error{% endif %}">
                            <div class="control-label">
                                {{ ownership.repair.label_tag }}
                            <!-- </div>
                            <div class="col-sm-6 radio"> -->
                                {{ ownership.repair }}
                                {% include 'includes/help-block.html' with field=ownership.repair %}
                            </div>
                        </div> 

                        <div class="form-group{% if ownership.changed.errors %} has-error{% endif %}">
                            <div class="control-label ">
                                <strong>{{ ownership.changed.label_tag }}</strong>
                            <!-- </div>
                            <div class="col-sm-6 radio"> -->
                                {{ ownership.changed }}
                                {% include 'includes/help-block.html' with field=ownership.changed %}
                            </div>
                        </div>

                        <div class="form-group{% if ownership.owner.errors %} has-error{% endif %}">
                            <div class="control-label">
                                <strong>{{ ownership.owner.label_tag }}</strong>
                            <!-- </div>
                            <div class="col-sm-6 radio"> -->
                                {{ ownership.owner }}
                                {% include 'includes/help-block.html' with field=ownership.owner %}
                            </div>
                        </div> 
                            </div>
                            <div class="col-md-6">
                            


                        <div class="form-group{% if ownership.owner_address.errors %} has-error{% endif %} optional ifunchecked" rel="{{ ownership.owner.name }}">
                            <div class="control-label">
                                <strong>{{ ownership.owner_address.label_tag }}</strong>
                            <!-- </div>
                            <div class="col-sm-6"> -->
                                {{ ownership.owner_address|addclass:'form-control' }}
                                {% include 'includes/help-block.html' with field=ownership.owner_address %}
                            </div>
                        </div>

                        <div class="form-group{% if ownership.loan.errors %} has-error{% endif %}">
                            <div class="control-label ">
                                <strong>{{ ownership.loan.label_tag }}</strong>
                            <!-- </div>
                            <div class="col-sm-6 radio"> -->
                                {{ ownership.loan }}
                                {% include 'includes/help-block.html' with field=ownership.loan %}
                            </div>
                        </div>

                        <div class="form-group{% if ownership.loan_info.errors %} has-error{% endif %} optional ifchecked" rel="{{ ownership.loan.name }}">
                            <div class="control-label">
                                <strong>{{ ownership.loan_info.label_tag }}</strong>
                            <!-- </div>
                            <div class="col-sm-6 radio"> -->
                                {{ ownership.loan_info|addclass:'form-control' }}
                                {% include 'includes/help-block.html' with field=ownership.loan_info %}
                            </div>
                        </div>

                        <div class="form-group{% if misc.accident.errors %} has-error{% endif %}">
                            <div class="control-label">
                               <strong> <label>Have there been any accidents or losses in connection with any motor vehicle owned or driven by you or by a person detailed as driver during the past years?</label></strong>
                            <!-- </div>
                            <div class="col-sm-6 radio"> -->
                                {{ misc.accident }}
                                {% include 'includes/help-block.html' with field=misc.accident %}
                            </div>
                        </div>

                        <div class="form-group{% if misc.defect.errors %} has-error{% endif %}">
                            <div class="control-label">
                                <strong><label>To the best of your knowlege and belief do you or does any person who to your knowlege will drive, suffer from defective vision or hearing or from any physical infirmity?</label></strong>
                            <!-- </div>
                            <div class="col-sm-6 radio"> -->
                                {{ misc.defect }}
                                {% include 'includes/help-block.html' with field=misc.defect %}
                            </div>
                        </div>
                                
                        </div>

                        </div>
                        <br/><br/>

                        <div class="row light-gray-bg">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4 class="red-color">Insurance History</h4>
                                <p><span class="fa fa-info-circle"></span><small><i> Select the appropriate answer for each question about your previous insurances.</i></small></p>

                                <div class="col-md-6">

                                <div class="form-group{% if misc.previous_insure.errors %} has-error{% endif %}">
                                    <div class="control-label">
                                        <strong><label>Have you ever held a motor insurance policy or ever proposed to an insurance company for motor insurance?</label></strong>
                                    <!-- </div>
                                    <div class="col-sm-6 radio"> -->
                                        {{ misc.previous_insure }}
                                        {% include 'includes/help-block.html' with field=misc.previous_insure %}
                                    </div>
                                </div>
                                </div>

                                <div class="form-group optional ifchecked" rel="{{ misc.previous_insure.name }}">
                                <div class="col-sm-12">
                                <label><strong>Has any insurance company or underwriter ever, in connection with any motor vehicle&hellip;</strong></label>
                                </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="form-group{% if misc.declined_proposal.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
                                    <div class="control-label">
                                    <label>&hellip;{{ misc.declined_proposal.label|lower }}</label>
                                    <!-- </div>
                                    <div class="col-sm-6 radio"> -->
                                    {{ misc.declined_proposal }}
                                    {% include 'includes/help-block.html' with field=misc.declined_proposal %}
                                    </div>
                                    </div>

                                <div class="form-group{% if misc.carry_loss.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
                                    <div class="control-label">
                                <label>&hellip;{{ misc.carry_loss.label|lower }}</label>
                                    <!-- </div>
                                <div class="col-sm-6 radio"> -->
                                {{ misc.carry_loss }}
                                {% include 'includes/help-block.html' with field=misc.carry_loss %}
                                </div>
                                </div>

                                <div class="form-group{% if misc.special_conditions.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
                                <div class="control-label">
                                <label>&hellip;{{ misc.special_conditions.label|lower }}</label>
                                <!-- </div>
                                <div class="radio"> -->
                                {{ misc.special_conditions }}
                                {% include 'includes/help-block.html' with field=misc.special_conditions %}
                                </div>
                                </div>

                                </div>

                                <div class="col-md-6">

                                <div class="form-group{% if misc.refuse_renew.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
                                <div class="control-label ">
                                <label>&hellip;{{ misc.refuse_renew.label|lower }}</label>
                                <!-- </div>
                                <div class="col-sm-6 radio"> -->
                                {{ misc.refuse_renew }}
                                {% include 'includes/help-block.html' with field=misc.refuse_renew %}
                                </div>
                                </div>

                                <div class="form-group{% if misc.cancelled_policy.errors %} has-error{% endif %} optional ifchecked" rel="{{ misc.previous_insure.name }}">
                                <div class="control-label">
                                <label>&hellip;{{ misc.cancelled_policy.label|lower }}</label>
                               <!--  </div>
                                <div class="col-sm-6 radio"> -->
                                {{ misc.cancelled_policy }}
                                {% include 'includes/help-block.html' with field=misc.cancelled_policy %}
                                </div>
                                </div>


                                </div>
    
                            </div>
                        </div>

                        <br/><br/>

                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                <a href="motor-step-2.html" class="btn btn-danger btn-lg red-bg"><i class="fa fa-arrow-left"></i> Back </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-lg-offset-8 col-md-offset-8  col-sm-6 col-xs-6">
                                <button type="submit" class="btn btn-primary pull-right next_step">{% trans "Next" %} <span class="fa fa-chevron-right right"></span></button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            {% endblock %}