/*=======================
Template: Angel Blog - HTML Template
Author: Laza Themes
Email: lazathemes@gmail.com
Version: 1.0
Date Created: April. 08, 2015
Latest Updated : April. 08, 2015
=======================
CSS Style Structure
- General
- Theme color
- Content Page
	- Login form
- Side Menu 

=======================*/


/*=======================
        General 
=======================*/

@import url("../fonts/stylesheet.css");


html, body {
  color: #1b1b1b;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}
.clear { 
	clear: both;
	float: none;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img { max-width: 100%; height: auto; }


::-webkit-input-placeholder {
   color: #8a8e95;
}
:-moz-placeholder { /* Firefox 18- */
   color: #8a8e95;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #8a8e95;  
}
:-ms-input-placeholder {  
   color: #8a8e95;  
}
a,
a:hover ,
a:focus {
	text-decoration: none;
	outline: none;
}
iframe {
    max-width: 100%;
    vertical-align: top;
	border: 0;
}
.container {
  max-width: 1200px;
  width: auto;
}

/*=======================
       Theme Color
=======================*/
.rst-header-menu .rst-login li a,
.rst-header-menu li a i ,
.rst-header-menu li a:hover,
.rst-page-title,
.rst-page-input,
.rst-page-titledot,
#error-content ul li i,
.rst-field span,
.rst-acc-socials li:hover span,
.rst-contact-info li a,
.rst-group-title h4,
.rst-about-tabs .nav.nav-tabs a,
.rst-about-tabs .nav.nav-tabs a i,
.rst-about-tabs .rst-tabinfo h5,
#rst-whatido li p span,
#rst-whatido li p,
.rst-teaminfo > p,
.rst-teaminfo-hidden > p,
#rst-testimonial .owl-item p,
.rst-blog-content p,
.rst-page li a,
.rst-blog-content > h4,
.rst-blog-content > h5,
.rst-blog-content blockquote p,
.rst-blog-author > p,
.rst-author,
.rst-comment-blog h2,
.rst-info-comment > h3,
.rst-comment-form h2,.comment-author,
.rst-comment-form.rst-leave-comment nav a, .rst-address .col-xs-3 > p, .rst-address .col-xs-3 > a,
.rst-featuresinfo h5,#rst-funfacts.rst-index-funfact span, #rst-funfacts.rst-index-funfact p,
.rst-featuresinfo li p,.rst-inner-pricing > span, .rst-inner-pricing > p   
{
  color: #233141;
  -webkit-transition: color 0.3s ease-in-out 0s;
  -moz-transition: color 0.3s ease-in-out 0s;
  -ms-transition: color 0.3s ease-in-out 0s;
  -o-transition: color 0.3s ease-in-out 0s;
}

.current-menu-item > a {
  color: #233141!important;
}


/*=======================
     Content Page
=======================*/
.rst-header-menu > a {
  float: left;
  margin: 35px 0 0;
}
.rst-header-menu > ul {
  float: right;
}
.rst-header-menu li {
  display: inline-block;
  margin: 0 0 0 35px;
  padding: 46px 0;
  position: relative;
  z-index: 99;
}
.rst-header-menu li a {
  color: #aaadb2;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.rst-header-menu li a i {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  vertical-align: top;
}
.rst-header-menu ul ul {
 background: #233141;
  left: 0;
  padding: 15px 0;
  position: absolute;
  top: 100%;
  width: 185px;
  z-index: 9;
  display: none;
}
.rst-header-menu ul ul li {
  margin: 0;
  padding: 6px 30px;
}
.rst-header-menu ul ul li a {
  color: #798fa9;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  display: block;
}
.rst-header-menu ul ul li a:hover {
  color: #fff;
}
.rst-login .rst-menubtn i {
  font-size: 21px;
  margin: -4px 0 0;
}
.rst-shortcodes-banner,
.rst-blog-banner {
  background: url("../images/shortcodes-banner.jpg") no-repeat;
  background-size: cover;
}
.rst-header-menu > ul {
  float: right;
}
.rst-header-banner {	
  text-align: center;
}
#rst-index-banner.owl-theme .owl-controls {
  margin-top: 0;
  text-align: center;
}
.rst-header-banner h3 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin: 187px 0 37px;
}
.rst-header-banner p {
  color: #c2c5cc;
  font-size: 18px;
  font-weight: normal;
  line-height: 36px;
}
.rst-group-title {
  text-align: center;
}
.rst-group-title h4 {
  font-size: 40px;
  font-weight: 700;
  margin: 119px 0 28px;
  padding: 29px 0 0;
  position: relative;
}
.rst-group-title h4:before {
  content: "";
  background: url(../images/icon/threedot.png) no-repeat center center;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
}
.rst-group-title p {
  color: #7a7c80;
  font-size: 18px;
  margin: 0 0 73px;
}
.rst-text div p:first-of-type {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #1e2a36;
}
.rst-text div p {
  color: #1b1b1b;
  line-height: 24px;
}
.rst-text > div {
  margin: 0 0 19px;
}
.rst-group-color {
  background: #f9f9f9 ;
}
.table-bordered {
  background: #fff ;
  border: 0 none;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td 
{
  border: 0 none;
}
.table-bordered > thead > tr > th {
  border-bottom: 2px solid #f7f7f7;
  color: #1e2a36;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
}
.table-bordered > tbody > tr > td {
  border-bottom: 1px solid #f7f7f7;
  padding: 16px 8px;
}
.table-bordered > tbody > tr:last-of-type > td
{
  border-bottom: 0;
}
.table-bordered {
  background: #fff ;
  border: 0 none;
  padding: 14px 12px;
}
.rst-group {
  padding: 0 0 97px;
}
.tab-content > .tab-pane {
  padding: 23px 19px;
  color: #9e9e9e;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.1);
}
.tab-content > .tab-pane p {
  line-height: 26px;
}
.nav-tabs > li > a {
  border-radius: 0;
  color: #1e2a36;
  font-size: 16px;
  padding: 13px 19px;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  background: #fff ;
  border: 0 none;
  border-radius: 0;
  margin: 0;
  position: relative;
  z-index: 3;
}
.nav-tabs > li.active {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.1);
}
.nav-tabs {
  border: 0 none;
  margin: 0 0 -1px;
}
.tab-content {
  background: #fff ;
  position: relative;
  z-index: 2;
}
.rst-tabs2 .tab-content > .tab-pane,
.rst-tabs2 .nav-tabs > li.active, 
.rst-tabs2 .nav-tabs > li.active a
{
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  background: #f9f9f9;
}
.col-lg-2 .btn {
  margin: 0 0 28px;
}
.btn {
  border: 0 none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 13px 41px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.1);
  letter-spacing: 3px;
  max-width: 100%;
}
.btn:hover {
  color: #fff;
}
.btn.btn-lg {
  font-size: 13px;
  padding: 16px 70px;
}
.btn.btn-sm {
  font-size: 11px;
  padding: 9px 40px;
}
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-black,
.btn-black:hover,
.btn-yellow,
.btn-yellow:hover,
.btn-primary,
.btn-primary:hover,
.btn-info,
.btn-info:hover
{
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}
.btn-danger {
  background: #f76041 ;
}
.btn-danger:hover {
  background: #ea5d3f ;
}
.btn-success {
  background: #2fcd45 ;
}
.btn-success:hover {
  background: #2bbe41 ;
}
.btn-black {
  background: #243244 ;
}
.btn-black:hover {
  background: #1d2835 ;
}
.btn-yellow {
  background: #ffaf00 ;
}
.btn-yellow:hover {
  background: #f2a700 ;
}
.btn-primary {
  background: #e60000 ;
}
.btn-primary:hover {
  background: #e60000 ;
  color: #000000;
  content: 'Get Quote';
}
.btn-info {
  background: #3ccbff ;
}
.btn-info:hover {
  background: #39c1f2 ;
}
.alert {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 23px;
  padding: 19px 15px;
  border: 0;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.1);
}
.alert .close {
  color: inherit;
  opacity: 1;
  position: relative;
  right: 3px;
  top: 0;
}
.close i {
  font-size: 15px;
}
.alert-success {
  color: #58e535;
}
.alert-danger {
  color: #66bdff;
}
.alert-warning {
  color: #f9d423;
}
.alert-info {
  color: #f75f40;
}
.rst-footer-menu {
  background: #151d26 none repeat scroll 0 0;
  padding: 43px 0 45px;
}
.rst-footer-intro {
  background: #233141 none repeat scroll 0 0;
  padding: 83px 0 89px;
  text-align: center;
}
.rst-footer-intro p {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}
.rst-footer-intro p span {
  color: #00aff1;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.rst-footer-menu .col-xs-12 > p {
  float: left;
}
.rst-footer-menu .col-xs-12 > p {
  color: #c2c5cc;
  float: left;
  margin: 4px 0 0;
}
.rst-footer-menu .col-xs-12 > nav {
  float: right;
  margin: 4px 0 0;
}
.rst-footer-menu .col-xs-12 > nav li {
  display: inline-block;
  margin: 0 0 0 35px;
}
.rst-footer-menu .col-xs-12 > nav li a {
  color: #babdc4;
}
.rst-uptop {
  float: right;
  margin: 0 0 0 35px;
}
.rst-uptop i {
  font-size: 25px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
}
.rst-footer-menu .col-xs-12 > nav li a:hover {
  color: #00aff1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

/* Login form */
header {
  position: relative;
}
.rst-floatlogin {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: rgba(36, 47, 65, 0.9);
  background: rgba(36, 47, 65, 0.9);
  color: rgba(36, 47, 65, 0.9);
  display: none;
  z-index: 999;
}
.rst-floatlogin-content {
  height: 100%;
  margin: 0 auto;
  max-width: 570px;
  position: relative;
}
.rst-page-title,
.rst-page-titledot 
{
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.rst-page-titledot {
  padding: 29px 0 0;
}
.rst-page-titledot:before
{
  content: "";
  background: url(../images/icon/threedot.png) no-repeat center center;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
}
.rst-floatlogin-content p {
  color: #c2c5cc;
  font-size: 18px;
  margin: 23px 0 33px;
}
.rst-floatlogin-content p span {
  color: #00abf0;
}
.rst-page-input {
  border: 1px solid #e1e3e4;
  margin: 0 0 30px;
  padding: 14px 18px;
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 5px 3px -4px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    inset 0px 5px 3px -4px rgba(50, 50, 50, 0.1);
  box-shadow:         inset 0px 5px 3px -4px rgba(50, 50, 50, 0.1);
}
.rst-floatlogin-content form {
  left: 0;
  position: absolute;
  right: 0;
  top: 20%;
}
.rst-floatlogin .rst-page-title {
  color: #fff;
}
.rst-floatlogin-content > a {
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: -300px;
  top: 50px;
}
#error-content {
  text-align: center;
}
#error-content p {
  color: #7a7c80;
  font-size: 18px;
  margin: 53px 0;
}
#error-content ul {
  margin: 244px 0 110px;
}
#error-content ul li {
  display: inline-block;
}
#error-content ul li i {
  font-size: 18px;
  border: 1px solid #e4e6e8;
  border-radius: 50%;
  height: 42px;
  padding: 11px 0;
  width: 42px;
}
#error-content ul li a {
  margin: 0 10px;
  display: block;
}
#error-content .col-xs-12 > img {
  display: block;
  margin: 0 auto;
}
.rst-pagelogo {
  display: inline-block;
  margin: 109px 0 235px;
}
#error-content .btn {
  padding: 16px 58px;
}
.rst-account-banner,
.rst-contact-banner 
{
  background: url("../images/account-banner.jpg") no-repeat top center;
  background-size: cover;
}
#account-content {
  margin: 0 0 160px;
  text-align: center;
}
#account-content h4 {
  margin: 109px 0 42px;
}
.rst-avatar > img {
  border-radius: 50%;
  display: block;
  margin: 0 auto 18px;
}
.rst-avatar .btn {
  padding: 12px 52px;
  width: auto;
}
.rst-avatar {
  margin: 0 0 60px;
}
#account-content form {
  margin: 0 auto;
  max-width: 575px;
}
#account-content input {
  border: 1px solid #e1e3e4;
  border-radius: 3px;
  padding: 14px 19px;
  width: 100%;
  margin: 0 0 30px;
  -webkit-box-shadow: inset 0px 5px 3px -4px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    inset 0px 5px 3px -4px rgba(50, 50, 50, 0.1);
  box-shadow:         inset 0px 5px 3px -4px rgba(50, 50, 50, 0.1);
  -webkit-transition: border 0.3s ease-in-out 0s;
  -moz-transition: border 0.3s ease-in-out 0s;
  -ms-transition: border 0.3s ease-in-out 0s;
  -o-transition: border 0.3s ease-in-out 0s;
}

#account-content input:focus,
.rst-page-input:focus
{
  border: 1px solid #00aff1;
  -webkit-transition: border 0.3s ease-in-out 0s;
  -moz-transition: border 0.3s ease-in-out 0s;
  -ms-transition: border 0.3s ease-in-out 0s;
  -o-transition: border 0.3s ease-in-out 0s;
}
.rst-field input.rst-valid {
  background: url("../images/icon/hadvalue.png") no-repeat scroll 98% 18px;	
}
.rst-field input {
  background: url("../images/icon/textchange.png") no-repeat scroll 98% 18px;
}
#account-content input[type="tel"]
{
  font-family: Open sans;
}
.rst-field {
  position: relative;
}
.rst-field > span {
  font-size: 12px;
  font-weight: 700;
  left: -138px;
  letter-spacing: 2px;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  top: 17px;
  width: 90px;
}
.rs-select-box {
  background: url("../images/input-bg.jpg") repeat scroll center top;
  border: 1px solid #e1e3e4;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 65px;
  line-height: 23px;
  position: relative;
  width: 100%;
}
.dd-container {
  text-align: left;
  width: 100% !important;
}
.rst-field .dd-select {
  background: url("../images/input-bg.jpg") repeat scroll 0 0 !important;
  border: 1px solid #e1e3e4;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  width: 100% !important;
}
.dd-selected-text {
  color: #00abf0 !important;
  font-weight: 700 !important;
  margin: 4px 0 2px;
}
.dd-selected-description {
  color: #7a7c80;
  font-size: 13px;
}
.dd-options {
  width: 100% !important;
}
#package .dd-pointer {
  border: 0 none !important;
  height: 5px;
  left: auto;
  margin: 0;
  right: 10px;
  top: 29px;
  width: 9px;
}
#package .dd-pointer.dd-pointer-down,
.rst-searchdomain .dd-pointer.dd-pointer-down 
{
  background: transparent url("../images/icon/select-down.png") no-repeat scroll center center;
}
#package .dd-pointer.dd-pointer-up,
.rst-searchdomain .dd-pointer.dd-pointer-up
{
  background: transparent url("../images/icon/select-up.png") no-repeat scroll center center;
}
.rst-searchdomain .dd-pointer.dd-pointer-down, 
.rst-searchdomain .dd-pointer.dd-pointer-up {
  border: 0 none !important;
  height: 6px;
  margin: 0;
  right: 34px;
  top: 48px;
  width: 9px;
}
.rst-searchdomain .dd-option-text {
  font-weight: 300;
}
#package {
  margin: 0 0 30px;
}
.country-select {
  display: inline-block;
  margin: 0 0 30px;
  position: relative;
  width: 100%;
}
#account-content #country {
  background: url("../images/icon/select-down.png") no-repeat 98% 23px, url("../images/input-bg.jpg") repeat scroll 0 0;
  box-shadow: none;
  color: #898e94;
  padding: 15px 43px;
}
.country-select .selected-flag .flag {
  left: 20px;
  margin-top: 0;
  position: absolute;
  top: 20px;
}
.country-select .flag-dropdown {
  width: 100%;
}
.country-select .selected-flag {
  padding: 0;
  width: 100%;
}
.country-select .selected-flag .arrow {
  display: none;
}
.country-select .country-list {
  padding: 0;
  width: 100%;
  text-align: left;
}
.country-select .country-list .country {
  border-bottom: 1px solid #ddd;
  line-height: 15px;
  padding: 23px 21px;
}
.country-select .country-list .country.highlight {
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
}
.country-select .country-list .divider {
  border-bottom: 3px solid #ddd;
  margin-bottom: 0;
  padding-bottom: 0;
}
.country-select .flag-dropdown:hover .selected-flag {
  background-color: transparent;
}
#account-content .rst-acc-notification input {
  left: 0;
  margin: 0;
  position: absolute;
  top: 3px;
  width: auto;
}
.rst-acc-notification li {
  margin: 0 0 20px;
  position: relative;
  text-align: left;
}
.rst-acc-notification span {
  display: block;
  margin: 0 0 0 33px;
}
.rst-acc-socials li {
  display: inline-block;
  text-align: center;
  width: 16%;
}
.rst-acc-socials li span {
  display: block;
  color: #7a7c80;
}
.rst-acc-socials li a i,

.rst-sidesocial li a i {
  color: #a9acb0;
  font-size: 18px;
  border: 1px solid #e4e5e7;
  border-radius: 50%;
  display: inline-block;
  height: 42px;
  margin: 0 0 16px;
  padding: 12px 0;
  width: 42px;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
}
.rst-teaminfo-hidden li i{
  color: #a9acb0;
  font-size: 12px;
  border: 1px solid #e4e5e7;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  margin: 0 0 16px;
  padding: 12px 0;
  width: 32px;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
}
.rst-teaminfo-hidden li i{
  margin: 0;
  padding: 9px 0;
  text-align: center;
}
.rst-sidesocial li a i
{
  margin: 0;
  padding: 11px 0;
  text-align: center;
}
.rst-teaminfo-hidden li {
  display: inline-block;
  margin: 0 4px 5px;
}
.rst-teaminfo-hidden > ul {
  margin: 25px 0 0;
}
.rst-acc-socials {
  margin: 0 0 120px;
}
#account-content input.btn-primary {
  background: #00adf0;
  width: 170px;
  border-radius: 5px;
  border: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}
#account-content input.btn-primary:hover {
  background: #00A3E2;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}
.rst-acc-socials li:hover i,
#error-content ul li:hover i,
.rst-teaminfo-hidden li:hover i,
.rst-sidesocial li:hover i
{
  color: #fff; 
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}

.rst-acc-socials li:hover .fa-facebook,
#error-content ul li:hover .fa-facebook, 
.rst-teaminfo-hidden li:hover .fa-facebook, 
.rst-sidesocial li:hover .fa-facebook 
{
  background: #3B5998;
  border: 1px solid #3B5998;
}
.rst-acc-socials li:hover .fa-twitter,
#error-content ul li:hover .fa-twitter, 
.rst-teaminfo-hidden li:hover .fa-twitter, 
.rst-sidesocial li:hover .fa-twitter 
{
  background: #00ACED;
  border: 1px solid #00ACED;
}
.rst-acc-socials li:hover .fa-dribbble,
#error-content ul li:hover .fa-dribbble, 
.rst-teaminfo-hidden li:hover .fa-dribbble, 
.rst-sidesocial li:hover .fa-dribbble 
{
  background: #C32361;
  border: 1px solid #C32361;
}
.rst-acc-socials li:hover .fa-behance,
#error-content ul li:hover .fa-behance, 
.rst-teaminfo-hidden li:hover .fa-behance,
.rst-sidesocial li:hover .fa-behance
{
  background: #0064FF;
  border: 1px solid #0064FF;
}
.rst-acc-socials li:hover .fa-instagram,
#error-content ul li:hover .fa-instagram, 
.rst-teaminfo-hidden li:hover .fa-instagram, 
.rst-sidesocial li:hover .fa-instagram
{
  background: #125688;
  border: 1px solid #125688;
}
.rst-acc-socials li:hover .fa-dropbox,
#error-content ul li:hover .fa-dropbox, 
.rst-teaminfo-hidden li:hover .fa-dropbox, 
.rst-sidesocial li:hover .fa-dropbox 
{
  background: #1081DE;
  border: 1px solid #1081DE;
}





/*=======================
       Side Menu 
=======================*/
.rst-sidemenu {
  background: #233141;
  height: 100%;
  margin-right: -323px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  width: 323px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.rst-sidemenu-show {
  margin-right: 0px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.rst-sidemenu .rst-sidemenu-signup {
  padding: 11px 25px;
  text-align: center;
  margin: 33px 0 0 50px;
}
.rst-sidemenu-close i {
  color: #fff;
  font-size: 20px;
}
.rst-sidemenu-close {
  position: absolute;
  right: 37px;
  top: 42px;
}
.rst-topmenu li:hover a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s;
}
.rst-topmenu li a {
  color: #798fa9;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s;
}
.rst-topmenu li {
  margin: 0 0 28px;
}
.rst-topmenu {
  margin: 66px 0 0;
  padding: 0 33px 0 50px;
}
.rst-bottommenu li a {
  color: #798fa9;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s;
}
.rst-bottommenu li:hover a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s;
}
.rst-bottommenu li {
  margin: 0 0 30px;
}
.rst-bottommenu {
  margin: 54px 0 0;
  padding: 0 33px 0 50px;
}
.wrapper {
  margin-right: 0;
  -webkit-transition: margin-right 0.4s ease-in-out 0s;
  -moz-transition: margin-right 0.4s ease-in-out 0s;
  -ms-transition: margin-right 0.4s ease-in-out 0s;
  -o-transition: margin-right 0.4s ease-in-out 0s;
}
.wrapper.wrapper-menushow {
  margin-right: 323px;
  -webkit-transition: margin-right 0.4s ease-in-out 0s;
  -moz-transition: margin-right 0.4s ease-in-out 0s;
  -ms-transition: margin-right 0.4s ease-in-out 0s;
  -o-transition: margin-right 0.4s ease-in-out 0s;
}

.rst-page-title > a,
.rst-page-title > a:hover {
  color: #00aff1;
}
.rst-register-content {
  display: inline-block;
  margin: 10px 0 30px;
  width: 100%;
}
#coming-content {
  background: url("../images/coming-bg.jpg") no-repeat scroll center top;
  background-size: cover;
  text-align: center;
  color: #fff;
}
#coming-content h4 {
  color: #fff;
  font-size: 50px;
}
#coming-content .rst-pagelogo {
  margin: 109px 0 180px;
}
#coming-content .col-xs-12 > p {
  color: #c2c5cc;
  margin: 43px 0;
  font-size: 17px;
}
.rst-time {
  float: left;
}
.rst-time:nth-of-type(1), 
.rst-time:nth-of-type(2), 
.rst-time:nth-of-type(3) 
{
  background: url(../images/icon/timedot.png) no-repeat;
  background-position: 100% center;
  margin: 0 3% 0 0;
}
.rst-time span {
  font-weight: 300;
  font-family: Open Sans;
  font-size: 200px;
  padding: 0 35px 0 0;
  text-align: left;
}
.rst-time p {
  font-family: Raleway;
  font-size: 14px;
  color: #c2c5cc;
  font-weight: 700;
  text-transform: uppercase;
  margin: -20px 0 0;
  text-align: center;
}
.rst-coming-subscribe {
  margin: 186px 0 110px;
}
.rst-coming-subscribe .rst-page-input {
  width: 370px;
  padding: 16px;
  margin: 0 7px 0 0;
}
.rst-coming-subscribe .btn {
  padding: 18px 45px;
  display: inline-block;
  vertical-align: top;
}
.rst-footer-menu.rst-coming-footer .col-xs-12 > p {
  float: none;
  text-align: center;
}
#contact-content .rst-page-input {
  margin: 0 0 5px;
}
#contact-content textarea {
  height: 190px;
}
#contact-content .rst-contactsubmit {
  margin: 20px 0 120px;
  text-align: center;
}
#contact-content .rst-contactsubmit input {
  padding: 16px 51px;
}
.rst-contact-info {
  background: #fff;
  margin: 105px 0;
  max-width: 470px;
  padding: 44px 30px 24px;
  position: relative;
  z-index: 2;
}
.rst-contact-info .rst-page-title,
.rst-featuresinfo .rst-page-title {
  font-size: 32px;
}
.rst-contact-info > p {
  color: #7a7c80;
  font-size: 18px;
  line-height: 31px;
  margin: 24px 0 34px;
}
.rst-contact-info li a:hover {
  color: #00aff1;
}
.rst-contact-info li {
  margin: 0 0 21px;
  padding: 0 0 0 43px;
}
.rst-contact-info li:nth-of-type(1) {
  background: url(../images/icon/folio.png) no-repeat left 0px;
}
.rst-contact-info li:nth-of-type(2) {
  background: url(../images/icon/phone.png) no-repeat 1px 2px;
}
.rst-contact-info li:nth-of-type(3) {
  background: url(../images/icon/mail.png) no-repeat left 4px;
}
.rst-scolldown i {
  color: #fff;
  font-size: 32px;
}
.rst-scolldown {
  display: inline-block;
  margin: 34px 0 0;
}
.rst-searchdomain .rst-page-input {
  border-radius: 0;
  font-size: 18px;
  padding: 36px 30px;
}
#rst-searchdomain .rst-searchdomain .rst-page-input {
  border-radius: 0;
  font-size: 18px;
  padding: 36px 355px 36px 30px;
  margin: 0;
}
.rst-searchdomain form {
  position: relative;
}
.rst-searchdomain input[type="submit"] {
  background: #00abf0 url("../images/icon/search.png") no-repeat scroll 31px 42px;
  border: 0 none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 39px 30px 40px 62px;
  position: absolute;
  right: 0;
  top: 0;
}
#domainselect {
  position: absolute;
  right: 160px;
  top: 0;
  width: auto !important;
}
.rst-searchdomain .dd-selected-text {
  color: #233141 !important;
  font-size: 18px;
  font-weight: 300 !important;
}
.rst-searchdomain .dd-selected {
  background: #f9f9f9;
  display: block;
  font-weight: bold;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}
.rst-searchdomain .dd-select {
  border: 0 none;
  border-radius: 0;
  width: 160px !important;
}
.rst-searchdomain .dd-selected {
  background: #f9f9f9;
  padding: 33px 0 34px;
}
.rst-searchdomain {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.09);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.09);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.09);
  margin: -50px 0 0;
}
.rst-about-tabs .nav.nav-tabs {
  float: left;
  width: 17%;
  margin: 0 -25px 0 25px;
}
.rst-about-tabs .nav.nav-tabs li {
  display: block;
  width: 100%;
  border: 0;
  margin: 0;
  position: relative;
}
.rst-about-tabs .tab-content {
  float: left;
  width: 83%;
  margin: 0 -25px 0 25px;
}
.rst-about-tabs .nav.nav-tabs a {
  border: 0 none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 0 0 -25px!important;
  padding: 18px 10px 18px 0;
  text-transform: uppercase;
}
.rst-about-tabs .nav.nav-tabs a i {
  border: 2px solid #233141;
  
  border-radius: 50%;
  font-size: 16px;
  height: 50px;
  margin: 0 14px 0 0;
  padding: 15px 16px;
  width: 50px;
}
.rst-tabs2.rst-about-tabs .tab-content > .tab-pane, 
.rst-tabs2.rst-about-tabs .nav-tabs > li.active a, 
.rst-tabs2.rst-about-tabs .nav-tabs > li:hover,
.rst-tabs2.rst-about-tabs .nav-tabs > li:hover a
{
  background: #fff;
  box-shadow: none;
}
.rst-tabs2.rst-about-tabs .nav-tabs > li:hover a,
.rst-tabs2.rst-about-tabs .nav-tabs > li:hover a i,
.rst-tabs2.rst-about-tabs .nav-tabs > li.active a i
{
  color: #00aff1;
  border-color: #00aff1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.rst-tabs2.rst-about-tabs .nav-tabs > li.active a {
  color: #00aff1;
}
.rst-tabs2.rst-about-tabs .nav-tabs > li{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.rst-tabs2.rst-about-tabs .nav-tabs > li.active {
  border-top: 1px solid #e9eaec;
  border-bottom: 1px solid #e9eaec;
}
.rst-about-tabs .nav.nav-tabs li:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 90px;
  background: #e9eaec;
} 
.rst-about-tabs .nav.nav-tabs li:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 1px;
  height: 90px;
  background: #e9eaec;
}
.rst-about-tabs .rst-tabinfo h5 {
  font-size: 24px;
  line-height: 38px;
  margin: 0;
}
.rst-about-tabs .rst-tabinfo > p {
  color: #7a7c80;
  font-size: 18px;
  line-height: 30px;
  margin: 20px 0 25px;
}
.rst-about-tabs .rst-tabinfo li {
  background: url("../images/icon/tabcheck.png") no-repeat scroll left center;
  display: inline-block;
  margin: 0 0 17px;
  padding: 0 0 0 26px;
  width: 29%;
}
#rst-aboutme .rst-list li {
  background: url("../images/icon/tabcheck.png") no-repeat scroll left center;
  margin: 0 0 17px;
  padding: 0 0 0 26px;
}
#rst-aboutme .rst-list li p {
  color: #7c8289;
  margin: 0;
}
.rst-about-tabs .rst-tabinfo li p {
  margin: 0;
}
.rst-about-tabs .rst-tabinfo li p span {
  color: #00aff1;
  font-weight: 600;
}
.rst-about-tabs .tab-pane {
  padding: 0 0 0 60px;
}
.rst-about-tabs .rst-tabinfo > img {
  float: right;
  margin: -70px 0 0 80px;
}
.rst-tabs2.rst-about-tabs {
  margin: 113px 0 0;
}
#rst-funfacts {
  background: url("../images/coming-bg.jpg") no-repeat scroll center center;
  background-size: cover;
  padding: 111px 0 108px;
  text-align: center;
}
#rst-funfacts li {
  display: inline-block;
  width: 24%;
  position: relative;
}
#rst-funfacts li:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 125px;
  background: #3e4c5d;
  right: 0;
  top: 8px;
}
#rst-funfacts li:last-child:before {
  width: 0;
}
#rst-funfacts li p {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 24px 0 11px;
  text-transform: uppercase;
}
#rst-funfacts span {
  font-size: 36px;
  font-weight: 600;
  font-family: Open Sans;
  color: #fff;
}
#rst-whatido li {
  display: inline-block;
  margin: 0 0 90px;
  min-height: 100px;
  padding: 0 25px 0 0;
  position: relative;
  width: 49%;
}
#rst-whatido li::after {
  background: url("../images/icon/widdot.png") repeat scroll 0 0;
  bottom: -60px;
  content: "";
  height: 33px;
  left: 48px;
  position: absolute;
  width: 4px;
}
#rst-whatido li:nth-last-of-type(-n+2)::after {
  width: 0;
}

#rst-whatido li p {
  line-height: 25px;
  margin: 0 0 0 130px;
}

#rst-whatido li p span {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 10px 0 13px;
  text-transform: uppercase;
}

.rst-teamlist {
  text-align: center;
}
.rst-team {
  float: left;
  margin: 0 0 20px;
  width: 31.65%;
}
.rst-team:nth-of-type(2) {
  margin: 0 2.525% 20px;
}
.rst-teaminfo {
  position: relative;
}
.rst-teaminfo-hidden {
  position: absolute;
}
.rst-teaminfo > p {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.rst-teaminfo > p span {
  display: block;
  font-weight: 400;
  text-transform: none;
}
.rst-teaminfo > p {
  background: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 39px 0;
  margin: 0;
  text-transform: uppercase;
  -webkit-transition: background 0.4s ease-in-out 0s;
  -moz-transition: background 0.4s ease-in-out 0s;
  -ms-transition: background 0.4s ease-in-out 0s;
  -o-transition: background 0.4s ease-in-out 0s;
}
.rst-teaminfo-hidden {
  background: #fff;
  bottom: 30px;
  left: 8%;
  padding: 34px 49px;
  position: absolute;
  width: 84%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out 0s;
  -moz-transition: opacity 0.4s ease-in-out 0s;
  -ms-transition: opacity 0.4s ease-in-out 0s;
  -o-transition: opacity 0.4s ease-in-out 0s;
}
.rst-teamimg {
  position: relative;
}
.rst-teaminfo-hidden > p {
  font-weight: 500;
  line-height: 23px;
}
.rst-teaminfo-hidden::after {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #fff;
  bottom: -13px;
  content: "";
  left: 50%;
  margin-left: -13px;
  position: absolute;
}
.rst-team:hover .rst-teaminfo-hidden {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out 0s;
  -moz-transition: opacity 0.4s ease-in-out 0s;
  -ms-transition: opacity 0.4s ease-in-out 0s;
  -o-transition: opacity 0.4s ease-in-out 0s;
}
.rst-team:hover .rst-teaminfo > p {
  color: #fff;
  background: #233141;
  -webkit-transition: background 0.4s ease-in-out 0s;
  -moz-transition: background 0.4s ease-in-out 0s;
  -ms-transition: background 0.4s ease-in-out 0s;
  -o-transition: background 0.4s ease-in-out 0s;
}
#rst-testimonial .owl-item img {
  border-radius: 50%;	
}
#rst-testimonial .owl-item > div {
  position: relative;
  min-height: 190px;
}
#rst-testimonial .owl-item p {
  font-size: 24px;
  line-height: 40px;
  margin: 0 0 0 330px;
  position: relative;
}
.rst-tesinfo p img:first-of-type,
#owl-testimonial p img:first-of-type
{
  left: -20px;
  position: absolute;
  top: 5px;
}
.rst-tesinfo p img:last-of-type,
#owl-testimonial p img:last-of-type
{
  display: inline-block;
  margin: 7px 0 0 3px;
  vertical-align: top;
}
#rst-testimonial .owl-item .rst-testname {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 35px 0 0 330px;
  text-transform: uppercase;
}
.rst-tesimg {
  border-right: 1px solid #e9eaec;
  left: 40px;
  position: absolute;
  top: 10px;
  padding: 0 50px 0 0;
}
.owl-theme .owl-controls .owl-page span {
  background: transparent;
  border: 2px solid #96afcb;
  border-radius: 20px;
  display: block;
  height: 10px;
  margin: 5px 10px;
  opacity: 1;
  width: 10px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  border: 2px solid #00abf0;
  opacity: 1;
}
.owl-theme .owl-controls {
  margin-top: 56px;
  text-align: center;
}
#rst-testimonial {
  padding: 110px 0 30px;
}
#rst-meetteam {
  padding: 0 0 102px;
}
.rst-blogtitle {
  background-color: rgba(34, 49, 65, 0.85); 
}
.rst-blogtitle h5 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
.rst-blogtitle h5 a {
  color: #fff;
}
.rst-blogtitle > p {
  color: #aaadb2;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 15px 0 10px;
  text-align: left;
  text-transform: uppercase;
}
.rst-blogimg {
  position: relative;
  text-align: center;
}
.rst-blogtitle {
  bottom: 40px;
  padding: 32px 30px 24px;
  position: absolute;
}
.rst-blog-content p {
  line-height: 25px;
  margin: 0 0 33px;
}
.rst-blog-content .rst-excerp-title,
#rst-aboutme .rst-excerpt > p {
  color: #7a7c80;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 22px;
}
.rst-blog-content {
  padding: 48px 0 0;
}
#rst-blog-content .btn {
  margin: 0 0 110px;
  padding: 18px 43px;
}
.rst-page > ul {
  border: 1px solid #eff1f2;
  margin: 0 auto;
  max-width: 850px;
  padding: 20px 70px;
  position: relative;
  text-align: center;
}
.rst-page li {
  display: inline-block;
}
.rst-page li a {
  border-radius: 3px;
  display: block;
  font-family: Open Sans;
  font-weight: 600;
  margin: 0 4px;
  -webkit-transition: background 0.4s ease-in-out 0s;
  -moz-transition: background 0.4s ease-in-out 0s;
  -ms-transition: background 0.4s ease-in-out 0s;
  -o-transition: background 0.4s ease-in-out 0s;
  padding: 11px 16px;
}
.rst-page li:hover a, 
.rst-page li.active a 
{
  background: #00abf0;
  color: #fff;
  -webkit-transition: background 0.4s ease-in-out 0s;
  -moz-transition: background 0.4s ease-in-out 0s;
  -ms-transition: background 0.4s ease-in-out 0s;
  -o-transition: background 0.4s ease-in-out 0s;
}
.rst-page li:first-child {
  border-right: 1px solid #eff1f2;
  left: 0;
  position: absolute;
  top: 0;
  padding: 20px 9px;
}
.rst-page li:last-child {
  position: absolute;
  border-left: 1px solid #eff1f2; 
  top: 0;
  right: 0;
  padding: 20px 9px;
}
.rst-page {
  margin: 0 0 120px;
}	
.rst-blogsingle-banner .col-xs-12 > p {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.rst-blogsingle-banner .col-xs-12 > p span {
  margin: 0 8px;
}
#rst-blogsingle-content .rst-blog-content {
  margin: 0 auto;
  max-width: 870px;
  padding: 82px 0 0;
  position: relative;
}
.rst-blog-content > h4 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 24px;
}
.rst-blog-content > h5,
#rst-aboutme .rst-excerpt > h4 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 14px;
}
.rst-blog-content blockquote {
  background: url("../images/icon/blog-quote.png") no-repeat;
  background-position: 0px 11px;
  margin: 36px 0 36px 0;
  padding: 0 0 0 50px;
  quotes: none;
  border: 0;
}
.rst-blog-content blockquote p {
  border-left: 1px solid #e9eaec;
  font-size: 24px;
  line-height: 40px;
  padding: 0 0 0 20px;
}
.rst-blog-author {
  border-bottom: 1px solid #eff1f2;
  border-top: 1px solid #eff1f2;
  margin: 81px 0 63px;
  min-height: 180px;
  padding: 40px 0;
  position: relative;
}
.rst-blog-author > img {
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 40px;
}
.rst-blog-author > p {
  margin: 0 0 0 135px;
}
.rst-author {
  display: block;
  font-size: 21px;
  font-weight: 700;
  margin: 5px 0 8px;
}
.rst-comment-blog h2,
.rst-comment-form h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 40px;
}
.rst-inner-blog-comment,
.comment-container {
  position: relative;
  margin: 0 0 40px;
}
.rst-inner-blog-comment > img,
.comment-avatar {
  position: absolute;
  top: 0;
  left: 0;
}
.rst-info-comment,
.comment-data {
  margin: 0 0 0 86px;
}
.rst-inner-blog-comment > p {
  margin: 0 0 0 86px;
}
.rst-info-comment > h3,
.comment-author {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.rst-info-comment > span,
.comment-date {
  color: #aaadb2;
  display: inline-block;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 8px 0 16px;
  text-transform: uppercase;
}
.rst-comment-reply,
.comment-reply-link {
  color: #00aff1;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.rst-comment-reply:hover,
.comment-reply-link:hover {
  color: #00aff1;
}
.comment b {
  color: #f0f2f5;
  display: inline-block;
  line-height: 15px;
  margin: 8px 10px;
  vertical-align: top;
}
.rst-inner-blog-comment.level-two,
.children {
  margin: 0 0 40px 86px;
}
.rst-comment-blog {
  border-bottom: 1px solid #eff1f2;
  margin: 0 0 65px;
  padding: 0 0 45px;
}
.rst-comment-form.rst-leave-comment nav a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}
.rst-comment-form.rst-leave-comment > nav {
  margin: 255px 0 45px;
}
.rst-comment-form.rst-leave-comment nav a:first-of-type {
  float: left;
}
.rst-comment-form.rst-leave-comment nav a:first-of-type i {
  margin: 0 10px 0 0;
}
.rst-comment-form.rst-leave-comment nav a:last-of-type {
  float: right;
}
.rst-comment-form.rst-leave-comment nav a:last-of-type i {
  margin: 0 0 0 10px;
}
#rst-blogsingle-content .owl-buttons {
  height: 67px;
  margin-top: -34px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 100%;
}
#rst-owl-blog {
  margin: 53px 0 0;
}
#rst-blogsingle-content .owl-buttons div {
  background-color: #233141;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin: 0;
  opacity: 0.5;
  padding: 23px 29px;
}
#rst-blogsingle-content .owl-buttons div:hover 
{
  opacity: 1;
}
#rst-blogsingle-content .owl-prev {
  left: 0;
  position: absolute;
}
#rst-blogsingle-content .owl-next {
  right: 0;
  position: absolute;
}
.rst-header-banner.rst-account-banner.rst-blogsingle-banner {
  position: relative;
}
.rst-header-banner.rst-account-banner.rst-blogsingle-banner > nav {
  bottom: 45px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.rst-header-banner.rst-account-banner.rst-blogsingle-banner > nav a i {
  color: #fff;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}
.rst-header-banner.rst-account-banner.rst-blogsingle-banner a:first-of-type {
  left: 30px;
  position: absolute;
}
.rst-header-banner.rst-account-banner.rst-blogsingle-banner a:last-of-type {
  right: 30px;
  position: absolute;
}
.rst-sidesocial > li {
  margin: 0 0 20px;
}
.rst-sidesocial {
  left: -145px;
  position: absolute;
  top: 88px;
}
.rst-sp-search input[type="text"] {
  background: transparent;
  border: 0 none;
  border-bottom: 1px solid #c2c5cc;
  color: #c2c5cc;
  font-size: 18px;
  display: block;
  width: 100%;
  padding: 25px 35px;
}
.rst-sp-search input[type="submit"] {
  background: url('../images/icon/spsearch.png');
  border: 0 none;
  height: 20px;
  left: 0;
  padding: 0;
  position: absolute;
  top: 28px;
  width: 20px;
  z-index: 2;
}
.rst-sp-search {
  margin: 0 auto 135px;
  max-width: 630px;
  position: relative;
}
.rst-support-step .col-sm-3:nth-of-type(1) .rst-steptitle {
  background: #67d6ff;
}
.rst-support-step .col-sm-3:nth-of-type(2) .rst-steptitle {
  background: #f9d423;
}
.rst-support-step .col-sm-3:nth-of-type(3) .rst-steptitle {
  background: #ff9359;
}
.rst-support-step .col-sm-3:nth-of-type(4) .rst-steptitle {
  background: #f75f40;
}
.rst-steptitle > span {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0 0 10px;
  vertical-align: top;
}
.rst-steptitle {
  height: 86px;
  padding: 26px 30px;
}
.rst-steptext {
  background: #fff;
  padding: 23px 30px 26px;
  margin: 0 0 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.05);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.05);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.05);
}
.rst-support-step .col-sm-3 {
  margin: -86px 0 0;
}
.rst-steptext > p {
  margin: 0;
  line-height: 27px;
}
.rst-sptabs .nav.nav-tabs a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.rst-sptabs .nav-tabs > li.active {
  box-shadow: none;
  border: 1px solid #e9eaec;
}
.rst-sptabs .nav-tabs > li.active a {
  color: #00aff1;
}
.rst-sptabs .nav.nav-tabs a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 32px 35px;
  text-transform: uppercase;
}
.rst-sptabs .nav.nav-tabs {
  text-align: center;
}
.rst-sptabs .nav-tabs > li {
  display: inline-block;
  float: none;
  margin-bottom: -1px;
}
.rst-sptabs .tab-content > .tab-pane {
  border-top: 1px solid #e9eaec;
  box-shadow: none;
  color: #9e9e9e;
  padding: 23px 0;
}
.rst-tabvideo {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}
.rst-tabvideo > p {
  color: #00aff1;
  font-size: 18px;
  margin: 26px 0 0;
}
.rst-featuresimg {
  float: left;
  padding: 0 80px;
  width: 50%;
}
.rst-featuresinfo {
  float: left;
  width: 50%;
}
.rst-sptabs {
  margin: 0 0 98px;
}
.rst-group-color.rst-support-features {
  padding: 120px 0 115px;
}
.rst-featuresinfo > p {
  color: #7a7c80;
  font-size: 18px;
  margin: 25px 0 54px;
}
.rst-featuresinfo .rst-page-title {
  margin: 45px 0 0;
}
.rst-featuresinfo h5 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 0 18px;
  text-transform: uppercase;
}
.rst-featuresinfo li p {
  line-height: 25px;
  margin: 0;
}
.rst-featuresinfo li {
  padding: 20px 0 40px 70px;
  position: relative;
}
.rst-featuresinfo img {
  left: 0;
  position: absolute;
  top: 0;
}
.rst-featuresinfo li::before {
  background: #e9eaec;
  bottom: 35px;
  content: "";
  height: 30px;
  left: 24px;
  position: absolute;
  width: 1px;
}
.rst-featuresinfo li:last-child::before
{
  width: 0;
}
.col-sm-6.rst-question > p {
  font-size: 24px;
  margin: 0 0 20px;
}
.rst-question .panel-title > a {
  color: #00aff1;
  display: block;
  position: relative;
  font-size: 18px;
}
.rst-question .panel-group .panel {
  border: medium none;
  border-radius: 0;
  border-bottom: 1px solid #f2f4f5;
  box-shadow: none;
}
.rst-question .panel-default > .panel-heading {
  background: transparent;
  border: 0 none;
  color: #333;
  padding: 40px 0 26px;
}
.rst-question .panel-group .panel-heading + .panel-collapse > .panel-body 
{
  border-top: 0 none !important;
  line-height: 25px;
  padding: 9px 0 33px;
}
.container.rst-our-question {
  margin-bottom: 100px;
}
.rst-question .panel-title > a:before {
  color: #3e4854;
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  right: 0;
  top: 0;
}
.rst-question .panel-title > a.collapsed::before {
  color: #3e4854;
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  right: 0;
  top: 0;
}
#rst-pricing-normal {
  padding: 120px 0 80px;
}
#rst-pricing-normal.rst-index-pricing {
  padding: 0 0 80px;
}
.rst-inner-pricing {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  text-align: center;
  padding: 50px 28px 55px;
  background: #fff;
  margin: 0 0 30px;
}
.rst-inner-pricing .rst-header-pack > span {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 18px 0 38px;
  text-transform: uppercase;
}
.rst-inner-pricing .rst-header-pack > p {
  border-bottom: 1px solid #eff1f2;
  font-family: Open Sans;
  font-size: 55px;
  font-weight: bold;
  line-height: 35px;
  margin: 0;
  padding: 0 0 27px;
}
.rst-inner-pricing sup {
  display: inline-block;
  font-size: 22px;
  margin: 18px 0 0;
  vertical-align: top;
}
.rst-inner-pricing .rst-header-pack > p span {
  color: #7a7c80;
  display: block;
  font-family: Raleway;
  font-size: 14px;
  font-weight: normal;
}
.rst-detail-pack .table-bordered > tbody > tr td {
  border: 0 none ;
  padding: 7px 20px ;
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .rst-detail-pack .table-bordered > tbody > tr td {
	  border: 0 none ;
	  padding: 7px 18px ;
	}
}
.rst-smallpack .rst-detail-pack .table-bordered > tbody > tr td:last-child 
{
  color: #67d6ff;
  font-weight: 500;
}
.rst-normalpack .rst-detail-pack .table-bordered > tbody > tr td:last-child 
{
  color: #f9d423;
  font-weight: 500;
}
.rst-bigpack .rst-detail-pack .table-bordered > tbody > tr td:last-child 
{
  color: #ff9359;
  font-weight: 500;
}
.rst-bestpack .rst-detail-pack .table-bordered > tbody > tr td:last-child 
{
  color: #f75f40;
  font-weight: 500;
}
.rst-inner-pricing .btn {
  padding: 17px 0;
  width: 100%;
}
#rst-pricing-third,
.rst-index-pricing {
  background: url("../images/pricing-bg.jpg") no-repeat scroll top center;
  background-size: 100% auto;
}
#rst-pricing-stroke .rst-inner-pricing {
  text-align: left;
  padding: 30px 28px;
}
#rst-pricing-stroke .rst-inner-pricing .rst-header-pack {
  border-right: 1px solid #f0f2f4;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 24%;
}
#rst-pricing-stroke .rst-inner-pricing .rst-header-pack img {
  left: 0;
  position: absolute;
  top: 5px;
}
#rst-pricing-stroke .rst-inner-pricing .rst-header-pack > span {
  margin: 0 0 0 75px;
}
#rst-pricing-stroke .rst-inner-pricing .rst-header-pack p {
  border: 0;
  margin: 20px 0 0 75px;
  padding: 0;
}
#rst-pricing-stroke .rst-inner-pricing .rst-detail-pack {
  border-right: 1px solid #f0f2f4;
  display: inline-block;
  width: 53%;
  vertical-align: top;
}
#rst-pricing-stroke .rst-inner-pricing .btn {
  display: inline-block;
  margin: 25px 0 0 45px;
  padding: 17px 35px;
  vertical-align: top;
  width: auto;
}
#rst-pricing-stroke tr {
  display: inline-block;
  width: 49%;
}
#rst-pricing-stroke .table-bordered {
  padding: 14px 0 14px 120px;
}
#rst-pricing-stroke .rst-detail-pack .table-bordered > tbody > tr td {
  padding: 7px 0;
  width: 120px;
}
#pricing-content {
  margin: 0 0 80px;
}
#rst-index-banner {
  border-top: 9px solid #fbfbfb;
  margin: -9px 0 0;
}
.rst-index-slider .container > div {
  position: relative;
  z-index: 9;
  padding: 0 100px;
}
.rst-index-slider {
  padding: 0 0 220px;
  position: relative;
}
.rst-slider-background {
  background-size: cover!important;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.rst-header-banner.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  border-radius: 30px;
  color: #e6e6e6;
  display: inline-block;
  font-size: 60px;
  margin: 0;
  opacity: 0.5;
  padding: 0;
}
.rst-header-banner .owl-buttons {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 41%;
  width: 87%;
}
.rst-header-banner .owl-prev {
  left: 0;
  position: absolute;
}
.rst-header-banner .owl-next {
  right: 0;
  position: absolute;
}
.rst-header-banner .owl-item > div {
  text-align: center;
}
.rst-header-banner .owl-item > div .btn {
  margin: 30px 0 0;
  padding: 16px 19px;
}
#rst-whatido .rst-index-whatido li {
  display: inline-block;
  margin: 0 0 30px;
  min-height: 100px;
  padding: 0 30px;
  position: relative;
  width: 24.5%;
  text-align: center;
}
#rst-whatido .rst-index-whatido li::after {
  background: url("../images/icon/widdot-hor.png") no-repeat scroll 0 0;
  bottom: auto;
  content: "";
  height: 4px;
  left: auto;
  position: absolute;
  right: -20px;
  top: 52px;
  width: 33px;
}
#rst-whatido .rst-index-whatido li:last-child::after {
  width: 0;
}
#rst-whatido li img {
  float: left;
  left: 0;
  margin: 0 30px 0 0;
  position: relative;
  top: 0;
}
#rst-whatido .rst-index-whatido li img {
  float: none;
  margin: 0;
}
#rst-whatido li p {
  line-height: 25px;
  margin: 0;
}
.col-xs-12.rst-index-whatido {
  padding: 120px 15px 80px;
}
#rst-aboutme {
  background: url("../images/aboutme-bg.jpg") no-repeat scroll center top;
  padding: 90px 0 100px;
}
.rst-excerpt {
  float: left;
  width: 34%;
  padding: 0 50px 0 0;
}
.rst-list {
  float: left;
  width: 34%;
}
.rst-video {
  float: right;
  width: 31%;
}
#rst-aboutme .rst-excerpt .btn.btn-primary {
  margin: 6px 0 0;
}
#rst-aboutme .rst-video a i {
  color: #00aff1;
  font-size: 35px;
}
#rst-aboutme .rst-video a {
  display: inline-block;
  margin: 75px 0 0 170px;
}
.rst-index-services .rst-featuresinfo {
  float: left;
  padding: 50px 0 0;
  width: 31%;
}
.rst-index-services .rst-featuresimg {
  float: left;
  margin: 0 0 -76px;
  padding: 0;
  text-align: center;
  width: 38%;
}
.rst-index-services .rst-featuresinfo:first-of-type li {
  padding: 20px 70px 40px 0;
  position: relative;
  text-align: right;
}
.rst-index-services .rst-featuresinfo:first-of-type img {
  right: 0;
  left: auto;
}
.rst-index-services .rst-featuresinfo:first-of-type li::before {
  left: auto;
  right: 24px;
}
.rst-index-services .rst-featuresinfo:first-of-type li:last-child::before {
  width: 0;
}
.rst-page-shortdes {
  background: url("../images/shortcodes-banner.jpg") no-repeat scroll top center;
  background-size: cover;
  padding: 170px 0 150px;
}
.rst-page-shortdes .container {
  position: relative;
}
.rst-page-shortdes p {
  color: #c2c5cc;
  font-size: 18px;
  line-height: 33px;
  padding: 0 445px 0 0;
}
.rst-page-shortdes a {
  padding: 16px 78px;
  position: absolute;
  right: 0;
  top: 10px;
}
#rst-funfacts.rst-index-funfact {
  background: #fff;
  padding: 0 0 108px;
  text-align: center;
}
#rst-funfacts.rst-index-funfact li::before {
  background: #f0f2f5;
}
.rst-index-features .rst-featuresinfo li {
  padding: 8px 0 40px 70px;
  position: relative;
}
.rst-index-features .rst-featuresinfo li::before {
  bottom: 26px;
  left: 15px;
}
.rst-index-features .rst-featuresinfo {
  float: left;
  padding: 60px 60px 0 0;
  width: 50%;
}
.rst-index-features .rst-featuresimg {
  float: left;
  padding: 0;
  width: 50%;
}
.rst-support-features.rst-index-features {
  padding: 10px 0 115px;
}	
.rst-index-testimonial {
  background: url("../images/coming-bg.jpg") no-repeat scroll center center;
}
#rst-testimonial.rst-index-testimonial .owl-item > div {
  background: #fff none repeat scroll 0 0;
  position: relative;
}
.rst-index-testimonial .rst-tesimg {
  border: 0 none;
  float: left;
  left: auto;
  padding: 0;
  position: relative;
  top: auto;
  width: 26%;
}
#rst-testimonial.rst-index-testimonial .owl-item img {
  border-radius: 0;
}
.rst-tesinfo {
  float: left;
  width: 74%;
}
#rst-testimonial.rst-index-testimonial .rst-tesinfo p
{
  margin: 0;
}
.rst-tesinfo {
  float: left;
  padding: 64px 50px 0 70px;
  width: 74%;
}
#rst-testimonial.rst-index-testimonial .rst-tesinfo .rst-testname {
  margin: 26px 0 0;
}
.rst-index-testimonial .rst-group-title > h4,
.rst-index-testimonial .rst-group-title > p
{
  color: #fff;
}
#rst-testimonial.rst-index-testimonial {
  padding: 0 0 30px;
}
.rst-partner {
  padding: 63px 0;
}
.rst-partner > ul {
  font-size: 0;
  text-align: center;
}
.rst-partner li {
  border-right: 1px solid #f0f2f5;
  display: inline-block;
  padding: 53px 41px;
}
.rst-partner li:last-child {
  border-right: 0;
}
#rst-index-git {
  background: url("../images/getintouch-bg.jpg") no-repeat scroll center top;
}
#rst-index-git form {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  padding: 50px 0;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.1);
}
#rst-index-git input {
  margin: 0 0.5%;
  vertical-align: top;
  width: 23%;
}
#rst-index-git .btn.btn-primary {
  padding: 16px;
}
.rst-address .col-xs-3 > span {
  font-size: 21px;
  font-weight: 600;
}
.rst-address .col-xs-3 > p {
  margin: 18px 0 13px;
}
.rst-address .col-xs-3 > a {
  font-family: Open sans;
}
.rst-address .col-xs-3:nth-of-type(1) > span {
  color: #67d6ff;
}
.rst-address .col-xs-3:nth-of-type(2) > span {
  color: #fadd53;
}
.rst-address .col-xs-3:nth-of-type(3) > span {
  color: #ff9359;
}
.rst-address .col-xs-3:nth-of-type(4) > span {
  color: #f75f40;
}
.row.rst-address {
  padding: 105px 0 130px;
}
.rst-accsetting-name > img {
  border-radius: 50%;
  height: auto;
  margin: 0 10px 0 0;
  max-width: 42px;
}
.rst-header-menu li a i {
  display: inline-block;
  font-size: 13px;
  margin: -4px 0 0 6px;
  vertical-align: middle;
}
.rst-accsetting-name {
  display: block;
  margin: -9px -16px -13px 0;
  padding: 46px 0;
}
.rst-login > li {
  padding: 0;
  position: relative;
}
.rst-settingmenu {
  background: #233141;
  left: 0;
  position: absolute;
  top: 100%;
  width: 185px;
  display: none;
}
.rst-loginbtn {
  display: block;
  padding: 47px 0;
}
.rst-settingmenu li {
  margin: 0;
  padding: 6px 30px;
}
.rst-header-menu .rst-settingmenu li a {
  color: #798fa9;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
}
.rst-menubtn {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}


/*=======================
      Google Maps
=======================*/

#google-container {
  position: relative;
  width: 100%;
  background-color: #e7eaf0;
  height: 600px;
  z-index: 1;
}
#cd-google-map {
  position: relative;
}
.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  background-color: #d36868;
}
.rst-map-container {
  left: 15px;
  margin: 0 auto;
  max-width: 1170px;
  position: absolute;
  right: 15px;
  top: 0;
}


/* Css fixed */
#rst-whatido .rst-index-whatido li p {
  line-height: 25px;
  margin: 33px 0 0;
}
#rst-aboutme .rst-excerpt > p {
  margin: 21px 0 25px;
}
.rst-index-pricing .rst-inner-pricing .btn {
  padding: 12px 0;
  width: 100%;
}
.owl-item:nth-of-type(2) .rst-index-slider .container > div {
  text-align: center;
}
.dd-option-text {
  color: #5dabf0;
}
span.checkbox {
  background: url("../images/icon/checkbox-bg.png") no-repeat scroll 0 0;
  height: 16px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 2px;
  width: 16px;
}
#package .dd-selected {
  padding: 10px 19px;
}
#package .dd-option {
  padding: 10px 19px;
}
ol.commentlist {
  list-style: outside none none;
  padding: 0;
}
.rst-header-banner.rst-contact-banner,
.rst-header-banner.rst-shortcodes-banner,
.rst-header-banner.rst-account-banner,
.rst-header-banner.rst-blog-banner {
  padding: 0 0 170px;
}
#rst-owl-blog .owl-next img {
  height: 100%;
  left: 100%;
  max-width: none;
  position: absolute;
  top: 0;
  width: auto;
}
#rst-owl-blog .owl-prev img {
  height: 100%;
  right: 100%;
  max-width: none;
  position: absolute;
  top: 0;
  width: auto;
}
.rst-circle1,
.rst-circle2,
.rst-circle3,
.rst-circle4
{
  min-height: 55px;
}
#rst-pricing-stroke .rst-circle1,
#rst-pricing-stroke .rst-circle2,
#rst-pricing-stroke .rst-circle3,
#rst-pricing-stroke .rst-circle4
{
  left: 0;
  position: absolute;
  top: 0;
}



























