
.red-color{
    color:#EB151E!important;
}
.red-bg{
    background:#EB151E!important;
}
.white-color{
    color:#fff!important;
}

.padding-top-plus-20{
    padding-top: 20px!important;
}
.padding-bottom-plus-20{
    padding-bottom: 20px!important;
}
.main-body-message{
    height: 450px;
    background: url('../images/page-portfolio-banner.jpg');
    background-size: cover;
}

.container .steps {list-style:none;margin:0 0 0;padding:0;overflow:hidden;background:#F6F6F6;font-size:13px;line-height:1.25;}
		.container .steps li {display:table;position:relative;float:left;margin:0;padding:0 0 0 60px;min-width:150px;width:20%;height:72px;background:#E1E1E1;box-shadow:0 0 50px rgba(0, 0, 0, .15);color:#444;}
		.container .steps li:before {margin:0;content:'';}
		.container .steps li.past, .container .steps li.current {color:#FFF;background:#333;}
		.container .steps .step-1 {margin-left:-20px;background:#333;z-index:99;}
		.container .steps .step-1.future {background:#AEAEAE;}
		.container .steps .step-2 {background:#2C2C2C;z-index:98;}
		.container .steps .step-2.future {background:#C0C0C0;}
		.container .steps .step-3 {background:#5A5A5A;z-index:97;}
		.container .steps .step-3.future {background:#D2D2D2;}
		.container .steps .step-4 {background:#858585;z-index:96;}
		.container .steps .step-4.future {background:#E4E4E4;}
		.container .steps .step-5 {background:#A5A5A5;z-index:95;box-shadow:none;}
		.container .steps .step-5.future {background:#F6F6F6;}
			.container .steps li .count {display:none;}
			.container .steps li .content {margin-right:-40px;display:table-cell;vertical-align:middle;}
				.container .steps li .number {font-weight:700;font-size:11px;text-transform:uppercase;}
				.container .steps li .arrow {position:absolute;top:0;right:-36px;width:0;height:0;border-style:dotted dotted dotted solid;border-width:36px 0 36px 36px;border-color:rgba(0,49,49,0) rgba(0,49,49,0) rgba(0,49,49,0) #E1E1E1;}
				.container .steps li.past .arrow, .container .steps li.current .arrow {border-left-color:#333;}
				.container .steps .future .arrow {border-color:rgba(198,198,198,0) rgba(198,198,198,0) rgba(198,198,198,0) #E1E1E1;}
				.container .steps .step-1 .arrow {border-left-color:#333;}
				.container .steps .step-1.future .arrow {border-left-color:#AEAEAE;}
				.container .steps .step-2 .arrow {border-left-color:#2C2C2C;}
				.container .steps .step-2.future .arrow {border-left-color:#C0C0C0;}
				.container .steps .step-3 .arrow {border-left-color:#5A5A5A;}
				.container .steps .step-3.future .arrow {border-left-color:#D2D2D2;}
				.container .steps .step-4 .arrow {border-left-color:#858585;}
				.container .steps .step-4.future .arrow {border-left-color:#E4E4E4;}
				.container .steps .step-5 .arrow {display:none;}
				.container .steps .step-5.current .arrow {display:block;border-color:#333;border-style:solid;}
