{% extends "base.html" %}

{% load i18n %}

{% block layout %}property{% endblock %}

{% block meta.title %}
	{% trans 'Property Insurance' %} | {{ block.super }}
{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'Property Insurance' %}</h1>
		<div class="alert alert-warning"><span class="fa fa-warning fa-lg"></span> Unfortunately, there is no property insurance offers available now.</div>
	</article>
{% endblock %}
