{% extends "account/base.html" %}

{% load i18n insurance_tools bootstrap %}

{% block layout %}{{ block.super }} insurances{% endblock %}

{% block meta.title %}
	{% trans 'Insurances' %} | {{ block.super }}
{% endblock %}

{% block article %}
	<h1>{% trans 'Insurances' %}</h1>
	<table class="insurances">
		<thead>
			<tr>
				<th>Category</th>
				<th>Company</th>
				<th>Starting date</th>
				<th>Expiration date</th>
				<th></th>
			<tr>
		</thead>
		<tbody>
			{% for insure in customer.confirmed_insurances %}
				<tr>
					<td>{{ insure.category|category_name }}</td>
					<td>{{ insure.company.name }}</td>
					<td>{{ insure.time|date:"D d F Y" }}</td>
					<td>{{ insure.expiration|date:"D d F Y" }}</td>
					<td><a href={% url 'quote_details' order_id=insure.order_id %} class="btn btn-primary btn-xs">Details</a></td></td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="4" class="text-center">You have no active insurances on your profile</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}