{% extends "account/base.html" %}

{% load i18n insurance_tools bootstrap %}

{% block layout %}{{ block.super }} proposals{% endblock %}

{% block meta.title %}
	{% trans 'Proposals' %} | {{ block.super }}
{% endblock %}

{% block article %}
	<h1>{% trans 'Proposals' %}</h1>
	<table class="insurances">
		<thead>
			<tr>
				<th>Category</th>
				<th>Company</th>
				<th>Amount</th>
				<th>Order Id</th>
				<th>Status</th>
				<th>Date of application</th>
			<tr>
		</thead>
		<tbody>
			{% for proposal in customer.proposals %}
				<tr>
					<td>{{ proposal.category|category_name }}</td>
					<td>{{ proposal.company.name }}</td>
					<td>{{ proposal.amount }}</td>
					<td><a href={% url 'quote_details' order_id=proposal.order_id %}>{{ proposal.order_id }}</a></td>
					<td>{{ proposal.status|status_name }}</td>
					<td>{{ proposal.time|date:"D d F Y" }}</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="6" class="text-center">You have no active proposals on your profile</td>
				</tr>
			{% endfor %}
	</table>
{% endblock %}