{% extends base %}

{% load i18n insurance_tools %}

{% block layout %}{{ block.super }} quote details{% endblock %}

{% block meta.title %}
	{% trans 'Quote Details' %} | {{ block.super }}
{% endblock %}

{% block article %}
	{% include 'includes/messages.html' %}
	<h1>{% trans 'Quote details' %}</h1>
	<div class="row">
		<div class="col-md-5"><h3>Base informations:</h3></div>
		<div class="col-md-7"><h3>Company informations:</h3></div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-6"><b>Owner:</b></div>
				<div class="col-md-6">
					{% if perms.dip_admin %}
						<a href="{% url 'customer_info' invoice.customer.pk %}">{{invoice.customer.get_full_name}}</a>
					{% else %}
						{{invoice.customer.get_full_name}}
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><b>Quote price:</b></div>
				<div class="col-md-6">{{invoice.amount}}</div>
			</div>
			<div class="row">
				<div class="col-md-6"><b>Order Id:</b></div>
				<div class="col-md-6">{{invoice.order_id}}</div>
			</div>
			<div class="row">
				<div class="col-md-6"><b>Type of insurance:</b></div>
				<div class="col-md-6">{{section}}</div>
			</div>
			<div class="row"> 
				<div class="col-md-6"><b>Time of creation:</b></div>
				<div class="col-md-6">{{invoice.time}}</div>
			</div>
			<div class="row">
				<div class="col-md-6"><b>Current Status:</b></div>
				<div class="col-md-6">{{invoice.status|status_name}}</div>
			</div>
			{% if invoice.status >= 2 %}
				<div class="row">
					<div class="col-md-6"><b>Expiration date:</b></div>
					<div class="col-md-6">{{invoice.expiration}}</div>
				</div>
			{% endif %}
			{% if request.user.is_staff %}
				<div class="row">
					<div class="col-md-6"><b>Payall ID:</b></div>
					<div class="col-md-6">{{invoice.txn_id}}</div>
				</div> 
			{% endif %} 
 		</div>
		<div class="col-md-7">
			<b>{{invoice.company.name}}</b><br>
			{% with caddress=invoice.company.address_data %}
				{% if caddress.address %}{{ caddress.address }}<br>{% endif %}
				{% if caddress.email %}{{ caddress.email }}<br>{% endif %}
				{% if caddress.telephone %}Tel: {{ caddress.telephone }},{% endif %}{% if caddress.fax %} Fax: {{ caddress.fax }}<br>{% endif %}
				{% if caddress.website %}{{ caddress.website }}<br>{% endif %}
				{% if caddress.po_box %}P.O. Box: {{ caddress.po_box }}<br>{% endif %}
				{% if caddress.contact_person %}Contact person: {{ caddress.contact_person }}<br>{% endif %}
			{% endwith %}
		</div>
	</div>
	<br>
	{% if section == 'Motor' %}
		{% with quote=invoice.quote_details.get %}
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab">Vehicle</a></li>
					<li><a href="#tab2" data-toggle="tab">Ownership</a></li>
					<li><a href="#tab3" data-toggle="tab">Miscellaneous</a></li>
					{% if request.user.is_staff %}
						<li><a href="#tab5" data-toggle="tab">Amounts &amp Discounts</a></li>
					{% else %}
						<li><a href="#tab4" data-toggle="tab">Payment &amp Cover Note</a></li>
					{% endif %}
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<div class="row">
							<div class="col-md-4"><b>Estimated present value of vehicle:</b></div>
							<div class="col-md-8">{{quote.vehicle.value}}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><b>Year of manufacture:</b></div>
							<div class="col-md-8">{{quote.vehicle.prod_year}}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><b>Engine cubic capacity:</b></div>
							<div class="col-md-8">{{quote.vehicle.engine_vol}}cc</div>
						</div>
						<div class="row">
							<div class="col-md-4"><b>Vehicle seat capacity:</b></div>
							<div class="col-md-8">{{quote.vehicle.seats}}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><b>Type of usage:</b></div>
							<div class="col-md-8">{{quote.vehicle.usage_human}}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><b>Extra Third Party Limit:</b></div>
							<div class="col-md-8">{{quote.vehicle.tpl|yesnomap}}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><b>Third Party Limit Amount:</b></div>
							<div class="col-md-8">{{quote.vehicle.tpl_amount_value}}</div>
						</div>
					</div>
					<div class="tab-pane" id="tab2">
						<div class="row">
							<div class="col-md-8"><b>Registration number:</b></div>
							<div class="col-md-4">{{quote.ownership.vrp}}</div>
						</div>
						<div class="row">
							<div class="col-md-8"><b>Chassis number:</b></div>
							<div class="col-md-4">{{quote.ownership.vin}}</div>
						</div>
						<div class="row">
							<div class="col-md-8"><b>Make of Vehicle:</b></div>
							<div class="col-md-4">{{quote.ownership.make_of_vehicle|title}}</div>
						</div>
						<div class="row">
							<div class="col-md-8"><b>Car Body Type:</b></div>
							<div class="col-md-4">{{quote.ownership.body_type|title}}</div>
						</div>
						<div class="row">
							<div class="col-md-8"><b>Is the vehicle at present in a state of repair?:</b></div>
							<div class="col-md-4">{{quote.ownership.repair|yesnomap}}</div>
						</div>
						<div class="row">
							<div class="col-md-8"><b>Has the vehicle been altered or adapted from the original manufacturer's design in any way?:</b></div>
							<div class="col-md-4">{{quote.ownership.changed|yesnomap}}</div>
						</div>
						<div class="row">
							<div class="col-md-8"><b>Are you the owner of the vehicle and is it registered in your name?:</b></div>
							<div class="col-md-4">{{quote.ownership.owner|yesnomap}}</div>
						</div>
						{% if quote.ownership.owner == 1 %}
							<div class="row">
								<div class="col-md-8"><b>If you are not the owner state name and address of owner:</b></div>
								<div class="col-md-4">{{quote.ownership.owner_address}}</div>
							</div>
						{% endif %}
						<div class="row">
							<div class="col-md-8"><b>Did you or the owner of the vehicle obtain a loan to purchase the vehicle?:</b></div>
							<div class="col-md-4">{{quote.ownership.loan|yesnomap}}</div>
						</div>
						{% if quote.ownership.loan == 0 %}
							<div class="row">
								<div class="col-md-8"><b>If so please state the name and address of person/company from whom the loan was obtained:</b></div>
								<div class="col-md-4">{{quote.ownership.loan_info}}</div>
							</div>
						{% endif %}
					</div>
					<div class="tab-pane" id="tab3">
						<div class="row">
							<div class="col-md-8"><b>Have there been any accidents or losses in connection with any motor vehicle owned or driven by you or by a person detailed as driver during the past years?:</b></div>
							<div class="col-md-4">{{quote.misc.accident|yesnomap}}</div>
						</div>
						<div class="row">
							<div class="col-md-8"><b>To the best of your knowlege and belief do you or does any person who to your knowlege will drive, suffer from defective vision or hearing or from any physical infirmity?:</b></div>
							<div class="col-md-4">{{quote.misc.defect|yesnomap}}</div>
						</div>
						<div class="row">
							<div class="col-md-8"><b>Have you ever held a motor insurance policy or ever proposed to an insurance company for motor insurance?:</b></div>
							<div class="col-md-4">{{quote.misc.previous_insure|yesnomap}}</div>
						</div>
						{% if quote.misc.previous_insure == 0 %}
							<div class="row">
								<div class="col-md-12"><br><p>Has any insurance company or underwriter ever, in connection with any motor vehicle...</p></div>
							</div>
							<div class="row">
								<div class="col-md-8"><b>...declined your proposal?:</b></div>
								<div class="col-md-4">{{quote.misc.declined_proposal|yesnomap}}</div>
							</div>
							<div class="row">
								<div class="col-md-8"><b>...required you to carry the first portion of any loss?:</b></div>
								<div class="col-md-4">{{quote.misc.carry_loss|yesnomap}}</div>
							</div>
							<div class="row">
								<div class="col-md-8"><b>...required an increased premium or imposed special conditions?:</b></div>
								<div class="col-md-4">{{quote.misc.special_conditions|yesnomap}}</div>
							</div>
							<div class="row">
								<div class="col-md-8"><b>...refused to renew your license?:</b></div>
								<div class="col-md-4">{{quote.misc.refuse_renew|yesnomap}}</div>
							</div>
							<div class="row">
								<div class="col-md-8"><b>...cancelled your policy?:</b></div>
								<div class="col-md-4">{{quote.misc.cancelled_policy|yesnomap}}</div>
							</div>
						{% endif %}
					</div>
					<div class="tab-pane" id="tab4">
						{% if invoice.status < 2 %}
							<div class="well center">
								This quote is not payed yet! To make payment for your selected policy. You can chose between card payment (VISA, MasterCard), Mobile Money or cash/cheque payment using the Payall merchant network.
								<div class="alert alert-warning">
									<i class="icon-warning-sign"></i> The button below will direct you to the payment site where you can select your preferred type of payment!
								</div>
								<form action="{{ payall_payment }}" method="post">
									{% csrf_token %}
									<input type="hidden" name="store-id" value="{{ store_id }}" />
									<input type="hidden" name="order-id" value="{{ invoice.order_id }}" />
									<input type="hidden" name="amount" value="{{ invoice.amount.amount }}" />
									<input type="hidden" name="currency" value="{{ invoice.amount.currency }}" />
									<input type="hidden" name="checksum" value="{{ checksum }}" />
									<input type="hidden" name="salt" value="{{ salt }}" />
									<input type="hidden" name="title" value="{{ title }}" />
									<input type="hidden" name="user-firstname" value="{{ invoice.customer.first_name }}" />
									<input type="hidden" name="user-lastname" value="{{ invoice.customer.last_name }}" />
									<input type="hidden" name="user-phone" value="{{ invoice.customer.profile.telephone }}" />
									<input type="hidden" name="user-city" value="{{ invoice.customer.profile.town }}" />
									<input type="hidden" name="user-street" value="{{ invoice.customer.profile.address }}" />
									<input type="hidden" name="user-email" value="{{ invoice.customer.email }}" />
									<button type="submit" class="btn btn-primary btn-sm">Proceed to Payment</button>
								</form>
							</div>
						{% elif invoice.quote_expired %}
							<div class="well center">
								This quote has been paid, but it expired. Because of that, downloading cover note is not possible.
							</div>
						{% else %}
							<div class="well center">
									Thank you for your paiment! If you didn't find cover note in your mailbox, you can download it using button below.
									<div>
										<a href="{{ request.path }}?download=True" class="btn btn-primary btn-xs" target="_blank">Download Cover Note</a>
									</div>
							</div>
						{% endif %}
					</div>
					{% if request.user.is_staff %}
						<div class="tab-pane" id="tab5">
							{% with details=invoice.quote_details.get %}
								<div class="row">
									<div class="col-md-4"><b>Premium:</b></div>
									<div class="col-md-4">{{details.premium}}</div>
								</div>
								<div class="row">
									<div class="col-md-4"><b>Premium excess:</b></div>
									<div class="col-md-4">{{details.premium_excess}}</div>
								</div>
								<div class="row">
									<div class="col-md-4"><b>Broker commision:</b></div>
									<div class="col-md-4">{{details.broker_commision}}</div>
								</div>
								<div class="row">
									<div class="col-md-4"><b>Total discount:</b></div>
									<div class="col-md-4">{{details.broker_discount|percent}}</div>
								</div>
								<div class="row">
									<div class="col-md-4"><b>No claim discount:</b></div>
									<div class="col-md-4">{{details.ncd|percent}}</div>
								</div>
								<div class="row">
									<div class="col-md-4"><b>Fleet discount:</b></div>
									<div class="col-md-4">{{details.fd|percent}}</div>
								</div>
								<div class="row">
									<div class="col-md-4"><b>Other discount:</b></div>
									<div class="col-md-4">{{details.od|percent}}</div>
								</div>
							{% endwith %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endwith %}
	{% elif sectionn == 'Travel' %}
	{% elif section == 'Estate' %}
	{% elif section == 'Liability' %}
	{% elif section == 'Life' %}
	{% endif %}
{% endblock %}

