{% extends "base.html" %}

{% load i18n navigation %}

{% block meta.title %}
	About | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block promo %}{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'About BestQuote' %}</h1>
		<p>Copyright 2012-{% now "Y" %} by Aya Technologies AG, Arbon, Switzerland.</p>
		<dl>
			<dt>Application development by:</dt>
			<dd>Aya Technologies AG, Arbon, Switzerland</dd>
			<dt>Distributed under license by:</dt>
			<dd>Aya Technologies Ghana Limited, Accra, Ghana</dd>
			<dt>Version:</dt>
			<dd>{{ version }}</dd>
		</dl>
	</article>
{% endblock %}