<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<!-- <html lang="en"> -->
    <!--<![endif]-->
    <!-- <head> -->
    {% block head %}
        <meta charset="utf-8"/>
        <title>Best Quotes| Motor Step 1</title>
        <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template"/>
        <meta name="author" content="htmlcoder.html"/>

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}resources/images/best-icon.png"/>

        <!-- Web Fonts -->
        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'/>
        <link href='//fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'/>
        <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
        <link href='//fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'/>
        

        <!-- Bootstrap core CSS -->
        <link href="{{ STATIC_URL }}resources/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/slider.css" /> -->

        <!-- Font Awesome CSS -->
        <link href="{{ STATIC_URL }}resources/fonts/font-awesome/css/font-awesome.css" rel="stylesheet"/>

        <!-- Fontello CSS -->
        <link href="{{ STATIC_URL }}resources/fonts/fontello/css/fontello.css" rel="stylesheet/"/>

        <!-- Plugins -->
        <link href="{{ STATIC_URL }}resources/plugins/magnific-popup/magnific-popup.css" rel="stylesheet"/>

        <link href="{{ STATIC_URL }}resources/css/animations.css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}resources/plugins/owl-carousel/owl.carousel.css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}resources/plugins/owl-carousel/owl.transitions.css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}resources/plugins/hover/hover-min.css" rel="stylesheet"/>		

        <!-- the project core CSS file -->
        <link href="{{ STATIC_URL }}resources/css/style.css" rel="stylesheet" />



        <!-- Custom css --> 
        <link href="{{ STATIC_URL }}resources/css/custom.css" rel="stylesheet"/>
        <style type="text/css">
            .transparent {
                /*background:#EB151E!important;*/
                background:rgba(235, 21, 20, 0.6);
            }
            .tran-icons {
                background:rgba(225, 255, 255, 0.3);
            }
        </style>
    <!-- </head> -->
    {% endblock %}

    <!-- <body class="no-trans"> -->
    {% block body %}

        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">

            <!-- header-container start -->
            <div class="header-container">

                <div class="header-top" style="background: #EB151E;color: #fff;">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2 col-sm-5">
                                <div id="header-top-second"  class="clearfix text-left">
                                    <ul class="list-inline">
                                        <li><i class="fa fa-map-marker"></i>   The Victoria Plot No. 131,North Labone, Accra-Ghana</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-10 col-sm-7">

                                <!-- header-top-second start -->
                                <!-- ================ -->
                                <div id="header-top-second"  class="clearfix text-right">
                                    <ul class="list-inline">
                                        <li><i class="fa fa-phone pr-5 pl-10"></i> +233 030 2 765 086</li>
                                        <li><i class="fa fa-envelope-o pr-5 pl-10"></i> info@bestquotehome.com</li>
                                    </ul>
                                </div>
                                <!-- header-top-second end -->
                            </div>
                        </div>
                    </div>
                </div>

                <header class="header fixed clearfix white-bg">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- header-left start -->
                                <!-- ================ -->
                                <div class="header-left clearfix">
                                    {% block logo %}
                                    <!-- logo -->
                                    <div id="logo" class="logo">
                                        <a href="{% url 'index' %}"><img id="logo_img" src="{{ STATIC_URL }}resources/images/best-icon.png" alt="The Project"/></a>
                                    </div>
                                    {% endblock %}
                                </div>
                                <!-- header-left end -->

                            </div>
                            <div class="col-md-9">

                                <!-- header-right start -->
                                <!-- ================ -->
                                <div class="header-right clearfix">

                                    <div class="main-navigation  animated with-dropdown-buttons">

                                        <!-- navbar start -->
                                        <!-- ================ -->
                                        <nav class="navbar navbar-default" role="navigation">
                                            <div class="container-fluid">

                                                <!-- Toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                        <span class="sr-only">Toggle navigation</span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                    </button>

                                                </div>

                                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                    <ul class="nav navbar-nav navbar-right">
                                                    
                                                        <li>
                                                            <a href="{% url 'motor' %}" style="color: #000;">Motor</a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'travel' %}" style="color: #000;">Travel</a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'motor' %}" style="color: #000;">Property</a>
                                                        </li>
                                                        <li>
                                                            {% if user.is_authenticated %}
                                                                <a href="{% url 'account' %}">My Account</a> / <a href="{% url 'logout' %}">Logout</a>
                                                            {% else %}
                                                                <a href="{% url 'signin' %}" class="red-color text-capitalize">Sign in</a>
                                                            {% endif %}

                                                        </li>
                                                        <!-- <li>
                                                            <a href="index.html" style="color: #000;">Home</a>
                                                        </li>
                                                        <li>
                                                            <a href="products.html" style="color: #000;">Products</a>
                                                        </li>
                                                        <li >
                                                            <a href="about-us.html" style="color: #000;">About Use</a>
                                                        </li>
                                                        <li>
                                                            <a href="contact-us.html" style="color: #000;">Contact Us</a>
                                                        </li>
                                                        <li>
                                                            <a href="faqs.html" style="color: #000;">FAQ's</a>
                                                        </li>
                                                        <li>
                                                            <a href="login.html" class="red-color text-capitalize">Login</a>
                                                        </li> -->
                                                    </ul>
                                                </div>

                                            </div>
                                        </nav>
                                        <!-- navbar end -->

                                    </div>
                                    <!-- main-navigation end -->	
                                </div>
                                <!-- header-right end -->

                            </div>
                        </div>
                    </div>

                </header>
                <!-- header end -->
            </div>
            <!-- header-container end -->

            <div class="container">
                {%block heading %}{% endblock %}
                

                <div class="container">
                {% block content %}{% endblock %}
              
                </div>
            </div>



            <br/>
            <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
            <!-- ================ -->
            <footer id="footer" class="clearfix">

                <!-- .footer start -->
                <!-- ================ -->
                <div class="footer">
                    <div class="container">
                        <div class="footer-inner">
                            <div class="row">
                                <div class="col-md-8 centered col-md-offset-2">
                                    <div class="footer-content text-center padding-ver-clear">
                                        <div class="logo-footer p-40"><img id="logo-footer" class="center-block" src="{{ STATIC_URL }}resources/images/best-icon.png" alt="">
                                            <h4>The most convenient way to purchase your insurance</h4>
                                        </div>
                                        <ul class="list-inline mb-20">
                                           <!--  <li><i style="color: #EB151E;" class="text-default fa fa-map-marker pr-5"></i> The Victoria Plot No. 131,North Labone, Accra-Ghana</li>
                                            <li><a href="tel:+00 1234567890" class="link-dark"><i style="color: #EB151E;"  class="text-default fa fa-phone pl-10 pr-5"></i> +233 030 2 765 086</a></li>
                                            <li><a href="mailto:info@ayatechnologies.net" class="link-dark"><i style="color: #EB151E;" class="text-default fa fa-envelope-o pl-10 pr-5"></i> info@abestquotehome.com</a></li> -->
                                            <li><a href="{% url 'about_page' %}" class="red-color text-capitalize">About Us</a></li>
                                            <li><a href="{% url 'faq_page' %}" class="red-color text-capitalize">FAQ</a></li>
                                            <li><a href="{% url 'contact_page' %}" class="red-color text-capitalize">Contact Us</a></li>
                                            
                                        </ul>
                                        <div class="separator"></div>
                                        <p class="text-center margin-clear">
                                            Copyright © 2015 - <a target="_blank" href="http://bestquotehome.com" style="font-weight: bold;color: #000;">BestQuote (Ghana) Ltd.</a> All Rights Reserved
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .footer end -->

        </div>
        <!-- page-wrapper end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster -->
        <!-- ================================================== -->
        <!-- Jquery and Bootstap core js files -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}resources/bootstrap/js/bootstrap.min.js"></script>
        // <script src="{{ STATIC_URL }}js/vendor/bootstrap-slider.js"></script>

        <!-- Modernizr javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/modernizr.js"></script>


        <!-- Magnific Popup javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Appear javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/waypoints/jquery.waypoints.min.js"></script>

        <!-- Count To javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/jquery.countTo.js"></script>

        <!-- Parallax javascript -->
        <script src="{{ STATIC_URL }}resources/plugins/jquery.parallax-1.1.3.js"></script>

        <!-- Contact form -->
        <script src="{{ STATIC_URL }}resources/plugins/jquery.validate.js"></script>

        <!-- Owl carousel javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/owl-carousel/owl.carousel.js"></script>

        <!-- SmoothScroll javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/jquery.browser.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/SmoothScroll.js"></script>

        <!-- Initialization of Plugins -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/js/template.js"></script>

        <!-- Custom Scripts -->
        
        <script type="text/javascript" src="{{ STATIC_URL }}resources/js/custom.js"></script>


        <!-- Color Switcher (Remove these lines) -->
    <!-- </body> -->
{% endblock %}

<!-- </html> -->
