{% extends "root.html" %}

{% load i18n %}

{% block head %}
	{% block meta %}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{% block meta.title %}BestQuote{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% endblock %}
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/slider.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/selectboxit.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/select2.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/select2-bootstrap.css" />
	<script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
	{{ form.media }}

{% endblock %}

{% block body %}
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="top-line"></div>
				{% block logo %}
					<div class="title">
						<a href="{% url 'index' %}">BestQuote</a>
						<!-- <em>{{ country }}</em> -->
						<!-- <em>Service Provided by M&amp;G Insurance Brokers</em> -->
					</div>
				{% endblock %}
				<div class="container-fluid">
				<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
				<nav class="main-nav navbar-collapse collapse">
					<ul>
						<li class="mn-1"><a href="{% url 'motor' %}"><span data-hover="Motor">Motor</span></a></li>
						<li class="mn-2"><a href="{% url 'travel' %}"><span data-hover="Travel">Travel</span></a>{% comment %}<font color="grey">Travel</font>{% endcomment %}</li>
						<li class="mn-3">{% comment %}<a href="{% url 'property' %}"><span data-hover="Property">Property</span></a>{% endcomment %}<font color="grey">Property</font></li>
						<li class="mn-4">
							{% if user.is_authenticated %}
								<a href="{% url 'account' %}"><span data-hover="My Account">My Account</span></a> / <a href="{% url 'logout' %}"><span data-hover="Logout">Logout</span></a>
							{% else %}
								<a href="{% url 'signin' %}"><span data-hover="Sign In">Sign In</span></a>
							{% endif %}
						</li>
					</ul>
				</nav><!--/.nav-collapse -->
				</div><!--/.container-fluid -->
			</div>
		</header>
		<div class="main">
		{% block slider %}{% endblock %}
			<div class="container">
				{% block content %}{% endblock %}
			</div>
		</div>
		<footer>
			<div class="container">
				<ul>
					<li><a href="{% url 'about_page' %}">{% trans 'About BestQuote' %}</a></li>
					<li><a href="{% url 'faq_page' %}">{% trans 'FAQ' %}</a></li>
					<li><a href="{% url 'contact_page' %}">{% trans 'Contact Us' %}</a></li>
				</ul>
				<p class="copyrights">
					&copy; Copyright BestQuote Ghana Limited 2015<br />
					All rights reserved.<a href="{% url 'tou_page' %}">{% trans 'Terms of use' %}</a>
				</p>
			</div>
		</footer>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/bootstrap-slider.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/jquery.selectboxit.js"></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/select2.min.js"></script>
	{% block extrascript %}{% endblock %}
{% endblock %}