{% extends "base.html" %}

{% load i18n navigation %}

{% block meta.title %}
    Contact | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block promo %}{% endblock %}

{% block content %}
   <!-- ================ -->
            <div class="banner dark-translucent-bg transparent" style="background-image:url('images/background-img-3.jpg'); background-position: 50% 30%;">
                <!-- breadcrumb start -->
                <!-- breadcrumb end -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 text-center col-md-offset-2 pv-20">
                            <h1 class="page-title text-center">Contact Us</h1>
                            <div class="separator"></div>
                            <p class="lead text-center">If you have a query about our service, a request for further information or action, or you wish to provide feedback on our service please contact us via one of the channels provided below.</p>
                            <ul class="list-inline mb-20 text-center">
                                <li><i class="text-default fa fa-map-marker pr-5 white-color"></i>The Victoria Plot No. 131,North Labone, Accra-Ghana</li>
                                <li><a href="tel:+233 030 2 765 086" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5 white-color"></i>+233 (0)30 2 765 086</a></li>
                                <li><a href="mailto:info@bestquotehome.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5 white-color"></i>info@bestquotehome.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- banner end -->

            <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-12 space-bottom">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3 class="title">Write to us</h3><div class="separator-3"></div>
                                    <div class="alert alert-success hidden" id="MessageSent">
                                        We have received your message, we will contact you very soon.
                                    </div>
                                    <div class="alert alert-danger hidden" id="MessageNotSent">
                                        Oops! Something went wrong please refresh the page and try again.
                                    </div>
                                    <div class="contact-form">
                                        <form id="contact-form" class="margin-clear" role="form">
                                            <div class="form-group has-feedback">
                                                <label for="name">Name *</label>
                                                <input type="text" class="form-control" id="name" name="name" placeholder="">
                                                <i class="fa fa-user form-control-feedback"></i>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label for="email">Email *</label>
                                                <input type="email" class="form-control" id="email" name="email" placeholder="">
                                                <i class="fa fa-envelope form-control-feedback"></i>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label for="subject">Subject *</label>
                                                <input type="text" class="form-control" id="subject" name="subject" placeholder="">
                                                <i class="fa fa-navicon form-control-feedback"></i>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label for="message">Message *</label>
                                                <textarea class="form-control" rows="6" id="message" name="message" placeholder=""></textarea>
                                                <i class="fa fa-pencil form-control-feedback"></i>
                                            </div>
                                            <input type="submit" value="Submit" class="submit-button btn red-bg white-color">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="map-canvas"></div>
                                </div>
                            </div>
                        </div>
                        <!-- main end -->
                    </div>
                </div>
            </section>
            <!-- main-container end -->
        {% endblock %}