{% extends "base.html" %}

{% load i18n navigation %}

{% block meta.title %}
	Contact | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block promo %}{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'Contact' %}</h1>
		<h2>Aya Technologies AG</h2>
		<p>
			Grabenstr. 4<br />
			9320 Arbon<br />
			Switzerland
		</p>
		<p>
			Telephone: +41 71 447 40 52<br />
			Fax: +41 71 447 18 08<br />
			E-mail: <a href="mailto:info@ayatechnologies.net">info@ayatechnologies.net</a>
		</p>
	</article>
{% endblock %}