{% extends "base.html" %}

{% load i18n %}

{% block layout %}home{% endblock %}

{% block meta.title %}
	{{ block.super }} | Get the best insurance quote instantly!
{% endblock %}

{% block slider %}
	

	<style>
        /* jssor slider arrow navigator skin 20 css */
        /*
        .jssora20l                  (normal)
        .jssora20r                  (normal)
        .jssora20l:hover            (normal mouseover)
        .jssora20r:hover            (normal mouseover)
        .jssora20l.jssora20ldn      (mousedown)
        .jssora20r.jssora20rdn      (mousedown)
        */
        .jssora20l, .jssora20r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url({{ STATIC_URL }}img/a20.png) no-repeat;
            overflow: hidden;
        }
        .jssora20l { background-position: -3px -33px; }
        .jssora20r { background-position: -63px -33px; }
        .jssora20l:hover { background-position: -123px -33px; }
        .jssora20r:hover { background-position: -183px -33px; }
        .jssora20l.jssora20ldn { background-position: -243px -33px; }
        .jssora20r.jssora20rdn { background-position: -303px -33px; }
    </style>
    
    
    <!-- it works the same with all jquery version from 1.x to 2.x -->
    <script type="text/javascript" src="{{ STATIC_URL }}slider_js/jquery-1.9.1.min.js"></script>
    <!-- use jssor.slider.mini.js (40KB) instead for release -->
    <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
    <script type="text/javascript" src="{{ STATIC_URL }}slider_js/jssor.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}slider_js/jssor.slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}slider_js/slider.js"></script>


    <!-- Jssor Slider Begin -->
    <!-- To move inline styles to css file/block, please specify a class name for each element. -->  
    <div id="slider1_container" style="position: relative; width: 980px;
        height: 380px; overflow: hidden;">
 
        <!-- Loading Screen --> 
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

                background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;"> 
            </div> 
            <div style="position: absolute; display: block; background: url(img/loading.gif) no-repeat center center;

                top: 0px; left: 0px;width: 100%;height:100%;">
            </div> 
        </div> 
 
        <!-- Slides Container --> 
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 980px; height: 380px;
            overflow: hidden;">

            <!-- slide 1 -->
            <div>
                <img u="image" src="{{ STATIC_URL }}img/home/01.jpg" />
                <div u=caption t="CLIP|LR" du="900"  style="position:absolute; left:20px; top: 90px; width:500px; height:120px;"> 
               <h1>Don't pay more than you have to for your travel insurance</h1>
                </div>

                 <div u=caption t="L|IB" t2=L d=-900 class="captionBlack"  style="position:absolute; left:320px; top: 180px; width:60px; height:30px;"> 
                <a href="{% url 'travel' %}" class="btn btn-primary btn-lg">Get Your Best Quote Now <span class="fa fa-arrow-circle-right right"></span></a>
                </div> 
               
            </div> 

            <!-- slide 2 -->
            <div> 
                <img u="image" src="{{ STATIC_URL }}img/home/02.jpg" />
                <div u=caption t="CLIP|LR" du="900"  style="position:absolute; left:20px; top: 90px; width:500px; height:120px;"> 
               <h1>The most convenient way to purchase your motor insurance </h1>
                </div>

                 <div u=caption t="L|IB" t2=L d=-900 class="captionBlack"  style="position:absolute; left:320px; top: 180px; width:60px; height:30px;"> 
                <a href="{% url 'motor' %}" class="btn btn-primary btn-lg">Get Your Best Quote Now <span class="fa fa-arrow-circle-right right"></span></a>
                </div>
                
            </div>

            <!-- slide 3 -->
            <div> 
                <img u="image" src="{{ STATIC_URL }}img/home/03.jpg" />

                <div u=caption t="CLIP|LR" du="900"  style="position:absolute; left:20px; top: 90px; width:500px; height:120px;"> 
               <h1>Protect your property investments with the best value insurance </h1>
                </div>

                 <div u=caption t="L|IB" t2=L d=-900 class="captionBlack"  style="position:absolute; left:320px; top: 180px; width:60px; height:30px;"> 
                <a href="{% url 'motor' %}" class="btn btn-primary btn-lg">Get Your Best Quote Now <span class="fa fa-arrow-circle-right right"></span></a>
                </div>
                
            </div>
            
<!-- slide 4 -->
            <!-- <div>
                <img u="image" src="{{ STATIC_URL }}img/home/04.jpg" />
               
            </div> -->

            <!-- Example to add fixed static share buttons in slider BEGIN -->
            <!-- Remove it if no need -->
            <!-- Share Button Styles -->
            
        </div> 
 
        <!--#region Bullet Navigator Skin Begin -->
        <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
        
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/arrows_bullets.css">
        
        <!-- bullet navigator container -->
        
        <!--#endregion Bullet Navigator Skin End -->
        
        <!--#region Arrow Navigator Skin Begin -->
        <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
      
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora20l" style="top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora20r" style="top: 123px; right: 8px;">
        </span>
        <!--#endregion Arrow Navigator Skin End -->
    </div> 
    <!-- Jssor Slider End -->
{% endblock %}