<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>BestQuote | Get your Best Quotes instantly</title>
        <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template"/>
        <meta name="author" content="htmlcoder.html"/>

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="resources/images/best-icon.png"/>

        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'/>

        <!-- Bootstrap core CSS -->
        <link href="{{ STATIC_URL }}resources/bootstrap/css/bootstrap.css" rel="stylesheet"/>


        <!-- Font Awesome CSS -->
        <link href="{{ STATIC_URL }}resources/fonts/font-awesome/css/font-awesome.css" rel="stylesheet"/>


        <!-- Fontello CSS -->
        <link href="{{ STATIC_URL }}resources/fonts/fontello/css/fontello.css" rel="stylesheet/"/>

        <!-- Plugins -->
        <link href="{{ STATIC_URL }}resources/plugins/magnific-popup/magnific-popup.css" rel="stylesheet"/>

        <link href="{{ STATIC_URL }}resources/css/animations.css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}resources/plugins/owl-carousel/owl.carousel.css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}resources/plugins/owl-carousel/owl.transitions.css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}resources/plugins/hover/hover-min.css" rel="stylesheet"/>		

        <!-- the project core CSS file -->
        <link href="{{ STATIC_URL }}resources/css/style.css" rel="stylesheet" />



        <!-- Custom css --> 
        <link href="{{ STATIC_URL }}resources/css/custom.css" rel="stylesheet"/>
        <style type="text/css">
            .transparent {
                /*background:#EB151E!important;*/
                background:rgba(235, 21, 20, 0.6);
            }
            .tran-icons {
                background:rgba(225, 255, 255, 0.3);
            }
        </style>
    </head>

    <body class="no-trans">

        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop circle"><i class="icon-up-open-big fa fa-angle-up"></i></div>

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">

            <!-- header-container start -->
            <div class="header-container">

                <div class="header-top" style="background: #EB151E;color: #fff;">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2 col-sm-5">
                                <div id="header-top-second"  class="clearfix text-left">
                                    <ul class="list-inline">
                                        <li><i class="fa fa-map-marker"></i>   The Victoria Plot No. 131,North Labone, Accra-Ghana</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-10 col-sm-7">

                                <!-- header-top-second start -->
                                <!-- ================ -->
                                <div id="header-top-second"  class="clearfix text-right">
                                    <ul class="list-inline">
                                        <li><i class="fa fa-phone pr-5 pl-10"></i> +233 030 2 765 086</li>
                                        <li><i class="fa fa-envelope-o pr-5 pl-10"></i> info@bestquotehome.com</li>
                                    </ul>
                                </div>
                                <!-- header-top-second end -->
                            </div>
                        </div>
                    </div>
                </div>

                <header class="header fixed clearfix white-bg">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- header-left start -->
                                <!-- ================ -->
                                <div class="header-left clearfix">
                                    <!-- logo -->
                                    <div id="logo" class="logo">
                                        <a href="index.html"><img id="logo_img" src="{{ STATIC_URL }}resources/images/best-icon.png" alt="The Project"/></a>
                                    </div>
                                </div>
                                <!-- header-left end -->

                            </div>
                            <div class="col-md-9">

                                <!-- header-right start -->
                                <!-- ================ -->
                                <div class="header-right clearfix">

                                    <div class="main-navigation  animated with-dropdown-buttons">

                                        <!-- navbar start -->
                                        <!-- ================ -->
                                        <nav class="navbar navbar-default" role="navigation">
                                            <div class="container-fluid">

                                                <!-- Toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                        <span class="sr-only">Toggle navigation</span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                    </button>

                                                </div>

                                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                    <ul class="nav navbar-nav navbar-right">
                                                    
                                                        <li>
                                                            <a href="{% url 'motor' %}" style="color: #000;">Motor</a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'travel' %}" style="color: #000;">Travel</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" style="color: #000;" data-toggle="modal" data-target="#myModal">Property</a>
                                                        </li>
                                                        <li>
                                                            {% if user.is_authenticated %}
                                                                <a href="{% url 'account' %}">My Account</a> / <a href="{% url 'logout' %}">Logout</a>
                                                            {% else %}
                                                                <a href="{% url 'signin' %}" class="red-color text-capitalize">Sign in</a>
                                                            {% endif %}

                                                        </li>
                                                        <!-- <li>
                                                            <a href="index.html" style="color: #000;">Home</a>
                                                        </li>
                                                        <li>
                                                            <a href="products.html" style="color: #000;">Products</a>
                                                        </li>
                                                        <li >
                                                            <a href="about-us.html" style="color: #000;">About Use</a>
                                                        </li>
                                                        <li>
                                                            <a href="contact-us.html" style="color: #000;">Contact Us</a>
                                                        </li>
                                                        <li>
                                                            <a href="faqs.html" style="color: #000;">FAQ's</a>
                                                        </li>
                                                        <li>
                                                            <a href="login.html" class="red-color text-capitalize">Login</a>
                                                        </li> -->
                                                    </ul>
                                                </div>

                                            </div>
                                        </nav>
                                        <!-- navbar end -->

                                    </div>
                                    <!-- main-navigation end -->	
                                </div>
                                <!-- header-right end -->

                            </div>
                        </div>
                    </div>

                </header>
                <!-- header end -->
            </div>
            <!-- header-container end -->

            <!-- banner start -->
            <!-- ================ -->
            <div class="banner dark-translucent-bg" style="background-image:url('{{ STATIC_URL }}resources/images/page-portfolio-banner.jpg'); background-position: 50% 35%; height: 470px;">


                <div class="container dark-translucent-bg visible-lg visible-md" >
                    <div class="col-md-8  text-center col-md-offset-2 pv-20 transparent " style="margin-top: 50px;margin-bottom: 50px;">
                        <h3 style="font-size:49px;" class="white-color">Get your Best Quotes</h3>
                    </div>

                    <div class="btn-group btn-group-justified products" >
                        <a href="{% url 'motor' %}" class="btn btn-primary white-bg products">
                            <br/>
                            <span class="red-color"><i class="fa fa-car fa-3x"></i></span>
                            <h4 class="red-color product-name">Motor Insurance</h4>
                        </a>
                        <a href="{% url 'travel' %}" class="btn btn-primary white-bg products">
                            <br/>
                            <span class="red-color"><i class="fa fa-globe fa-3x"></i></span>
                            <h4 class="red-color product-name">Travel Insurance</h4>
                        </a>
                        <a href="#" class="btn btn-primary white-bg products" data-toggle="modal" data-target="#myModal">
                            <br/>
                            <span class="red-color"><i class="fa fa-home fa-3x"></i></span>
                            <h4 class="red-color product-name">Property Insurance</h4>
                        </a>
                    </div>
                </div>
                <div class="container dark-translucent-bg visible-sm visible-xs" >
                    <div class="col-md-8  text-center col-md-offset-2 pv-20 transparent " style="margin-top: 50px;margin-bottom: 50px;">
                        <h3 style="font-size:49px;" class="white-color">Get your Best Quotes</h3>
                    </div>

                    <div class="btn-group btn-group-justified products" >
                        <a href="{% url 'motor' %}" class="btn btn-primary white-bg products" title="Motor Insurance">
                            <br/>
                            <span class="red-color"><i class="fa fa-car fa-3x"></i></span>
                            <h6 class="red-color product-name">Motor <br/> Insurance</h6>

                        </a>
                        <a href="{% url 'travel' %}" class="btn btn-primary white-bg products" title="Travel Insurance">
                            <br/>
                            <span class="red-color"><i class="fa fa-globe fa-3x"></i></span>
                            <h6 class="red-color product-name">Travel <br/> Insurance</h6>

                        </a>
                        <a href="#" class="btn btn-primary white-bg products" title="Property Insurance" data-toggle="modal" data-target="#myModal">
                            <br/>
                            <span class="red-color"><i class="fa fa-home fa-3x"></i></span>
                            <h6 class="red-color product-name">Property <br/> Insurance</h6>

                        </a>
                    </div>
                </div>


            </div>

            <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div><center><h3> How does it work ?</h3></center> </div>
                </div><br/>
                <div class="row">
                    <div class="col-md-1 ">
                        

                    </div>
                    <div class="col-md-3 ">
                        <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <h2 class="red-color">Step 1</h2>
                            <span class="icon dark-bg circle"><i class="fa fa-file-text"></i></span>
                            <div class="separator clearfix"></div>
                            <h5>Provide Required Information &amp; get Quotes</h5>
                        </div>
                    </div>
                    <!-- <div class="col-md-2 ">
                        <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <span class="icon dark-bg circle"><i class="fa fa-file-text"></i></span>
                            <div class="separator clearfix"></div>
                            <h5>Select Your BestQuote</h5>
                        </div>
                    </div> -->
                    <div class="col-md-3 ">
                        <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <h2 class="red-color">Step 2</h2>
                            <span class="icon dark-bg circle"><i class="fa fa-check"></i></span>
                            <div class="separator clearfix"></div>
                            <h5>Select your best quote &amp; confirm your details</h5>

                        </div>
                    </div>
                    <!-- <div class="col-md-2">
                        <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <span class="icon dark-bg circle"><i class="fa fa-credit-card"></i></span>
                            <div class="separator clearfix"></div>
                            <h5>Select Your Payment Method &amp; Pay</h5>
                        </div>
                    </div> -->
                    <div class="col-md-3">
                        <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <h2 class="red-color">Step 3</h2>
                            <span class="icon dark-bg circle"><i class="fa fa-send"></i></span>
                            <div class="separator clearfix"></div>
                            <h5>Select your payment method, make payment &amp; receive your insurance cover</h5>
                        </div>
                    </div>
                </div>
                <br>
                </div>
                <!-- How do I pay begin -->
                <div class="col-md-12">
                <h3 class="text-center">How do I pay?</h3>
                <div>
                <div class="row">
                    <div class="col-md-4">
                    <div class="text-center"><i class="fa fa-credit-card  fa-5x"></i></div>
                    <p class="title text-center">Pay online via Debit/Credit card</p> 
                    <center>
                        
                    
                    <span class="text-center"><i class="fa fa-cc-visa fa-2x "></i></span>
                    <span class="text-center"><i class="fa fa-cc-mastercard fa-2x text-center"></i></span>
                    </center>
                </div>
                  <div class="col-md-4">
                    <div class="text-center"><i class="fa fa-bank  fa-5x"></i></div>
                    <p class="title text-center">Pay via cash Deposit at partner banks</p> 
                    <center>
                    <span class="text-center"> <img style="height:30px;width:39px" class="center-block" src="{{ STATIC_URL }}resources/images/gtbank-small.png"></span>
                    
                    </center>
                </div>
                 <div class="col-md-4">
                    <div class="text-center"><i class="fa fa-mobile  fa-5x"></i></div>
                    <p class="title text-center">Pay via Mobile Money<br/>
                        (coming soon)</p> 
                    
                </div>
               
               
                </div>

                </div>

                </div>
                <!-- How do I pay end -->

<br/><br/>

                <!--About us begin -->
                <div class="col-md-12">
                <br/><br/>
                <h3 class="text-center">About Us</h3>
                <p class="text-center">
                    BestQuote is a financial services comparison platform developed by BestQuote (Ghana) Limited.
We provide Motor, Travel and Property insurance from participating insurance companies in Ghana, underwritten by <a href="http://www.mginsurancebrokers.com/" class="red-color">M &amp;G Insurance Brokers</a>

                </p>

                </div>
                <!-- About us end -->

                <!--Our partners begin -->
                <div class="col-md-12">
                <h3 class="text-center">Our Partners</h3>

                </div>
                <!-- Our partners end -->

            </div>

            <section class="light-gray-bg pv-30 padding-bottom-clear clearfix">

            </section>


            <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
            <!-- ================ -->
            <footer id="footer" class="clearfix">

                <!-- .footer start -->
                <!-- ================ -->
                <div class="footer">
                    <div class="container">
                        <div class="footer-inner">
                            <div class="row">
                                <div class="col-md-8 centered col-md-offset-2">
                                    <div class="footer-content text-center padding-ver-clear">
                                        <div class="logo-footer p-40"><img id="logo-footer" class="center-block" src="{{ STATIC_URL }}resources/images/best-icon.png" alt="">
                                            <h4>The most convenient way to purchase your insurance</h4>
                                        </div>
                                        <ul class="list-inline mb-20">
                                           <!--  <li><i style="color: #EB151E;" class="text-default fa fa-map-marker pr-5"></i> The Victoria Plot No. 131,North Labone, Accra-Ghana</li>
                                            <li><a href="tel:+00 1234567890" class="link-dark"><i style="color: #EB151E;"  class="text-default fa fa-phone pl-10 pr-5"></i> +233 030 2 765 086</a></li>
                                            <li><a href="mailto:info@ayatechnologies.net" class="link-dark"><i style="color: #EB151E;" class="text-default fa fa-envelope-o pl-10 pr-5"></i> info@abestquotehome.com</a></li> -->
                                            <li><a href="{% url 'about_page' %}" class="red-color text-capitalize">About Us </a>&nbsp;&nbsp;&nbsp;|</li>
                                            <li><a href="{% url 'faq_page' %}" class="red-color text-capitalize">FAQ </a>&nbsp;&nbsp;&nbsp;|
                                            </li>
                                            <li><a href="{% url 'contact_page' %}" class="red-color text-capitalize">Contact Us </a>&nbsp;&nbsp;&nbsp;|

                                            </li>

                                            <li><a href="{% url 'contact_page' %}" class="red-color text-capitalize">Privacy Policy </a>&nbsp;&nbsp;&nbsp;|

                                            </li>

                                            <li><a href="{% url 'contact_page' %}" class="red-color text-capitalize">Terms of use</a>
                                            

                                            </li>
                                            
                                        </ul>
                                        <div class="separator"></div>
                                        <p class="text-center margin-clear">
                                            Copyright © 2015 - <a target="_blank" href="http://bestquotehome.com" style="font-weight: bold;color: #000;">BestQuote (Ghana) Ltd.</a> All Rights Reserved
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .footer end -->

            </footer>            <!-- footer end -->

            <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        
          
        
        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><p style="font-weight: bold;" class="red-color">Coming Soon!</p></center>
        </div>
        
      </div>
      
    </div>
  </div>

        </div>
        <!-- page-wrapper end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster -->
        <!-- ================================================== -->
        <!-- Jquery and Bootstap core js files -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}resources/bootstrap/js/bootstrap.min.js"></script>

        <!-- Modernizr javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/modernizr.js"></script>


        <!-- Magnific Popup javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Appear javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/waypoints/jquery.waypoints.min.js"></script>

        <!-- Count To javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/jquery.countTo.js"></script>

        <!-- Parallax javascript -->
        <script src="{{ STATIC_URL }}resources/plugins/jquery.parallax-1.1.3.js"></script>

        <!-- Contact form -->
        <script src="{{ STATIC_URL }}resources/plugins/jquery.validate.js"></script>

        <!-- Owl carousel javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/owl-carousel/owl.carousel.js"></script>

        <!-- SmoothScroll javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/jquery.browser.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}resources/plugins/SmoothScroll.js"></script>

        <!-- Initialization of Plugins -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/js/template.js"></script>

        <!-- Custom Scripts -->
        <script type="text/javascript" src="{{ STATIC_URL }}resources/js/custom.js"></script>
        <!-- Color Switcher (Remove these lines) -->
    </body>

</html>
