{% extends "base.html" %}

{% load i18n %}

{% block layout %}home{% endblock %}

{% block meta.title %}
	{{ block.super }} | Get the best insurance quote instantly!
{% endblock %}

{% block content %}
	<h2>Don't pay more than you<br />have to for your insurance</h2>
	<h3 class="text-right">Enter your details, select the best quote,<br />pay and receive your cover note instantly!</h3>
	<div class="text-right" style="margin:25px 0 0;">
		<a href="{% url 'motor' %}" class="btn btn-primary btn-lg">Get Your Best Quote Now <span class="fa fa-arrow-circle-right right"></span></a>
	</div>
{% endblock %}