{% extends "base.html" %}

{% load i18n navigation %}

{% block meta.title %}
    About | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block promo %}{% endblock %}

{% block content %}

<!-- ================ -->
            <div class="banner dark-translucent-bg transparent" style="background-image:url('images/background-img-3.jpg'); background-position: 50% 30%;">
                <!-- breadcrumb start -->
                <!-- breadcrumb end -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 text-center col-md-offset-2 pv-20">
                            <h1 class="page-title text-center">{% trans 'Success' %}</h1>
                            <div class="separator"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- banner end -->

            <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-12 space-bottom">
                            <div class="row">
                                <center>
									Results of Transaction:
									
									
                                </center>

                            </div>
                        </div>
                        <!-- main end -->
                    </div>
                </div>
            </section>
            <!-- main-container end -->

{% endblock %}