{% extends "base.html" %}

{% load i18n navigation %}

{% block meta.title %}
	About | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block promo %}{% endblock %}

{% block content %}
	<article>
		<h1>{% trans 'Terms of Use' %}</h1>
		<dl>
			<dt><h3>What is BestQuote Online Insurance?</h3></dt>
			<p>
			BestQuote is an electronic platform administered under the license of M&G Insurance Brokers to provide 24/7 online insurance quotations and online policy issuing on the internet.
			</p>

			<p>
			By accepting to use this platform you are automatically engaging the services of Marine & General Insurance Brokers Ltd (M&G Insurance Brokers) who are the licensed operators of this platform.</p>

			<p>M&G Insurance Brokers is a licensed insurance intermediary firm with over Four decade of experience in the insurance Market.  The company is Ghana’s first Insurance Broking firm established in 1969.</p>

			<p>You agree that the broker will handle and process all your claims on your behalf against the selected insurance company. You also agree that you are responsible for your choice of Insurance Company on the platform and that neither the Broker nor Best Quote Ghana Limited shall be liable for your choice of insurance company.</p>

			<p>Your agree to provide accurate information and act with utmost good faith. The Insurance Company reserves the right to repudiate the claim if it is detected that you misrepresented any information provided.</p>

			<p>You agree that until you have effected payment of your premium quote, you have no cover of insurance.</p>
			<p>You agree to bear the cost of any electronic transfer platform used for the settlement of the premium.</p>


			</ul>

			</p>


		</dl>
	</article>
{% endblock %}