{% extends "base.html" %}

{% load i18n %}

{% block layout %}travel{% endblock %}

{% block meta.title %}
	{% trans 'Travel Insurance' %} | {{ block.super }}
{% endblock %}

{% block extrascript %}
	<script src="{{ STATIC_URL }}js/forms.js"></script>

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
{% endblock %}