{% extends "ghana/travel/base.html" %}

{% load i18n bootstrap humanize %}

{% block content %}
	{% with active=2 %}
		{% include 'includes/step-by-step_travel.html' %}
	{% endwith %}
	<article>
		<h1>Congratulations!</h1>
		<div class="subheading">You have successfully registered your proposal. You will receive a confirmation e-mail with your details.<br />Please keep it safe for later reconciliation.</div>
		<div class="subheading">The last step is to make payment for your selected policy. Choose your preferred payment method below.</div>
		<!-- <div class="alert alert-warning">
			<i class="icon-warning-sign"></i> The button below will direct you to the payment site where you can select your preferred type of payment!
		</div> -->
		<div>
		<!-- <center><strong>Total Premium Due: GHS 1.0 {{ vpc_Currency }} {{ vpc_Amount }}</strong></center><br/> -->
		<center><strong>Total Premium Due: {{ vpc_Currency }} {{ vpc_Amount }} </strong></center><br/>

		</div>

		<div class="col-md-4">
		<form action="https://migs.mastercard.com.au/vpcpay" method="get" class="form-horizontal">

			<input type="hidden" name="vpc_AccessCode" value={{vpc_AccessCode }} />
			<input type="hidden" name="vpc_Amount" value={{ vpc_Amount }} />
			<!-- <input type="hidden" name="vpc_Amount" value="100" /> -->
			<input type="hidden" name="vpc_Command" value={{ vpc_Command }} />
			<input type="hidden" name="vpc_Currency" value={{ vpc_Currency }} />
			<!-- <input type="hidden" name="vpc_Currency" value="GHS" /> -->
			<input type="hidden" name="vpc_Locale" value={{ vpc_Locale }} />
			<input type="hidden" name="vpc_MerchTxnRef" value={{ vpc_MerchTxnRef }} />
			<input type="hidden" name="vpc_Merchant" value={{ vpc_Merchant }} />
			<input type="hidden" name="vpc_OrderInfo" value={{ vpc_OrderInfo }} />
			<input type="hidden" name="vpc_ReturnURL" value={{ vpc_ReturnURL }} />
			<input type="hidden" name="vpc_Version" value={{ vpc_Version }} />
			<input type="hidden" name="vpc_SecureHash" value={{ vpc_SecureHash }} />
			<center><button type="submit" class="btn btn-primary">Debit/Credit Card Payment</button>
			<br/><img u="image" src="{{ STATIC_URL }}img/cards.png" /></center>
		</form>
		</div>

		<div class="col-md-4">
		<form>
			<button type="submit" class="btn btn-primary">Cash Payment</button>

		</form>
		</div>

		<div class="col-md-4">
		<form>
			<button type="submit" class="btn btn-primary">Mobile - Money Payment</button>

		</form>
		</div>
	</article>
{% endblock %}