{% extends "ghana/travel/base.html" %}

{% load i18n bootstrap humanize %}

{% block content %}
    <!-- {% with active=2 %}
        {% include 'includes/step-by-step_travel.html' %}
    {% endwith %} -->
<div class="container">
                <h3 class="red-color">Congratulations!</h3>

            </div>
            <div class="container">
                <!-- <form role="form" title="good"> -->
                    <p>
                        You have successfully registered your proposal. You will receive a confirmation e-mail with your details.
                        Please keep it safe for later reconciliation.
                    </p>

                    
                    <center>
                    <p class="red-color">
                    <strong>Total Premium Due: {{ vpc_Currency }} {{ vpc_Amount }} </strong><br/>
                       <em> Please choose your preferred payment means below, to complete your transaction. <br/><strong>(You will be redirected to a payment page.)</strong></em>
                    </p>
                    </center>
                       
                <!-- </form> -->
				<!-- live url -->
            <form action="https://migs.mastercard.com.au/vpcpay" method="get" class="form-horizontal">
				
            <!-- <form action="https://migs-mtf.mastercard.com.au/vpcpay" method="get" class="form-horizontal"> -->
			<input type="hidden" name="vpc_AccessCode" value={{vpc_AccessCode }} />
            <input type="hidden" name="vpc_Amount" value={{ vpc_Amount }} />
            <!-- <input type="hidden" name="vpc_Amount" value="100" /> -->
            <input type="hidden" name="vpc_Command" value={{ vpc_Command }} />
            <input type="hidden" name="vpc_Currency" value={{ vpc_Currency }} />
            <!-- <input type="hidden" name="vpc_Currency" value="GHS" /> -->
            <input type="hidden" name="vpc_Locale" value={{ vpc_Locale }} />
            <input type="hidden" name="vpc_MerchTxnRef" value={{ vpc_MerchTxnRef }} />
            <input type="hidden" name="vpc_Merchant" value={{ vpc_Merchant }} />
            <input type="hidden" name="vpc_OrderInfo" value={{ vpc_OrderInfo }} />
            <input type="hidden" name="vpc_ReturnURL" value={{ vpc_ReturnURL }} />
            <input type="hidden" name="vpc_Version" value={{ vpc_Version }} />
            <input type="hidden" name="vpc_SecureHash" value={{ vpc_SecureHash }} />
            <center>
            <button type="submit" class="btn btn-danger red-bg">Debit/Credit Card <i class="fa fa-credit-card"></i></button>

            <br/><img u="image" src="{{ STATIC_URL }}img/cards.png" /></center>
            </form>

            </div>

{% endblock %}