{% extends "ghana/travel/base.html" %}

{% load i18n bootstrap %}

{% block content %}
	{% with active=1 %}
		{% include 'includes/step-by-step_travel.html' %}
	{% endwith %}
	<article>
		<h1>{% trans 'Travel Insurance' %} <small>| Step 1. Trip Information</small></h1>
		<div class="subheading">Provide your details below to receive your quote.</div>
		<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
			{% csrf_token %}

			<div class="row">
				<div class="col-md-12">
					<fieldset class="section described">
					<h3>Customer &amp; Trip Info</h3>
					<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
						{% if traveller.non_field_errors %}
							<div class="form-group alert alert-danger">
								{% for error in traveller.non_field_errors %}
									<p>{{ error }}</p>
								{% endfor %}
							</div>
						{% endif %}

						{% for field in traveller %}
							<div class="form-group{% if field.errors %} has-error{% endif %} col-md-6">
								<div class="control-label col-sm-5">
									{{ field.label_tag }}
								</div>
								<div class="col-sm-7">
									{{ field|addclass:'form-control' }}
									{% include 'includes/help-block.html' with field=field %}
								</div>
							</div>
						{% endfor %}

						{% for field in trip %}
							<div class="form-group{% if field.errors %} has-error{% endif %} col-md-6" >
								<div class="control-label col-sm-5">
									{{ field.label_tag }}
								</div>
								<div class="col-sm-7">
									{{ field|addclass:'form-control' }}
									{% include 'includes/help-block.html' with field=field %}
								</div>
							</div>
						{% endfor %}
						
						<!-- block for additional fields on form -->
						{% if trip.non_field_errors %}
							<div class="form-group alert alert-danger">
								{% for error in trip.non_field_errors %}
									<p>{{ error }}</p>
								{% endfor %}
							</div>
						{% endif %}

						<div class="form-group form-actions">
							<div class="col-sm-offset-5 col-md-8">
								<button type="submit" class="btn btn-primary ">{% trans 'Get Your Best Quote!' %}</button>
							</div>
						</div>
					</fieldset>
				</div>
				
			</div>

		
		</form>
	</article>
{% endblock %}