{% extends "ghana/travel/base.html" %}

{% load i18n bootstrap humanize %}

{% block content %}
   <!--  {% with active=3 %}
        {% include 'includes/step-by-step_travel.html' %}
    {% endwith %} -->

<form action="{{ request.build_absolute_uri }}" method="post" role="form">
                        <div class="row light-gray-bg">
                            <div class="col-md-4 col-lg-offset-4">
                                <h4 class="red-color">Personal Information</h4>
                            </div>

                            <div class="col-md-4 col-lg-offset-4 ">
                                <h6>First Name : <span class="text-muted"> {{ Step1.first_name }} </span></h6>
                                <h6>Last Name : <span class="text-muted"> {{ Step1.last_name }} </span></h6>
                                <h6>Mobile Number : <span class="text-muted"> {{ Step1.telephone }} </span></h6>
                                <h6>E-mail Address : <span class="text-muted">{{ Step1.email }}</span></h6>
                                <h6>Passport Number : <span class="text-muted">{{ Step1.passport_num }}</span></h6>
                                <h6>Trip Start Date : <span class="text-muted">{{ Step1.trip_start }}</span></h6>
                                <h6>Trip End Date : <span class="text-muted">{{ Step1.trip_end }}</span></h6>
                               
                                <a href="{% url 'travel_step1' %}" class="btn btn-danger btn-sm red-bg text-center"> <i class="fa fa-pencil"> </i> {% trans "Edit" %}</a>
                                <br/>
                                <br/>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="row light-gray-bg">
                            <div class="col-md-4 col-lg-offset-4">
                                <h4 class="red-color">Insurance Package</h4>
                            </div>

                            <div class="col-md-5 col-lg-offset-4 ">
                                <h6>Coompany :<span class="text-muted"> {{ Step2.company }}   </span></h6>
                                <h6 >Premium <span class="text-muted red-color"> {{ Step2.value }} </span></h6>
                                <h6>Medical Cover <span class="text-muted"> {{ Step2.medical }} </span></h6>
                                <a href="{% url 'travel_step2' %}" class="btn btn-danger btn-sm red-bg text-center"> <i class="fa fa-pencil"> </i> {% trans "Edit" %}</a>
                                <br/>
                                <br/>
                            </div>
                        </div>
                       
                        <br/>
                        <br/>
                        <div class="row light-gray-bg">
                        {% csrf_token %}
                            <div class="col-md-8 col-lg-offset-4">
                                <br/>
                               By submitting this proposal I hereby warrant that the statements and particulars made on this page
                               are true and I hereby agree that this Declaration shall be held to be promissory and of continuing effect
                               and shall form the basis of and be deemed to be incorporated in the Contract between me and BestQuote (Ghana) Ltd., and I are willing
                               to accept a policy subject to the Terms prescribed by the Company therein and to pay the premium thereon.
                              <br/><br/> {{ form.correct }}
                                <label for="id_{{ form.correct.name }}">Yes, data is correct.</label>
                                {% include 'includes/help-block.html' with field=form.correct %}
                                <br/>
                                <br/>
                                
                                <button type="submit" class="btn btn-danger red-bg"> Submit Proposal <i class="fa fa-send"></i> </button>
                                <br/>
                                <br/>
                            </div>
                            <br/>
                        </div>

                        <br/><br/>

                    </form>
{% endblock %}