{% extends "ghana/travel/base.html" %}
{% load i18n bootstrap %}

{%block heading %}
<h3 class="red-color">{% trans 'Travel Insurance' %}  <span class="text-muted"><strong> | Step 1. Trip Information</strong></span></h3>
    <p><span class="fa fa-info-circle"></span><small><i> Provide your details below to receive your quote.</i></small></p>
{% with active=1 %}
    {% include 'includes/step-by-step_travel.html' %}
{% endwith %}

{% endblock %}


{% block content %}

      <!-- <form role="form"> -->
      <form action="{{ request.build_absolute_uri }}" method="post" role="form">
      {% csrf_token %}
                        <div class="row light-gray-bg">
                            <div class="col-lg-12">
                                <h4 class="red-color">Customer &amp; Trip Info</h4>
                                <p><span class="fa fa-info-circle"></span><small><i> Please provide us with some more information about you.</i></small></p>
                            </div>

                            <div class="col-md-6 ">
                                {% if traveller.non_field_errors %}
                                	<div class="form-group alert alert-danger">
										{% for error in traveller.non_field_errors %}
											<p>{{ error }}</p>
										{% endfor %}
									</div>
								{% endif %}

								{% for field in traveller %}
									<div class=" form-group{% if field.errors %} has-error{% endif %}">
										<div class="control-label">
											{{ field.label_tag }}
										<!-- </div>
										<div class="form-control"> -->
											{{ field|addclass:'form-control' }}
											{% include 'includes/help-block.html' with field=field %}
										</div>
									</div>
								{% endfor %}

                            </div>

                            <div class="col-md-6">
                            	{% if trip.non_field_errors %}
                                	<div class="form-group alert alert-danger">
										{% for error in trip.non_field_errors %}
											<p>{{ error }}</p>
										{% endfor %}
									</div>
								{% endif %}

								{% for field in trip %}
									<div class="form-group{% if field.errors %} has-error{% endif %}">
										<div class="control-label">
											{{ field.label_tag }}
										<!-- </div>
										<div class="form-control"> -->
											{{ field|addclass:'form-control' }}
											{% include 'includes/help-block.html' with field=field %}
										</div>
									</div>
								{% endfor %}
                                
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <!-- <a href="travel-step-2.html" class="btn red-bg center-block white-color">Get Your Best Quote</a> -->
                                <button type="submit" class="btn red-bg center-block white-color">{% trans 'Get Your Best Quote!' %}</button>
                            </div>
                            <div class="col-md-5"></div>
                        </div>

                    </form>
{% endblock %}