{% extends "ghana/travel/base.html" %}

{% load i18n thumbnail %}

{% block content %}
    <!-- {% with active=2 %}
        {% include 'includes/step-by-step_travel.html' %}
    {% endwith %} -->
                <div class="table-responsive"> 
                <form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="field{% if company.company.errors %} alert alert-danger{% endif %}">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>No.</th>
                                <th></th> -->
                                <th colspan="2"><strong>Insurance Provider</strong></th>
                                <th><strong>Medical Cover</strong></th>
                                <th><strong>Excess</strong></th>
                                <th><strong>Premium</strong></th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center;">

                    {% for radio, items in policies %}

                    <tr>
                        <td class="logo">
                            {%thumbnail items.logo "x60" as im %}
                                <img src="{{ im.url }}" height="60" alt="" />
                            {% empty %}

                                &nbsp;
                            {% endthumbnail %}
                            </td>
                            <td>

                                <h3>{{ radio.tag }} {{ radio.choice_label }}</h3> - {{ items.ptype}}
                            
                        </td>
                        <!--<td>
                            {{ items.premium }}-->
                        </td>

                        <td>
                            <h5 class="text-center-xs">{{ items.max_cover }}</h5>
                        </td>

                        <td>
                            <h5 class="text-center-xs">{{ items.excess }}</h5>
                        </td>

                        <td>
                        {{ items.premium }}
                        <h5 class="text-center-xs"><button type="button" class="btn btn-primary">{% trans "Select Policy" %} <!-- <span class="fa fa-chevron-right right"></span> --></button></h5>
                        </td>

                        {% empty %}
                        <tr><td colspan="4">No Policies matching your chosen criteria. Please adjust criteria and retry.</td></tr>

                        {% endfor %}
                            




                           
                            

                        </tbody>
                    </table>
                    {{ company.company.errors }}
                    

                <div class="form-group payment-option{% if company.q_type.errors %} alert alert-danger has-error{% endif %}">
                {{ company.q_type.label_tag }}
                <ul class="radio-list">
                    {% for radio in company.q_type %}
                        <li>{{ radio.tag }} <label>{{ radio.choice_label }}</label></li>
                    {% endfor %}
                </ul>
                {% include 'includes/help-block.html' with field=company.q_type %}
            </div>

            <div class="row light-gray-bg">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        <a href="{% url 'travel_step1' %}" class="btn btn-danger btn-lg red-bg"><i class="fa fa-arrow-left"></i> {% trans "Back" %} </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-lg-offset-8 col-md-offset-8  col-sm-6 col-xs-6">
                        <!-- <a href="travel-step-3.html" class="btn btn-danger btn-lg btn-hvr red-bg">Next <i class="fa fa-arrow-right"></i></a> -->
                        <button type="submit" class="btn btn-primary pull-right next_step">{% trans "Next" %} <span class="fa fa-chevron-right right">
                    </div>
                </div>
                </form>
                </div>

{% endblock %}