{% extends "ghana/travel/base.html" %}

{% load i18n bootstrap humanize %}

{% block content %}
	{% with active=3 %}
		{% include 'includes/step-by-step_travel.html' %}
	{% endwith %}
	<article>
		<h1>{% trans 'Travel Insurance' %} <small>| Step 3. {% trans 'Confirmation' %}</small></h1>
		<div class="subheading">Please check if provided data is correct!</div>
		<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
			<div class="row">
				<div class="col-md-11">
					<fieldset class="section described confirm-block">
						<table class="table">
							<tbody>
								<tr>
									<th>First name:</th>
									<td>{{ Step1.first_name }}</td>
								 </tr>
								<tr>
									<th>Last name:</th>
									<td>{{ Step1.last_name }}</td>
								</tr>
								<tr>
									<th>Mobile number:</th>
									<td>{{ Step1.telephone }}</td>
								</tr>
								<tr>
									<th>E-mail address:</th>
									<td>{{ Step1.email }}</td>
								</tr>
								<tr>
									<th>Passport Number:</th>
									<td>{{ Step1.passport_num }}</td>
								</tr>
								
								<tr>
									<th>Trip Start Date:</th>
									<td>{{ Step1.trip_start }}</td>
								</tr>
								<tr>
									<th>Trip End Date:</th>
									<td>{{ Step1.trip_end }}</td>
								</tr>
							
							</tbody>
						</table>
					</fieldset>
				</div>
				 <div class="col-md-1 description">
					<h3>Personal &amp; Trip Details</h3>
					<a href="{% url 'travel_step1' %}" class="btn btn-default btn-sm"><span class="fa fa-pencil-square left"></span> {% trans "Edit" %}</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-11">
					<fieldset class="section described confirm-block">
						<table class="table">
							<tbody>
								<tr>
									<th>Insurance Package:</th>
									<td>
										Company: {{ Step2.company }} <br />
										Premium: <strong style="color:#E30000;">{{ Step2.value }}</strong><br/>
										Medical Cover: {{ Step2.medical }}
									</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</div>
				 <div class="col-md-1 description">
					<h3>Quote selected</h3>
					<a href="{% url 'travel_step2' %}" class="btn btn-default btn-sm"><span class="fa fa-pencil-square left"></span> {% trans "Edit" %}</a>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-11">
					<fieldset class="section confirm-block">
						{% csrf_token %}
						<div class="form-group{% if form.correct.errors %} has-error{% endif %}">
							<div class="col-sm-12 checkbox">
								<p>By submitting this proposal I hereby warrant that the statements and particulars made on this page are true and I hereby agree that this Declaration shall be held to be promissory and of continuing effect and shall form the basis of and be deemed to be incorporated in the Contract between me and BestQuote (Ghana) Ltd., and I are willing to accept a policy subject to the Terms prescribed by the Company therein and to pay the premium thereon.</p>
								{{ form.correct }}
								<label for="id_{{ form.correct.name }}">Yes, data is correct.</label>
								{% include 'includes/help-block.html' with field=form.correct %}
							</div>
						</div>
						<script>
						//alert(fields);

						</script>
						<div class="form-group form-actions">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary next_step">{% trans "Submit proposal" %} <span class="fa fa-chevron-right right"></span></button>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</form>
	</article>
{% endblock %}