{% extends "ghana/travel/base.html" %}

{% load i18n thumbnail %}

{% block content %}
	{% with active=2 %}
		{% include 'includes/step-by-step_travel.html' %}
	{% endwith %}
	<article>
		<h1>{% trans 'Travel Insurance' %} <small>| {% trans 'Step 2. Your Quotes' %}</small></h1>
		<!--<div class="subheading">Provide your details, choose the best quote, pay and instantly receive a cover note! It's that simple.</div>-->
		<form action="{{ request.build_absolute_uri }}" method="post" class="form-horizontal">
			{% csrf_token %}
			<div class="field{% if company.company.errors %} alert alert-danger{% endif %}">
			<h2><strong><div>Duration Selected:</div></strong></h2>
				<table class="table rank">
					<thead>
						<tr>
							
							<th colspan="2">Insurance Provider</th>
							<!--<th>Premium</th>-->
							<th>Medical Cover</th>
							<th>Excess</th>
							<th>Premium</th>
						</tr>
					</thead>
					<tbody style="text-align:center;">
					
					{% for radio, items in policies %}

					<tr>
						<td class="logo">
							{%thumbnail items.logo "x60" as im %}
								<img src="{{ im.url }}" height="60" alt="" />
							{% empty %}

								&nbsp;
							{% endthumbnail %}
							</td>
							<td>

								<h3>{{ radio.tag }} {{ radio.choice_label }}</h3> - {{ items.ptype}}
							
						</td>
						<!--<td>
							{{ items.premium }}-->
						</td>

						<td>
							{{ items.max_cover }}
						</td>

						<td>
							{{ items.excess }}
						</td>

						<td>
						{{ items.premium }}
						<button type="button" class="btn btn-primary">{% trans "Select Policy" %} <span class="fa fa-chevron-right right"></span></button>
						</td>

						{% empty %}
						<tr><td colspan="4">No Policies matching your chosen criteria. Please adjust criteria and retry.</td></tr>

						{% endfor %}

					

				<!--	<tr>
					<td>Vangurard - CICL</td>
					 <td>US$ 35</td> 
					 <td> US$ 50,000.00</td> 
					 <td> US$ 50</td>
					 </tr>

					 <tr>
					<td>Vangurard - IHI</td>
					 <td>US$ 35</td> 
					 <td> US$ 300,000.00</td> 
					 <td> US$ 50</td>
					 </tr>-->


						
					</tbody>
				</table>
				{{ company.company.errors }}
			</div>
			<div class="form-group payment-option{% if company.q_type.errors %} alert alert-danger has-error{% endif %}">
				{{ company.q_type.label_tag }}
				<ul class="radio-list">
					{% for radio in company.q_type %}
						<li>{{ radio.tag }} <label>{{ radio.choice_label }}</label></li>
					{% endfor %}
				</ul>
				{% include 'includes/help-block.html' with field=company.q_type %}
			</div>
			<fieldset class="section" style="margin-bottom:0;">
				<div class="form-group form-actions">
					<div class="col-sm-6">
						<a href="{% url 'travel_step1' %}" class="btn btn-default"><span class="fa fa-chevron-left left"></span> {% trans "Back" %}</a>
					</div>
					<div class="col-sm-6">
						<button type="submit" class="btn btn-primary pull-right next_step">{% trans "Next" %} <span class="fa fa-chevron-right right"></span></button>
					</div>
				</div>
			</fieldset>
		</form>
	</article>
{% endblock %}