{% spaceless %}

	{% load django_tables2 %}

	{% block table %}
		<div class="table2">
			<table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
				{% block table.thead %}
					<thead>
						<tr>
						{% for column in table.columns %}
							{% if column.orderable %}
								<th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
							{% else %}
								<th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
							{% endif %}
						{% endfor %}
						</tr>
					</thead>
				{% endblock %}
				{% block table.tbody %}
					<tbody>
						{% for row in table.page.object_list|default:table.rows %}
							{% block table.tbody.row %}
								<tr class="{{ forloop.counter|divisibleby:2|yesno:"even,odd" }}">
									{% for column, cell in row.items %}
										<td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
									{% endfor %}
								</tr>
							{% endblock %}
						{% empty %}
							{% if table.empty_text %}
								{% block table.tbody.empty_text %}
									<tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
								{% endblock %}
							{% endif %}
						{% endfor %}
					</tbody>
				{% endblock %}
				{% block table.tfoot %}
					<tfoot></tfoot>
				{% endblock %}
			</table>
		</div>
	{% endblock %}

	{% if table.page %}
		{% with table.page.paginator.count as total %}
			{% with table.page.object_list|length as count %}
				{% block pagination %}
					{% if table.page.has_previous or table.page.has_next %}
						<nav class="page-nav">
							<ul class="pagination">
								{% if table.page.has_previous %}
									{% block pagination.previous %}
										<li class="previous">
											<a href="{% querystring table.prefixed_page_field=1 %}"><i class="fa fa-step-backward"></i></a>
										</li>
										<li class="previous">
											<a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"><i class="fa fa-caret-left fa-lg"></i></a>
										</li>
									{% endblock %}
								{% endif %}
								{% if table.page.has_previous or table.page.has_next %}
									{% block pagination.current %}
										<li class="current disabled">
											<a>
												<form action="{{ request.path }}">
													Page 
													{% if request.GET.per_page %}
														<input type="hidden" name="per_page" value="{{ request.GET.per_page }}" />
													{% endif %}
													<input type="text" name="page" value="{{ table.page.number }}" class="form-control" />
								 					of {{ table.paginator.num_pages }}
								 				</form>
								 			</a>
										</li>
									{% endblock %}
								{% endif %}
								{% if table.page.has_next %}
									{% block pagination.next %}
										<li class="next">
											<a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}"><i class="fa fa-caret-right fa-lg"></i></a>
										</li>
										<li class="next">
											<a href="{% querystring table.prefixed_page_field=table.paginator.num_pages %}"><i class="fa fa-step-forward"></i></a>
										</li>
									{% endblock %}
								{% endif %}
							</ul>
						</nav>
					{% endif %}
				{% endblock %}
			{% endwith %}
		{% endwith %}
	{% endif %}

{% endspaceless %}
